body.login {
        background-color: rgb(144, 145, 142);
        color: #fff;
}

div.logoutlink {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    padding: 0px;
    line-height: 40px;
    position: relative;
    z-index: 100;
}
.dropdown-menu {
    position: absolute;
    top: 0px;
    right: -10px;
    opacity: 0;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.logoutlink:hover .dropdown-menu {
    opacity: 1;
}
.dropdown-menu li {
    background-color: #231f20;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    white-space: nowrap;
    cursor: pointer;
}
.dropdown-menu li.header {
    background: none;
}

div.pagetitle {
    position: absolute;
    line-height: 40px;
    margin-left: 300px;
}
 
select.client-picker {
    position: absolute;
    left: 700px;
    top: 8px;
}

div.list_header {
	background-color: #444;
	width: 322px;
}

div.list_wrap {
	max-height: 200px;
	width: 400px;
	overflow: scroll;
	border: 1px solid #000;
	margin-bottom: 8px;
}

ul.items_list {
	width: 400px;
}

ul.items_list li {
	padding: 10px;
	height: 20px;
}

div.objectform {
	position: absolute;
	left: 500px;
	width: 500px;
	border: 1px solid #000;
}

div#locationform {
	top: 134px;
}

div.request_delivery {
    width: 410px;
}
div#total_cases {
    float: left;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    text-align: right;
    padding: 0px 20px;
    border: 1px solid #aaa;
    background-color: #e0e0e0;
    width: 30px;
}
 
div.request_delivery .label {
    float: left;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}
 
ul.mode_toggle {
	width: auto;
}

#request_details {
    margin: 0px auto;
}
#request_details td,
#request_details th {
    font-size: 10px;
    padding: 5px;
}
 
div.table_wrap {
    height: 400px;
    overflow: scroll;
    margin-bottom: 10px;
}

.infotable input {
        margin: 1px;
        height: 33px;
        font-size: 16px;
        border: none;
        box-shadow: none;
    outline: none;
}

table.infotable.alternating > tbody > tr:nth-child(even) input,
table.infotable.alternating > tbody > tr:nth-child(odd) input {
        background-color: #fff;
        color: #000;
}

.zero-inventory-warning {
	display: none;
	color: #ff0000;
	margin: 20px;
}

#chart_div {
	margin-bottom: 20px;
}

.login-form {
        position: absolute;
        width: 30%;
        height: 300px;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -15%;
        color: #fff;
}
.login-form h1 {
        color: #fff;
}

.login-form .input {
        margin-top: 30px;
        border-color: #fff;
}

.login-form input[type=text],
.login-form input[type=password] {
        margin-left: 0px;
}

.login-form .caption {
        color: #fff;
        position: absolute;
}

.login-form .input .errorlist {
	position: absolute;
	left: 100%;
	list-style-type: none;
	white-space: nowrap;
	padding-left: 10px;
}

.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium {
        color: #fff;
        border-color: #fff;
        border-width: 1px;
}
.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium:hover {
        background-color: #fff;
        color: #222;
}

.assist-text {
        font-family: BaskervilleURW-RegIta, 'Libre Baskerville';
        font-size: 13px;
        color: #fff;
        text-decoration: none;
}
.assist-text:hover {
        text-decoration: none;
}

[data-nc-base="header"] [data-nc-container] {
	display: block !important;
}

