div.logoutlink {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    padding: 0px;
    line-height: 40px;
    position: relative;
    z-index: 100;
}
.dropdown-menu {
    position: absolute;
    top: 0px;
    right: -10px;
    opacity: 0;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.logoutlink:hover .dropdown-menu {
    opacity: 1;
}
.dropdown-menu li {
    background-color: #231f20;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    white-space: nowrap;
    cursor: pointer;
}
.dropdown-menu li.header {
    background: none;
}

div.pagetitle {
    position: absolute;
    line-height: 40px;
    margin-left: 300px;
}
 
select.client-picker {
    position: absolute;
    left: 700px;
    top: 8px;
}

div.list_header {
	background-color: #444;
	width: 322px;
}

div.list_wrap {
	max-height: 200px;
	width: 400px;
	overflow: scroll;
	border: 1px solid #000;
	margin-bottom: 8px;
}

ul.items_list {
	width: 400px;
}

ul.items_list li {
	padding: 10px;
	height: 20px;
}

div.objectform {
	position: absolute;
	left: 500px;
	width: 500px;
	border: 1px solid #000;
}

div#locationform {
	top: 134px;
}

div.request_delivery {
    width: 410px;
}
div#total_cases {
    float: left;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    text-align: right;
    padding: 0px 20px;
    border: 1px solid #aaa;
    background-color: #e0e0e0;
    width: 30px;
}
 
div.request_delivery .label {
    float: left;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}
 
ul.mode_toggle {
	width: auto;
}

#request_details {
    margin: 0px auto;
}
#request_details td,
#request_details th {
    font-size: 10px;
    padding: 5px;
}
 
div.table_wrap {
    height: 400px;
    overflow: scroll;
    margin-bottom: 10px;
}

.infotable input {
        margin: 1px;
        height: 33px;
        font-size: 16px;
        border: none;
        box-shadow: none;
    outline: none;
}

table.infotable.alternating > tbody > tr:nth-child(even) input,
table.infotable.alternating > tbody > tr:nth-child(odd) input {
        background-color: #fff;
        color: #000;
}

.zero-inventory-warning {
	display: none;
	color: #ff0000;
	margin: 20px;
}

