<ul class="mode_toggle">
<a href="javascript:nop()" onClick="showStatus(0)"><li {% if status_filter == 0 %}class="selected"{% endif %}>INVQ</li></a>
<a href="javascript:nop()" onClick="showStatus(1)"><li {% if status_filter == 1 %}class="selected"{% endif %}>pending</li></a>
<a href="javascript:nop()" onClick="showStatus(2)"><li {% if status_filter == 2 %}class="selected"{% endif %}>submitted</li></a>
</ul>

<table class="infotable alternating shipments editable scrollable">
    <thead>
        <tr>
            <th style="width: 125px" class="text">Shipped Date</th>
            <th style="width: 45px" class="numeric">INV #</th>
            <th style="width: 45px" class="numeric">DL #</th>
            <th style="width: 134px" class="spacer20"></th>
            <th style="width: 125px" class="text">Client Name</th>
            <th style="width: 199px" class="text">Location</th>
            <th style="width: 100px" class="numeric">Total Cases</th>
            <th style="width: 420px" class="spacer20"></th>
        </tr>
    </thead>
    <tbody style="max-height: 400px">
    {% for shipment in shipments %}

        <tr class="shipment" id="shipment_{{ shipment.id }}">
            <td style="width: 120px" class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.date_created|date:"SHORT_DATE_FORMAT" }}</td>
            <td style="width: 35px" class="numeric clickable" shipmentid="{{ shipment.id }}">{{ shipment.invoice_number|default_if_none:"" }}</td>
            <td style="width: 35px" class="numeric clickable" shipmentid="{{ shipment.id }}">{{ shipment.id }}</td>
            <td style="width: 120px" class="spacer20 clickable" shipmentid="{{ shipment.id }}"></td>
            <td style="width: 120px" class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.client.company_name }}</td>
            <td style="width: 194px" class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.location.name }}</td>
            <td style="width: 90px" class="numeric clickable" shipmentid="{{ shipment.id }}">{{ shipment.total_cases }}</td>
            <td style="width: 145px" class="spacer20 clickable" shipmentid="{{ shipment.id }}"></td>
            <td style="width: 60px" class="text clickable" shipmentid="{{ shipment.id }}">
                {% if status_filter == 1 or status_filter == 2 %}
                    {% if shipment.shipmentdoc_set.count %}
                    <button class="show-shipment-docs" onClick="showShipmentDocs({{ shipment.id }});">{{ shipment.shipmentdoc_set.count }}</button>
                    {% endif %}
                {% endif %}
            </td>
            <td class="action" style="width: 185px; padding: 0px;">
                {% if status_filter == 1 %}
                <button class="actionbtn" onClick="submitInvoice({{ shipment.id }})">Submit</button>
                {% endif %}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>

