<div class="form_header dark">

<button class="actionbtn floatright" onClick="promptInvoice({{ shipment.id }})">Submit</button>

<div class="bol-icon">
    <button class="show-shipment-docs" onClick="showShipmentDocs({{ shipment.id }});">{{ shipment.shipmentdoc_set.count }}</button>
</div>

<span class="shipmentid">{{ shipment.id }}</span>
<span class="title">Shipment details for {{ shipment.client.company_name }} ({{ shipment.location.name }})</span>

<span class="delivery-charge">Delivery Charge: 
{% if shipment.delivery_charge %}${{ shipment.delivery_charge }}{% else %}None{% endif %}
</span>

</div>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="text">Item #</th>
        <th class="text">Client name</th>
        <th class="text">Description</th>
        <th class="text">Account</th>
        <th class="numeric">pcs/cs</th>
        <th class="numeric">Cases</th>
        <th class="numeric">Pallets</th>
        <th class="numeric">Gross weight (kg)</th>
        <th class="text">Ctn dimensions (cm, l &times; w &times; h)</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in shipment.transaction_set.all %}

    <tr class="detail" id="productdetail_#productid#">
        <td class="text">{{ transaction.product.item_number }}</td>
        <td class="text">{{ transaction.product.client_tag }}</td>
        <td class="text" style="width: 400px;">{{ transaction.product.name }}</td>
        <td class="text">{{ transaction.product.get_accounting_prepay_type_display|default_if_none:"" }}</td>
        <td class="numeric">{{ transaction.product.packing }}</td>
        <td class="numeric">{{ transaction.cases }}</td>
        <td class="numeric">{{ transaction.pallet_share }}</td>
        <td class="numeric">{{ transaction.total_weight|floatformat:1 }}</td>
        <td class="text">{{ transaction.product.length|floatformat:1 }} &times; {{ transaction.product.width|floatformat:1 }} &times; {{ transaction.product.height|floatformat:1 }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
