<ul class="mode_toggle">
<a href="javascript:nop()" onClick="showStatus(0)"><li {% if status_filter == 0 %}class="selected"{% endif %}>INVQ</li></a>
<a href="javascript:nop()" onClick="showStatus(1)"><li {% if status_filter == 1 %}class="selected"{% endif %}>pending</li></a>
<a href="javascript:nop()" onClick="showStatus(2)"><li {% if status_filter == 2 %}class="selected"{% endif %}>submitted</li></a>
</ul>

<table class="infotable alternating shipments editable scrollable">
    <thead>
        <tr>
            <th style="width: 125px" class="text">Shipped Date</th>
            <th style="width: 45px" class="numeric">INV #</th>
            <th style="width: 45px" class="numeric">DL #</th>
            <th style="width: 134px" class="spacer20"></th>
            <th style="width: 125px" class="text">Client Name</th>
            <th style="width: 199px" class="text">Location</th>
            <th style="width: 100px" class="numeric">Total Cases</th>
            <th style="width: 420px" class="spacer20"></th>
        </tr>
    </thead>
    <tbody style="max-height: 400px; position: relative;">
    </tbody>
</table>

<script type="text/javascript">
//if (globals['shipped_filter'] == 0) {
    infiniteScrollTable('#list_shipments', fetchShipments);
//}
</script>