<CFIF NOT IsDefined("libloaded")>
        <CFINCLUDE TEMPLATE="inc_lib.cfm">
</CFIF>

<CFIF IsDefined("URL.shipmentid") AND IsNumeric(URL.shipmentid)>
<CFELSEIF IsDefined("URL.shipmentid")>
    <CFABORT>
<CFELSE>
    <div class="error">Invalid shipment ID specified.</div>
    <CFABORT>
</CFIF>

<CFQUERY NAME="ShipCustomer" DATASOURCE="#DSN#">
SELECT *,Locations.name as location_name,count(ShipmentDocs.shipmentid) AS document_count FROM Shipments
INNER JOIN Customers ON Shipments.customerid=Customers.customerid
INNER JOIN Locations ON Shipments.locationid=Locations.locationid
LEFT JOIN ShipmentDocs ON ShipmentDocs.shipmentid=Shipments.shipmentid
WHERE Shipments.shipmentid=<CFQUERYPARAM value="#URL.shipmentid#" CFSQLType="CF_SQL_NUMERIC">
GROUP BY Shipments.shipmentid
</CFQUERY>

<CFQUERY NAME="ShipProducts" DATASOURCE="#DSN#">
SELECT * FROM Shipments,Transactions,Products
WHERE Shipments.shipmentid=<CFQUERYPARAM value="#URL.shipmentid#" CFSQLType="CF_SQL_NUMERIC">
AND Transactions.shipmentid=Shipments.shipmentid
AND Transactions.productid=Products.productid
AND Transactions.cases>0
GROUP BY Transactions.productid
ORDER BY itemnum
</CFQUERY>

<CFQUERY NAME="ShipPallets" DATASOURCE="#DSN#">
SELECT * FROM Pallets
WHERE shipmentid=<CFQUERYPARAM value="#URL.shipmentid#" CFSQLType="CF_SQL_NUMERIC">
</CFQUERY>

<CFOUTPUT QUERY="ShipCustomer">
<div class="form_header dark">

<button class="actionbtn floatright" onClick="promptInvoice({{ shipment.id }})">Submit</button>

<div class="bol-icon">
    <button class="show-shipment-docs" onClick="showShipmentDocs(#URL.shipmentid#);">#document_count#</button>
</div>

<span class="shipmentid">#shipmentid#</span>
<span class="title">Shipment details for #coname# (#location_name#)</span>

<span class="delivery-charge">Delivery Charge: 
#deliverycharge GT 0 ? NumberFormat(deliverycharge,"$,.__") : "None"#</span>

</div>
</CFOUTPUT>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="text">Item #</th>
        <th class="text">Client name</th>
        <th class="text">Description</th>
        <th class="text">Account</th>
        <th class="numeric">pcs/cs</th>
        <th class="numeric">Cases</th>
        <th class="numeric">Pallets</th>
        <th class="numeric">Gross weight (kg)</th>
        <th class="text">Ctn dimensions (cm, l &times; w &times; h)</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in shipment.transaction_set.all %}
    <CFOUTPUT QUERY="ShipProducts">

    <CFLOOP LIST="#columnList#" INDEX="col">
        <CFSET ShipProducts[col][currentRow] = Replace(ShipProducts[col][currentRow],'"',"&quot;")>
    </CFLOOP>

    <CFSET palletsCount = 0>
    <CFSET palletsPartialCount = 1>

    <CFQUERY NAME="PalletCheck" DATASOURCE="#DSN#">
    SELECT DISTINCT(OnPallet.palletid) FROM OnPallet,Pallets
    WHERE productid=#productid#
    AND OnPallet.palletid=Pallets.palletid
    AND shipmentid=#shipmentid#
    </CFQUERY>

    <CFLOOP QUERY="PalletCheck">
        <CFQUERY NAME="PalletPartialCheck" DATASOURCE="#DSN#">
        SELECT * FROM OnPallet
        WHERE palletid=#palletid#
        AND productid!=#ShipProducts.productid#
        </CFQUERY>

        <CFIF PalletPartialCheck.recordCount GT 0>
<!---            <CFSET palletsCount = palletsCount + 1/(PalletPartialCheck.recordCount + 1)>--->
            <CFSET palletsPartialCount = palletsPartialCount + PalletPartialCheck.recordCount>
        <CFELSE>
            <CFSET palletsCount = palletsCount + 1>
        </CFIF>

    </CFLOOP>

    <tr class="detail" id="productdetail_#productid#">
        <td class="text">{{ transaction.product.item_number }}</td>
        <td class="text">{{ transaction.client.company_name }}</td>
        <td class="text" style="width: 400px;">{{ transaction.product.name }}</td>
        <td class="text">
            <span class="account-label">{{ transaction.product.get_account_prepay_type_display|default_if_none:"" }}
            </span>
        </td>
        <td class="numeric">{{ transaction.product.packing }}</td>
        <td class="numeric">{{ transaction.cases }}</td>
        <td class="numeric"><CFIF palletsCount GT 0>#palletsCount#</CFIF>
            <CFIF palletsPartialCount GT 1>
                1/#palletsPartialCount#
            </CFIF>
        </td>
        <td class="numeric"><CFIF IsNumeric(GW) AND IsNumeric(cases)>#NumberFormat(GW * cases,"._")#</CFIF></td>
        <td class="text">#length# &times; #width# &times; #height#</td>
    </tr>

    </CFOUTPUT>
    {% endfor %}
    </tbody>
</table>

<CFOUTPUT QUERY="ShipCustomer">
<div class="dialog" id="dialog_shipping_info" title="Shipment details">
<cfform>
<table class="infotable">
    <tr>
        <td class="label">Shipper Address</td>
        <td>
            <select id="shipperaddress" style="margin: 10px 0px;">
            <cfloop array="#ShipperAddresses#" index="ShipAddr">
                <option value="#ShipAddr.id#" <cfif shipperaddress IS ShipAddr.id>selected</cfif>>#ShipAddr.name#</option>
            </cfloop>
            </select>
        </td>
    </tr>
    <tr>
        <td class="label">Carrier</td>
        <td><cfinput type="text" name="carrier" maxlength="50" placeholder="" value="#carrier#" /></td>
    </tr>
    <tr>
        <td class="label">Pro ##</td>
        <td><cfinput type="text" name="pro" maxlength="50" placeholder="" value="#pro#" /></td>
    </tr>
    <tr>
        <td class="label">PO ##</td>
        <td><cfinput type="text" name="loadnum" maxlength="50" placeholder="" value="#loadnum#" /></td>
    </tr>
<!---
    <tr>
        <td class="label">Ship ID ##</td>
        <td><cfinput type="text" name="tracking" maxlength="50" placeholder="" value="#tracking#" /></td>
    </tr>
--->
    <tr>
        <td class="label">3rd Party</td>
        <td><cfinput type="text" name="3rdparty" maxlength="50" placeholder="" value="#ShipCustomer.3rdparty#" /></td>
    </tr>
    <tr>
        <td class="label">Class</td>
        <td><cfinput type="text" name="class" maxlength="50" placeholder="" value="#ShipCustomer.class#" /></td>
    </tr>
    <tr>
        <td class="label">Pallets</td>
        <td><cfinput type="number" name="numpallets" placeholder="" value="#ShipCustomer.numpallets#" min="1" /></td>
    </tr>
    <tr>
        <td class="label">Ship date</td>
        <td><cfinput type="text" name="shipdate" maxlength="50" placeholder="" value="#DateFormat(shippedon,"MM/DD/YYYY")#" /></td>
    </tr>
    <tr>
        <td class="label">Shipper special instructions</td>
        <td><textarea id="shipperinstructions" placeholder="">#Replace(ShipCustomer.shipperinstructions,'"',"&quot;")#</textarea></td>
    </tr>
    <tr>
        <td class="label">Consignee special instructions</td>
        <td><textarea id="consigneeinstructions" placeholder="">#Replace(ShipCustomer.consigneeinstructions,'"',"&quot;")#</textarea></td>
    </tr>
    <tr>
        <td class="label">Requirements</td>
        <td>
            <cfinput type="checkbox" name="insidedelivery" value="1" checked="#YesNoFormat(insidedelivery IS 1)#" /> <label for="insidedelivery">Inside Delivery</label><br/>
            <cfinput type="checkbox" name="liftgate" value="1" checked="#YesNoFormat(liftgate IS 1)#" /> <label for="liftgate">Liftgate</label><br />
            <cfinput type="checkbox" name="appointment" value="1" checked="#YesNoFormat(appointment IS 1)#" /> <label for="appointment">Appointment</label><br />
            <cfinput type="checkbox" name="sortseg" value="1" checked="#YesNoFormat(sortseg IS 1)#" /> <label for="sortseg">Sort & Segregation</label><br />
        </td>
    </tr>
</table>
<!---
<textarea id="3rdpartyaddress" placeholder="3rd party address">#Replace(ShipCustomer.3rdpartyaddress,'"',"&quot;")#</textarea>
<input type="text" id="3rdpartyphone" maxlength="20" placeholder="3rd party phone" value="#Replace(ShipCustomer.3rdpartyphone,'"',"&quot;")#" />
<input type="text" id="3rdpartyper" maxlength="30" placeholder="3rd party PER" value="#Replace(ShipCustomer.3rdpartyper,'"',"&quot;")#" />
<input type="text" id="3rdpartyrecvd" maxlength="16" placeholder="3rd party received" value="#Replace(ShipCustomer.3rdpartyrecvd,'"',"&quot;")#" />
<input type="text" id="3rdpartychgadvanced" maxlength="16" placeholder="3rd party charges advanced" value="#Replace(ShipCustomer.3rdpartychgadvanced,'"',"&quot;")#" />
--->
</cfform>
</div>
</CFOUTPUT>

