div.content {
	min-width: 1373px;
	width: 1373px;
}

a.headermenu {
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 17px;
        text-decoration: none;

        color: #fff;
        background-color: #555;
        padding: 3px 10px 3px 10px;
        font-family: Trebuchet MS;
        font-size: 13px;
        line-height: 15px;
        border: 1px solid #202020;
        border-radius: 3px 3px 0px 0px;
	cursor: pointer;
}

a#adminmenulink {
        left: 458px;
}
a#toolsmenulink {
        left: 580px;
}

ul.navmenu {
        list-style: none;
        margin: 0px;
        padding: 0px;
}
.toolmenu {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 220px;
        margin: 0px;
        padding: 0px;
}
.navmenu a {
        text-decoration: none;
        display: block;
}
a.tnav {
        color: #fff;
        background-color: #404040;
        padding: 3px 10px 3px 10px;
        font-family: Trebuchet MS;
        font-size: 13px;
        border-bottom: 1px solid #202020;
/*
 font-family: Courier;
 font-size: 14px;
 font-weight: normal;
 vertical-align: top;
 margin-left: 3px;
 margin-right: 3px;
 letter-spacing: 1px;
*/
}

a.tnav:hover {
        background-color: #8f6119;
}

ul.navmenu li {
        position: relative;
}
ul.navmenu a.selected {
        background-color: #505050;
}

a.navs {
        display: block;
        color: #fff;
        background-color: #404040;
        padding-left: 5px;
}

a.navs:hover {
 color: #ccc;
 font-family: Courier;
 font-size: 12px;
 font-weight: normal;
 vertical-align: bottom;
 margin-bottom: 0px;
 margin-left: 5px;
 margin-right: 5px;
 letter-spacing: 1px;
 line-height: 24px;
}
 
div.popupbox {
        position: absolute;
        z-index: 9999;
        display: none;
        top: 39px;
        background-color: #404040;
        border: 1px solid #000;
        width: 400px;
        box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

div#menu_admin {
        left: 458px;
        width: 220px;
}
div#menu_tools {
        left: 580px;
        width: 220px;
}

.task_status span,
.task_status a {
	line-height: 24px;
	height: 24px;
	vertical-align: text-bottom;
	display: inline-block;
	margin-left: 5px;
}
