{% load static %}
<!DOCTYPE HTML>
<html>
        <head>
        <title>{{ company_name }} Warehouse App</title>
<!--        <link rel=stylesheet href="css/style_gen.css" TYPE="text/css">-->
        <link rel=stylesheet href="{% static "css/common.css" %}" TYPE="text/css">
        <link rel=stylesheet href="{% static "warehouse_app/css/style.css" %}" TYPE="text/css">
        <link rel=stylesheet href="{% static "css/jquery-ui.css" %}" TYPE="text/css">
        <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
        <script type="text/javascript" src="{% static "js/common.js" %}"></script>
        <script type="text/javascript" src="{% static "warehouse_app/js/main.js" %}"></script>
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>

<div id="modal_overlay"><div class="loading_spinner"><p><a href="{% url "warehouse_app:home" %}"><img src="{% static "warehouse_app/images/spinner.gif" %}" /></a></p></div></div>

{% if user.is_authenticated %}

    <div id="header">
    <div class="logoutlink">User: {{ user }}</div>
    <a href="javascript:nop()" onClick="openActionPage('menu');"><div class="homelink"></div></a>
    </div>

{% endif %}
</div>

{% block content %}{% endblock %}

<div class="dialog" id="dialog_errors" title="Error">
</div>

</body>
</html>

