{% extends "warehouse_app/base.html" %}
<CFINCLUDE TEMPLATE="inc_header.cfm">

<div id="status"></div>

<div id="scan_result">
<p id="scan_validity"></p>
<p id="scanned_pname"></p>
<button class="actionbtn" id="enter_count" onClick="enableEnterCount()">Enter Count</button>
<div id="item_count_wrap"><input type="number" id="item_count" /><button class="actionbtn" onClick="enterCount()">OK</button></div>
</div>

<div class="dialog" id="dialog_error_pallet" title="Error"></div>
<div class="dialog" id="dialog_warning_pallet" title="Warning"></div>
<div class="dialog" id="dialog_success_pallet" title="Success">Pallet built successfully.</div>
<div class="dialog" id="dialog_error_receivable" title="Error"></div>
<div class="dialog" id="dialog_warning_receivable" title="Warning"></div>
<div class="dialog" id="dialog_success_receivable" title="Success">Receivable processed successfully.</div>
<div class="dialog" id="dialog_count_exceeded" title="Warning">Exceeded number of required items.</div>
<div class="dialog" id="dialog_mismatch_warning" title="Scan Count Mismatch">
Not all required cases were scanned for this pallet. Please create an additional pallet for the remaining items.
<!---An incorrect number of items was scanned for this pallet. Please check and rescan.--->
</div>

<div id="reconnect_info">To reconnect scanner, press <b>up</b> button. <img src="images/kdc300_up.png" /></div>

<div class="content" id="content">

<CFINCLUDE TEMPLATE="menu.cfm">

</div>

</body>
</html>

