{% if product %}

        <table class="infotable alternating" style="width: 400px; margin-top: 20px;">
        <tr>
            <td class="label">Customer</td>
            <td class="data">{{ product.client.company_name }}</td>
        </tr>
        <tr>
            <td class="label">Product</td>
            <td class="data">{{ product.name }}</td>
        </tr>
        <tr>
            <td class="label">Created</td>
            <td class="data">{{ product.date_created|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
<!---
        <tr>
            <td class="label">PO ##</td>
            <td class="data">{{ product.purchase_order }}</td>
        </tr>
        <tr>
            <td class="label">SO ##</td>
            <td class="data">#SO#</td>
        </tr>
--->
        <tr>
            <td class="label">Dimensions (l &times; w &times; h)</td>
            <td class="data">{{ product.length_imperial|floatformat:1 }} &times; {{ product.width_imperial|floatformat:1 }} &times; {{ product.height_imperial|floatformat:1 }} in</td>
        </tr>
        <tr>
            <td class="label">Gross Weight</td>
            <td class="data">{% if product.gross_weight %}{{ product.gross_weight_imperial|floatformat:1 }} lb ({{ product.gross_weight|floatformat:1 }} kg){% endif %}</td>
        </tr>
        </table>

{% else %}

        <p>Sorry, no product found with that ID.</p>

{% endif %}
