<!---<a href="index.cfm">reload</a>--->

<div class="actions_list">
    <button class="actionbtn ship" onClick="openActionPage('receive')">Receive Shipment</button>
    <button class="actionbtn outgoing" onClick="openActionPage('pallet')">Build Pallet</button>
    <button class="actionbtn checkpal" onClick="openActionPage('check_pallet_contents')">Check Pallet Contents</button>
    <button class="actionbtn checkprod" onClick="openActionPage('check_product')">Check Product</button>
    <button class="actionbtn red logout" onClick="doLogout()">Log Out</button>
</div>

