<h1>Build Pallet</h1>

<div class="barcode_mask">
<input id="barcode" type="text" autocapitalize="off" autocorrect="off" />
<div class="mask"></div>
</div>

<div class="pallets_wrap">


<div class="pallet for_storage" id="pallet_new">

    <p class="pallet_title">Storage Pallet</p>
    <p>Scan products to add to pallet.</p>
    <table class="pallet_contents infotable" id="pallet_contents_new">
    </table>

    <button class="actionbtn buildpallet" id="build_pallet_new" onClick="selectPallet('new')">Build Pallet</button>
    <button class="actionbtn completepallet" id="complete_pallet_new" disabled onClick="completePallet('new',false)">Complete Pallet</button>

</div>


{% for shipment in shipments %}
<CFLOOP QUERY="Shipments">

    <CFOUTPUT>
    <div class="pallet" id="pallet_{{ shipment.id }}">
    </CFOUTPUT>

    <CFOUTPUT>
    <p class="floatright">{{ shipment.location.name }}<br />{{ shipment.location.city }} {{ shipment.location.state }} {{ shipment.location.zip }}</p>
    <p class="pallet_title">{{ shipment.client.company_name }}</p>
    <p>{{ shipment.date_created|date:"SHORT_DATE_FORMAT" }}</p>
    </CFOUTPUT>
    <table class="pallet_contents infotable" id="pallet_contents_<CFOUTPUT>{{ shipment.id }}</CFOUTPUT>">
        {% for transaction in shipment.transaction_set.all %}
        <CFOUTPUT QUERY="ProdCheck">
        <tr PRID="{{ transaction.product.product_id }}" productid="{{ transaction.product.id }}">
            <td class="product_name">{{ transaction.product.name }}</td>
            <td class="cases_required" id="cases_req_{{ shipment.id }}_{{ transaction.product.product_id }}">{{ transaction.cases }}</td>
            <td class="cases_incomplete" id="cases_{{ shipment.id }}_{{ transaction.product.product_id }}">0</td>
        </tr>
        </CFOUTPUT>
        {% endfor %}
    </table>

    <CFOUTPUT>
    <button class="actionbtn buildpallet" id="build_pallet_{{ shipment.id }}" onClick="selectPallet({{ shipment.id }})">Build Pallet</button>
    <button class="actionbtn completepallet" id="complete_pallet_{{ shipment.id }}" disabled onClick="completePallet({{ shipment.id }},false)">Complete Pallet</button>
    </CFOUTPUT>

    </div>

</CFLOOP>
{% endfor %}

</div>



