<h1>Receive Shipment</h1>

{% if receivables.exists %}

<select name="receivableid" id="receivableid" onChange="$('#receivable_details').html('')">
{% for transaction in receivables %}
<option value="{{ transaction.receivable.id }}">{{ transaction.receivable.client.company_name }} - {{ transaction.product.name }}</option>
{% endfor %}
</select>
<button class="actionbtn" onClick="selectReceivable()">Select</button>

{% else %}

<p>Currently no receivables are pending.</p>

{% endif %}

<div id="receivable_details"></div>

