{% extends "client/base.html" %}
{% load humanize %}
<CFINCLUDE TEMPLATE="inc_header.cfm">

<!--- All Transactions table input queries must be wrapped in a CFTRANSACTION with rollback handling --->
<!--- direction is a tinyint, 0 - inbound, 1 - outbound --->
<!--- Cache queries of history table. Also disable this with devswitch = 1 --->

{% block content %}

<div class="content">

<div class="greeting">Hello {{ user.first_name }} {{ user.last_name }}!</div>

<CFINCLUDE TEMPLATE="inc_nav.cfm">
{% with page_selected="history" %}
{% include "client/inc_nav.html" %}
{% endwith %}

<div class="table_wrap">
<table class="infotable alternating" id="history">
    <thead>
        <tr>
            <th class="text">Item #</th>
            <th class="text">Client tag</th>
            <th class="text">Description</th>
            <th class="hoverinfo"></th>
            <th class="numeric">Cases remaining</th>
            <th class="numeric">Total qty</th>
        </tr>
    </thead>
    <tbody>
        <CFQUERY NAME="inventory" DATASOURCE="#DSN#">
        SELECT * FROM Products
        WHERE customerid IN (#childCustomerIDs#)
        AND active=1
        ORDER BY itemnum
        </CFQUERY>

        <CFOUTPUT QUERY="inventory">
        {% for product in products %}
        <tr class="product {% if not product.is_active %}deleted{% endif %}" id="product_{{ product.id }}" onClick="selectProduct({{ product.id }})">
            <td class="text">{{ product.item_number }}</td>
            <td class="text">{{ product.client_product_id }}</td>
            <td class="text pname">{{ product.name }}</td>
            <td class="hoverinfo"><span>Click for details</span></td>
            <td class="numeric">{{ product.cases_inventory|intcomma }}</td>
            <td class="numeric">{{ product.units_inventory|intcomma }}</td>
        </tr>
        {% endfor %}
        </CFOUTPUT>
    </tbody>
</table>
</div>

<div id="shipments_list"></div>

<div class="dialog" id="dialog_documents" title="Documents">
    <table id="documents_list" class="infotable alternating">
    </table>
</div>

</div>

<CFINCLUDE TEMPLATE="inc_footer.cfm">

{% endblock %}
