{% extends "client/base.html" %}
{% load humanize %}

{% block content %}

<div class="content">

<div class="greeting">Hello {{ user.first_name }} {{ user.last_name }}!</div>

{% with page_selected="history" %}
{% include "client/inc_nav.html" %}
{% endwith %}

<div class="table_wrap">
<table class="infotable alternating" id="history">
    <thead>
        <tr>
            <th class="text">Item #</th>
            <th class="text">Client tag</th>
            <th class="text">Description</th>
            <th class="hoverinfo"></th>
            <th class="numeric">Cases remaining</th>
            <th class="numeric">Total qty</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr class="product {% if not product.is_active %}deleted{% endif %}" id="product_{{ product.id }}" onClick="selectProduct({{ product.id }})">
            <td class="text">{{ product.item_number }}</td>
            <td class="text">{{ product.client_tag }}</td>
            <td class="text pname">{{ product.name }}</td>
            <td class="hoverinfo"><span>Click for details</span></td>
            <td class="numeric">{{ product.cases_available|intcomma }}</td>
            <td class="numeric">{{ product.units_available|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div id="shipments_list"></div>

<div class="dialog" id="dialog_documents" title="Documents">
    <table id="documents_list" class="infotable alternating">
    </table>
</div>

</div>

{% endblock %}
