{% extends "client/base.html" %}
<CFINCLUDE TEMPLATE="inc_header.cfm">

<CFQUERY NAME="Locations" DATASOURCE="#DSN#">
SELECT * FROM Locations
WHERE customerid IN (#childCustomerIDs#)
ORDER BY name
</CFQUERY>

{% block content %}

<div class="dialog" id="dialog_locations" title="Delivery Locations">
Please select the location for delivery.
<CFOUTPUT QUERY="Locations">
    <button class="actionbtn minibtn" onClick="requestDelivery(#locationid#)" id="location_#locationid#">#name#</button>
</CFOUTPUT>
</div>

<div class="dialog" id="dialog_request_confirm" title="Delivery Requested Confirmation">
Your delivery request will be submitted as follows:
<table id="request_details">
    <thead>
    <tr>
        <th>Item #</th>
        <th>Description</th>
        <th class="numeric">Packing</th>
        <th class="numeric">Cases</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>

<div class="dialog" id="dialog_request_result" title="Delivery Requested Successfully">
Your delivery request has been placed. Thank you!
</div>


<div class="content">

{% if shipmentid %}
<script type="text/javascript">
globals['shipmentid'] = {{ shipmentid }};
</script>
{% endif %}

<div class="greeting">Hello {{ user.first_name }} {{ user.last_name }}!</div>

<CFINCLUDE TEMPLATE="inc_nav.cfm">
{% with page_selected="inventory" %}
{% include "client/inc_nav.html" %}
{% endwith %}

<div id="list_inventory"></div>

<div id="status"></div>


<input type="hidden" id="customerid" value="{{ selected_client.id }}" />

</div>

{% endblock %}
