{% extends "client/base.html" %}
{% load humanize %}

{% block content %}

<div class="dialog" id="dialog_reorder" title="Reorder Products">
<table class="infotable alternating small" id="reorder_list">
    <thead>
    <tr>
            <th class="text">Description</th>
            <th class="numeric">Cont. qty (pcs)</th>
            <th class="numeric">Packing</th>
            <th class="numeric">cases</th>
            <th class="numeric">Unit price</th>
            <th class="numeric">Total price</th>
            <th class="text">Est. delivery</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<p>
Your reorder will be placed according to your client agreement. Proceed?
</p>

<p class="floatright"><input id="signature" size="16" /></p>
<p>Enter your name in the following box to signify your confirmation of this order.</p>
</div>

<div class="dialog" id="dialog_reorder_result" title="Reorder Placed Successfully">
Your reorder has been placed. Thank you!
<button class="actionbtn minibtn" onClick="openSalesOrder()">Save Sales Order</button>
</div>


<div class="content">

<div class="greeting">Hello {{ user.first_name }} {{ user.last_name }}!</div>

{% with page_selected="reorder" %}
{% include "client/inc_nav.html" %}
{% endwith %}

{% if True %}

    <div class="under-construction">
    Temporarily Under Construction
    </div>

{% else %}

<table class="infotable alternating">
    <thead>
        <tr>
            <th class="text">Item #</th>
            <th class="text">Client tag</th>
            <th class="text">Description</th>
            <th class="numeric">Remaining (cs)</th>
            <th class="numeric">Packing (pcs/cs)</th>
            <th class="numeric">Cont. qty (pcs)</th>
            <th class="numeric">Unit price</th>
            <th class="numeric">Total price</th>
            <th class="text">Est. delivery</th>
            <th class="text">Reorder</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td class="text">{{ product.item_number }}</td>
            <td class="text">{{ product.client_product_id }}</td>
            <td class="text pname" style="width: 200px;" id="pname_{{ product.id }}">{{ product.name }}</td>
            <td class="numeric"><span {% if product.is_low %}class="low_qty"{% endif %}>{{ product.cases_inventory|intcomma }}</span></td>
            <td class="numeric" id="packing_{{ product.id }}">{{ product.packing|intcomma }}</td>
            <td class="numeric" id="contqty_{{ product.id }}">{% if product.contracted_quantity_units %}{{ product.contracted_quantity_units|intcomma }}{% endif %}</td>
            <td class="numeric" id="unitprice_{{ product.id }}">${{ product.unit_price|floatformat:3 }}</td>
            <td class="numeric" id="totalprice_{{ product.id }}">${{ product.total_price|floatformat:2|intcomma }}</td>
            <td class="text" id="delivery_{{ product.id }}">{% if product.is_domestic %}6-8 wks{% else %}12-14 wks{% endif %}</td>
            <td class="text"><input type="checkbox" class="reorder_product" id="reorder_{{ product.product_id }}" productid="{{ product.id }}" {% if not product.unit_price or not product.contracted_quantity %}disabled{% endif %} /></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<button class="actionbtn floatright" id="btn_reorder" disabled onClick="confirmReorder()">Reorder</button>
<br clear="right" />

<input type="hidden" id="customerid" value="{{ selected_client }}" />

{% endif %}

</div>

{% endblock %}
