{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
    <title>Think Package Administration</title>
    <link rel=stylesheet href="{% static "css/common.css" %}" type="text/css">
    <link rel=stylesheet href="{% static "accounts/css/style.css" %}" type="text/css">
    {% block extra_css %}{% endblock %}
    <link rel=stylesheet href="{% static "accounts/css/jquery-ui.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "accounts/js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "accounts/js/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "accounts/js/main.js" %}"></script>
    {% block extra_js %}{% endblock %}
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <script type="text/javascript">
{% if client_id %}
globals['customerid_current'] = {{ client_id }};
{% endif %}
    </script>
</head>

{% if user.is_authenticated %}

<body>

    <div id="header">
    <div class="logoutlink"><a href="{% url "sign-out" %}">Log out [{{ user }}]</a></div>
    <div class="logoutlink">{% now "D F j, g:i A" %}</div>
    <a href="{% url "home" %}"><div class="homelink"></div></a>
    </div>

    <div class="content">
    {% block content %}{% endblock %}
    </div>

{% else %}

<body id="content" class="login">

    {% block top_banner %}
    <img src="{% static "accounts/images/tp_white.png" %}" border=0 hspace=0 vspace=0 alt="Think Package Management" />
    <p>{% block login_page_title %}{% endblock %}</p>
    {% endblock %}

    {% block login_content %}{% endblock %}

{% endif %}

</body>
</html>
