{% extends "accounts/base.html" %}

{% block content %}
<h1>Change Password</h1>

<form method="POST" action="{% url "change-password" %}">
    <table>
        <tr>
            <td class="label">{{ form.current_password.label }}</td>
            <td class="input">{{ form.current_password }}</td>
            <td class="errors">{{ form.current_password.errors }}</td>
        </tr>
        <tr>
            <td class="label">{{ form.new_password1.label }}</td>
            <td class="input">{{ form.new_password1 }}</td>
            <td class="errors">{{ form.new_password1.errors }}</td>
        </tr>
        <tr>
            <td class="label">{{ form.new_password2.label }}</td>
            <td class="input">{{ form.new_password2 }}</td>
            <td class="errors">{{ form.new_password2.errors }}</td>
        </tr>
    </table>

    {% csrf_token %}
    <button type="submit" class="btn">Save</button>
</form>
{% endblock %}