{% extends "accounts/base.html" %}

{% block page_title %}
Password Recovery
{% endblock %}

{% block content %}

  {% block login_form %}
  <div class="login-form-container">
    <div class="loginform">

    <p>An email containing a password recovery token is now being sent to your email address on file. Expect it to arrive within the next few minutes.
    Follow the instructions in this email to reset your account password.</p>

    <p>If you don't receive the password recovery email, please contact <a href="mailto:{{ support_email }}">{{ support_email }}</a> for assistance.</p>

    </div>
  </div>
  {% endblock %}

{% endblock %}

