{% extends "accounts/base.html" %}

{% block login_page_title %}
Password Recovery
{% endblock %}

{% block login_content %}

  {% block login_form %}
  <div class="login-form-container">
    <div class="loginform">

<div class="pageinfo">
    <p>Your password has been reset. You can now proceed to the
        {% if user.is_admin %}
            <a href="{% url "mgmt:home" %}">IMS site</a>.
        {% elif user.is_warehouse %}
            <a href="{% url "warehouse:home" %}">Warehouse site</a>.
        {% elif user.is_accounting %}
            <a href="{% url "accounting:home" %}">Warehouse site</a>.
        {% else %}
            <a href="{% url "client:home" %}">Client Portal</a>.
        {% endif %}
    </p>
</div>

    </div>
  </div>
  {% endblock %}

{% endblock %}

