{% extends "accounts/base.html" %}

{% block login_page_title %}
Password Recovery
{% endblock %}

{% block login_content %}

  {% block login_form %}
  <div class="login-form-container">
    <div class="loginform">

    <div class="pageinfo">
        <p>Enter your email address below to have a password reset link emailed to you.</p>
    </div>

    <form method="post" action="{% url "password_reset" %}">

        <ul class="inputs">
            <li>
                <label for="id_email">Email:</label>
                <input type="email" name="email" required="" id="id_email" maxlength="254" placeholder="Email">
            </li>
        </ul>

        <div class="button-row">
            <button type="submit" class="btn">Submit</button>
        </div>

        {% csrf_token %}
    </form>
    </div>
  </div>
  {% endblock %}

{% endblock %}

