body {
	margin: 0;
	padding: 0;
/*	background: #fff url('../images/bg.jpg') 0 0 repeat-x;*/
	min-width: 1000px;
}

div.header {
	position: fixed;
	background-color: rgba(192,192,192,0.7);
	border-bottom: 1px solid #444;
	width: 100%;
	height: 42px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}


table.layout {
	border-collapse: collapse;
	width: 100%;
}
table.layout td#leftpane {
	vertical-align: top;
	width: 200px;
	padding: 0px;
	border: 1px solid #000;
	background-color: #404040;
}
table.layout td#leftpane h3 {
	margin: 0px;
	margin-bottom: 5px;
	padding: 3px;
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	background-color: #fff;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.8);
}
table.layout td#contentpane {
	vertical-align: top;
	padding: 0px;
}

div#header_logo {
	padding: 1px;
}

#content {
	margin: 10px;
	font-family: "Trebuchet MS",Chicago;
	font-size: 14px;
}

#nav {
	margin: 5px auto 0 auto;
	color: #fff;
	background-color: #000;
} 

#logo {
 position: absolute;
 right: 0;
 top: 2px;
}

div.ale {
 color: #000;
 background: #E12424;
 font-family: Arial;
 font-size: 11px;
}

h3 {
	font-size: 14px;
	font-weight: normal;
	color: #444;
}

a {
 color: #000;
 text-decoration: underline;
}
a:hover{
 color: #B61A1A;
 text-decoration: underline;
}

a.menu {
    	color: #000000;
        font-family: Arial Bold, Arial;
        font-size: 12pt;
        text-decoration: none;
}
a.menu:active {
        color: #ff0000;
}
a.menu:hover {
	color: #B61A1A;
}
a.submenu {
        background-color: #777;
	padding: 4px;
	color: #fff;
        font-family: Arial Bold, Arial;
        font-weight: bold;
        font-size: 8pt;
        text-decoration: none;
	border-radius: 3px;
	margin-right: 3px;
	display: inline-block;
}
a.submenu:active {
        background-color: #ff0000;
        color: #ffffff;
}


ol {
        margin-left: .5in;
        margin-right: 0n;
        margin-top: 0in;
        margin-bottom: 0in;
        padding-left: 0in;
        padding-right: 0in;
        padding-top: 0in;
        padding-bottom: 0in;
        font-family: Arial;
        font-size: 11pt;
}
ul {
/*
        margin-left: .5in;
        margin-right: 0n;
        margin-top: 0in;
        margin-bottom: 0in;
        padding-left: 0in;
        padding-right: 0in;
        padding-top: 0in;
        padding-bottom: 0in;
        font-family: Arial;
        font-size: 11pt;
*/
}
li {
/*
        margin-left: .5in;
        margin-right: 0n;
        margin-top: 0in;
        margin-bottom: 0in;
        padding-left: 0in;
        padding-right: 0in;
        padding-top: 0in;
        padding-bottom: 0in;
        font-family: Arial;
        font-size: 11pt;
*/
}


div.legend {
	position: absolute;
	top: 0px;
	left: 2px;
}
div.legend a {
	position: relative;
	font-size: 9px;
	font-family: Verdana,Trebuchet MS;
	padding: 2px 3px;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #666;
	border-radius: 2px;
	color: #000;
}
div.legend a:hover {
	top: -1px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
	border-color: #222;
}
a.l_reservations {
	background-color: #ff6060;
}
.l_rentals {
	background-color: #ff9900;
}
.l_perfexp {
	background-color: #f6a430;
}
.l_joyride {
	background-color: #bd3bcd;
}
.l_trackres {
	background-color: #ff6060;
}
.l_trackrent {
	background-color: #ff9900;
}
.l_service {
	background-color: #00AA00;
}
.l_damage {
	background-color: #428292;
}
.l_gift {
	background-color: #3d84ce;
}
.l_subpay {
}
.l_pending {
	background-color: #ff6060;
}

.l_order {
	background-color: #ffeb46;
}
.l_appt {
	background-color: #46ff4a;
}
.l_pjob {
	background-color: #ff5346;
}
.l_job {
	background-color: #46a1ff;
}
.l_service {
	background-color: #f446ff;
}
.l_supplies {
	background-color: #ffb746;
}



a.headermenu {
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 17px;
        text-decoration: none;

	color: #fff;
	background-color: #555;
	padding: 3px 10px 3px 10px;
	font-family: Trebuchet MS;
	font-size: 13px;
	border: 1px solid #202020;
	border-radius: 3px 3px 0px 0px;

/*
	margin: 1px 10px 1px 0px;
	font-size: 12px;
	padding: 5px;
	background-color: #eeeeee;
	border-radius: 10px;
    	color: #000;
        font-family: Arial Bold, Arial;
*/

}

a.hovertab {
/*	box-shadow: 0px 3px 5px rgba(0,0,0,0.8);*/
	background-color: #666;
}

a#carsmenulink {
	left: 100px;
}
a#opsmenulink {
	left: 360px;
}
a#adminmenulink {
	left: 458px;
}
a#priceslink {
	left: 0px;
	width: 40px;
}
a#todolistlink {
	left: 80px;
	width: 100px;
}
a#logoutlink {
	top: -1px;
	left: 80px;
	border-radius: 0px 0px 3px 3px;
	font-size: 10px;
}
a#logoutlink:hover {
	background-color: #666;
}

div#menu_cars {
	left: 100px;	
	width: 220px;
}
div#menu_ops {
	left: 360px;	
	width: 220px;
}
div#menu_admin {
	left: 458px;	
	width: 220px;
}

div#prices {
	position: absolute;
	width: 350px;
	left: -290px;
	overflow: hidden;
	z-index: 9;
}

div#todolist {
	left: -200px;
}

table.pricestable {
	border-collapse: collapse;
	width: 350px;
}
table.pricestable td {
	white-space: nowrap;
        font-family: Verdana,Arial;
        font-size: 7pt;	
	padding: 2px;
}
table.pricestable td.price {
	text-align: right;
}

ul.navmenu {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.toolmenu {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 220px;
	margin: 0px;
	padding: 0px;
}
.navmenu a {
	text-decoration: none;
	display: block;
}
a.tnav {
	color: #fff;
	background-color: #404040;
	padding: 3px 10px 3px 10px;
	font-family: Trebuchet MS;
	font-size: 13px;
	border-bottom: 1px solid #202020;
/*
 font-family: Courier;
 font-size: 14px;
 font-weight: normal;
 vertical-align: top;
 margin-left: 3px;
 margin-right: 3px;
 letter-spacing: 1px;
*/
}

a.tnav:hover {
	background-color: #8f6119;
}

ul.navmenu li {
	position: relative;
}
ul.navmenu a.selected {
	background-color: #505050;
}

a.navs {
	display: block;
	color: #fff;
	background-color: #404040;
	padding-left: 5px;
}

a.navs:hover {
 color: #ccc;
 font-family: Courier;
 font-size: 12px;
 font-weight: normal;
 vertical-align: bottom;
 margin-bottom: 0px;
 margin-left: 5px;   
 margin-right: 5px;
 letter-spacing: 1px;
 line-height: 24px;
}

div.popupbox {
	position: absolute;
	z-index: 1;
	display: none;
	top: 39px;
	background-color: #404040;
	border: 1px solid #000;
	width: 400px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}

.badgebubble {
	font-size: 9px;
	font-family: Verdana;
	font-weight: bold;
	margin: 0px;
	margin-right: 5px;
	padding: 2px 6px 2px 6px;
	border-radius: 8px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.8);
	background-color: #00f;
	color: #fff;
	float: right;
}
a.badgebubble:hover {
	background-color: #88f;
}


a.calunconfresv {
 color: #000;
 background-color: #f32d2d;
 display: block;
font-size: 11pt;
}

a.calconfresv {
 color: #000;
 background-color: #586ce7;
 display: block;
 font-size: 11pt;
}

a.calrental {
 color: #000;
 background-color: #56c434;
 display: block;
 font-size: 11pt;
}

a.caljoyride {
 color: #000;
 background-color: #bd3bcd;
 display: block;
 font-size: 11pt;
	background-image: url('../images/icon_jr.png');
}

a.calperfexp {
 color: #000;
 background-color: #f6a430;
 display: block;
 font-size: 11pt;
	background-image: url('../images/icon_pe.png');
}
a.calcurrent {
 color: #000;
 background-color: #c331c8;
 display: block;
}

a.calendarlink {
	padding: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #555;
	color: #fff;
	font-size: 10px;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
	margin-bottom: 3px;
	background-repeat: no-repeat;
	background-position: 100% 0px;
}
a.calendarlegend {
	padding: 3px;
	color: #fff;
	font-size: 11px;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
	background-image: none;
}
a.calendarlink div.rentalid {
	float: right;
}

td.tnav {
 color: #fff;
}

td.styled {
        font-family: Arial;
        font-size: 12pt;
}
td.clear {
        font-size: 10pt;
}

td.old {
        background-color: #dedede;
        font-size: 10pt;
}
th.old {
        background-color: #d0d0c8;
        font-size: 11pt;
        font-weight: bold;
}

td.dayhead {
	 background-color: #dadad2;
        font-size: 16pt;
        font-weight: bold;
}

td.dayheadw {
	 background-color: #d0d0c8;
        font-size: 16pt;
        font-weight: bold;
}
td.thismonth {
	background-color: #eee;
}
td.othermonth {
	background-color: #bbb;
}
td.today {
		background-color: #c0c0b9;
        font-family: Arial;
        font-size: 14pt;

}



td.menustatus {
	font-family: Helvetica, Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}

td.emergency {
        font-family: Arial Bold, Arial;
        font-size: 18pt;
/*        background-color: #ff0000;*/
        color: #20000;
	color: #fff;
}
td.pending {
        background-color: #ff6060;
        color: #20000;
}
td.joyride {
	background-color: #bd3bcd;
	color: #20000;
}
td.perfexp {
	background-color: #f6a430;
	color: #20000;
}

td.notice {
        font-family: Arial Bold, Arial;
        font-size: 16pt;
        background-color: #ffe000;
        color: #000000;
}
td.today {
        font-family: Arial Bold, Arial;
        background-color: #ffe000;
        color: #000000;
}
td.row1 {
        background-color: #c0c0b8;
        font-family: MS Sans Serif;
        font-size: 6pt;
}
td.row3 {
        background-color: #c0c0c0;
        font-family: MS Sans Serif;
        font-size: 6pt;
}

td.internic {
        font-family: MS Sans Serif, Arial;
        font-size: 12pt;
        background-color: #ffff00;
}

table.gray {
}
table.gray th {
        background-color: #d0d0c8;
        font-size: 11pt;
        font-weight: bold;
}
table.gray td {
        background-color: #dedede;
        font-size: 10pt;
}

table.status {
	min-width: 1000px;
	margin: 0px;
	padding: 0px 2px;
	white-space: nowrap;
}

td.styledgray {
        font-family: Arial;
        font-size: 12pt;
        background-color: #c0c0c0;
}
td.gray {
        font-family: MS Sans Serif;
        font-size: 10pt;
        background-color: #c0c0c0;
}
th.gray {
        font-family: Arial, MS Sans Serif;
        font-size: 12pt;
        font-weight: bold;
        background-color: #c0c0c0;
}

td.orange {
        background-color: #ff9900;
}
td.blue {
        background-color: #b3dded;
}
td.dkblue {
        background-color: #3d84ce;
}
td.styledgreen {
        font-family: Arial;
        font-size: 11pt;
        background-color: #428292;
}
tr.green {
        background-color: #428292;
}
td.green {
        background-color: #428292;
}
td.ltgreen {
        font-family: MS Sans Serif;
        font-size: 10pt;
        background-color: #00AA00;
}
td.hltgreen {
        background-color: #00AA00;
}
th.green {
        font-family: Arial, MS Sans Serif;
        font-size: 12pt;
        font-weight: bold;
        background-color: #428292;
}
th.styledgreen {
        font-family: Arial, MS Sans Serif;
        font-size: 12pt;
        font-weight: bold;
        background-color: #428292;
}


td.styledred {
        font-family: Arial;
        font-size: 12pt;
        background-color: #ff0000;
}
td.red {
        font-family: Arial Bold, Arial;
        font-size: 10pt;
        background-color: #ff0000;
}
th.red {
        font-family: Arial, MS Sans Serif;
        font-size: 12pt;
        font-weight: bold;
        background-color: #ff0000;
}


td.styledwhite {
        font-family: Arial;
        font-size: 12pt;
        background-color: #ffffff;
}
td.white {
        font-family: MS Sans Serif;
        font-size: 10pt;
        background-color: #ffffff;
}
th.white {
        font-family: Arial, MS Sans Serif;
        font-size: 12pt;
        font-weight: bold;
        background-color: #ffffff;
}
.bbsnew {
        border-color: #ff0000;
        font-family: Verdana,Arial;
        font-size: 10pt;
}
.bbsrecent {
        border-color: #ff8080;
        font-family: Verdana,Arial;
        font-size: 10pt;
}
.bbs {
        border-color: #f0f0f0;
        font-family: Verdana,Arial;
        font-size: 10pt;
}
td.bbsdeleted {
        background-color: #d8d8d8;
        font-family: Verdana,Arial;
        font-size: 10pt;
}



h1.pageheader {
        background-color: #dedede;
	font-family: Trebuchet MS;
	font-size: 22px;
	height: 28px;
	margin: 0px;
	padding-top: 45px;
	padding-left: 10px;
}
h1.pageheader a {
	display: inline-block;
	float: right;
	margin: 1px 10px 1px 0px;
	font-size: 12px;
	padding: 5px;
	background-color: #eeeeee;
	border-radius: 10px;
    	color: #000;
        font-family: Arial Bold, Arial;
        text-decoration: none;
}
h1.pageheader a:hover {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}
h1.pageheader a.selected {
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.8);
}

table.pageheader {
	border-collapse: collapse;
	width: 100%;
        background-color: #dedede;
        font-size: 10pt;
}

table.data {
	border-collapse: collapse;
	width: 100%;
	border-width: 1px 2px 2px 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #666;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}
table.data tr.cancelled {
	color: #888;
}
table.data tr.cancelled a {
	color: #888;
}
table.data th {
	padding: 5px;
	text-align: left;
	font-size: 13px;
	border-width: 0px 0px 1px 0px;
	border-color: #666;
	border-style: solid;
	background-color: #d0d0c8;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
}
table.data th.right {
	text-align: right;
}
table.data a.sort_unselected {
	padding: 5px;
}
table.data a.sort_selected {
	padding: 5px 20px 5px 5px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.8);
}
table.data a.asc {
	background-image: url('../images/arrow_up.png');
}
table.data a.desc {
	background-image: url('../images/arrow_down.png');
}
table.data th.key_numeric {
	text-align: right;
	padding-right: 15px;
}
table.data td {
        font-size: 10pt;
	padding: 5px;
}
table.data td.key {
	text-align: left;
	font-weight: bold;
}
table.data td.key_numeric {
	text-align: right;
	font-weight: bold;
	padding-right: 15px;
}
table.data td.numeric {
	text-align: right;
}
table.data td.data {
	text-align: center;
}
table.data td.text {
	text-align: left;
}

table.inputform {
	border-collapse: collapse;
	width: 100%;
        background-color: #d0d0c8;
	margin: 10px 0px 0px 0px;
	border-width: 1px 2px 2px 1px;
	border-width: 1px;
	border-style: solid;
	border-color: #666;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
}
table.inputform tr {
	vertical-align: top;
}
table.inputform th {
	padding: 5px;
	text-align: left;
	font-size: 13px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
}
table.inputform td {
	padding: 3px;
	font-size: 13px;
}
td.label {
	text-align: right;
}
table.inputform td.label {
	width: 200px;
	padding-top: 5px;
	padding-right: 10px;
	background-color: #d0d0c8;
	border-width: 0px 1px 0px 0px;
	border-color: #666;
	border-style: solid;
	font-weight: normal;
	font-size: 12px;
}
td.data {
	text-align: left;
}
table.inputform td.data {
	padding-left: 10px;
	background-color: #dedede;
}
table.inputform td.buttons {
	text-align: center;
	height: 15px;
	background-color: #d0d0c8;
}
table.inputform td.buttons input {
	margin: 0px 20px;
}
table.inputform td.buttons input.leftbutton {
	float: left;
}
table.inputform td.buttons input.rightbutton {
	float: right;
}

td.delbutton {
        font-family: Arial, MS Sans Serif;
        font-size: 12pt;
        font-weight: bold;
        background-color: #ff0000;
	width: 100px;
}

table.data input[type="submit"],
table.inputform input[type="submit"] {
	display: inline-block;
	margin: 1px 10px 1px 0px;
	font-size: 12px;
	padding: 5px;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	border-color: #888;
        font-family: Arial Bold, Arial;
        text-decoration: none;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
	min-width: 80px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
}
table.data input[type="submit"]:hover,
table.inputform input[type="submit"]:hover {
	box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}
table.data input[type="submit"]:active,
table.inputform input[type="submit"]:active {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.8);
}

table.inputform input.rightbutton[type="submit"] {
	border-color: #008800;
	color: #000;
	background-color: #00ee00;
	background: -webkit-gradient(linear, left top, left bottom, from(#0f0), to(#0b0));
}
td.emergency input[type="submit"],
table.inputform input.leftbutton {
	border-color: #440;
	color: #fff;
	background-color: #660000;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#900));
}



p {
 margin: 0.5em;
}

p.copyright {
 font-size: 10px;
 font-family: Courier;
 color: #898989;
}

ul {
 list-style: disc url('../images/button.gif') inside;
}

sup {
 font-size: 9px;
}

small.er {
 font-size: 9px;
}

b.red {
 color: #ff0000;
}
span.red {
 color: #B22222; 
}

p.info {
	margin: 0px 0px 10px 20px;
	color: #888;
	font-style: italic;
	font-size: 11px;
}

table.calendar {
	border-collapse: collapse;
	width: 100%;
	background-color: #ddd;
}
table.calendar td {
	border: 2px solid #aaa;
}
table.calendar_legend {
}
table.calendar_legend input {
	float: right;
	clear: right;
	font-size: 10px;
}

#billinginfo_hidden {
	display: none;
}
#billinginfo {
	float: right;
	clear: right;
	width: 300px;
}
#billinginfolink {
	float: right;
	font-size: 10px;
	margin: 0px 0px 3px 0px;
}

div.pageslink {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

div.history {
}
div.history table {
	border-collapse: collapse;
	width: 400px;
	background-color: #eee;
}
div.history table td {
	font-size: 10px;
	width: 100px;
}
div.history table td.car {
	width: 200px;
}
div.history h4 {
	font-size: 12px;
	margin: 5px 0px 2px 0px;
}

div.carselect {
	position: absolute;
	top: 0px;
	left: 610px;
}

a.icon {
	margin: 0px 3px 0px 0px;
	width: 13px;
	height: 13px;
	display: inline-block;
}
a.search {
	background-image: url('../images/mag_glass.gif');
}
a.reserve {
	background-image: url('../images/book.gif');
}

div.mailpreview {
	background: #f5f5f6;
	margin: 5px;
	padding: 10px;
	border: 1px dashed #000;
}



td.prices {
        font-family: Arial, MS Sans Serif;
        font-size: 12pt;
        text-align: center;
}
table.carprice {
        font-family: Verdana,Arial;
        font-size: 7pt;	
		border-collapse: collapse;
		padding: 2px;
}
table.carprice td {
	padding: 2px;
}

#prices_old {
	position: absolute;
	top: 50px;
	right: 0px;
	height: 410px;
	overflow: hidden;
	z-index: 9;
}

#pricescont {
	position: relative;
	background-image: url('../images/preview-bg.png');
	border: 1px groove;
	border-color: #262626;
	color: #000;
	float: right;
	padding-top: 5px;
	padding-left: 5px;
	z-index: 10;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
img.money {
	width: 18px;
	border: 0;
}
#mimg {
	position: absolute;
	right: 10px;
	top: 5px;
	z-index:10;
}

td.statistics {
	width: 360px;
        font-size: 11pt;
}

table.submenutable {
	float: right;
}

div.bbsnote {
	text-align: left;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	background-color: #eef0f0;
}
div.reply {
	margin-left: 40px;
}
div.bbsinfo {
}
div.bbsinfo a.submenu {
	float: right;	
}
div.bbsnotetext {
	margin: 10px;
}

div.loginwrap {
	text-align: center;
}
div.logincontent {
	width: 500px;
	margin: 60px auto 0px auto;
}
div.logincontent h1 {
	font-size: 16px;
	margin-bottom: 20px;
}
table.loginhostinfo {
	margin: 0px auto;
	font-size: 11px;
}
table.loginhostinfo td.label {
	padding-right: 20px;
}
div.loginerror {
	background-color: #eef0f0;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #ff7777;
}
div.loginerror h3 {
	margin: 0px;
	font-weight: bold;
}
