    <form name="custcontact_{{ custcontact.id }}" onSubmit="return false;">   

    <div class="form_header">

        <span class="title">
        {% if clientuser %}Edit existing contact{% else %}Add new contact{% endif %}
        </span>

    </div>
    <div class="form_body {% if not clientuser %}new-user{% endif %}">

        <table>
            <tr>
                <td>
                    {{ user_form.first_name }}
                    {{ user_form.last_name }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ user_form.password }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.title }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ user_form.email }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ user_form.phone_number }}
                    {{ user_form.phone_extension }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ user_form.mobile_number }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ user_form.fax_number }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ user_form.notes }}
                </td>
            </tr>
        </table>
        
    </div>
    <div class="form_header">
    
        <button class="actionbtn floatright" id="contact_submit" onClick="updateCustContact({% if clientuser %}{{ clientuser.id }}{% else %}null{% endif %})">
        {% if clientuser %}Update contact{% else %}Add contact{% endif %}
        </button>
        
        {% if clientuser %}
        <button class="actionbtn red floatleft" id="contact_delete" onClick="deleteCustContact({{ client.id }}, {{ clientuser.id }})">Delete contact</button>
        {% endif %}
    
    </div>      
    
    <input type="hidden" id="isprimary" value="{{ clientuser.is_primary }}" />
    <input type="hidden" id="id_client" value="{{ client.id }}" />
    <input type="hidden" id="id_user" value="{{ clientuser.user.id }}" />
    
    </form>

