{% extends "mgmt/base.html" %}
{% load static %}

{% block content %}
<div id="notifications">
<div class="list_title" style="background-image: url('{% static "mgmt/images/icon_notifications.png" %}');">
Notifications
</div>

{% load static %}

<div style="display: inline-block; vertical-align: top;">

    <div class="list_header" section="delivery_requests">
        <span class="disclosure"></span>
        Delivery requests
    </div>
    <div class="list_wrap minimized two" section="delivery_requests">
        <ul class="items_list" id="delivery_requests_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>

    <div class="list_header" section="ready_to_ship">
        <span class="disclosure"></span>
        Ready to Ship
    </div>
    <div class="list_wrap minimized two" section="ready_to_ship">
        <ul class="items_list" id="ready_to_ship_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>

</div>

<div style="display: inline-block; vertical-align: top;">

    <div class="list_header" section="inbound_receivables">
        <span class="disclosure"></span>
        Inbound receivables
    </div>
    <div class="list_wrap minimized three" section="inbound_receivables">
        <ul class="items_list" id="inbound_receivables_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>

    <div class="list_header" section="outbound_shipments">
        <span class="disclosure"></span>
        INVQ
    </div>
    <div class="list_wrap minimized three" section="outbound_shipments">
        <ul class="items_list" id="invq_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>

    <div class="list_header" section="low_stock">
        <span class="disclosure"></span>
        Low stock
    </div>
    <div class="list_wrap minimized three" section="low_stock">
        <ul class="items_list" id="low_stock_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>

</div>

<script type="text/javascript">
    $('#delivery_requests_list').load('/mgmt/notifications/delivery_requests/');
    $('#ready_to_ship_list').load('/mgmt/notifications/ready_to_ship/');
    $('#inbound_receivables_list').load('/mgmt/notifications/inbound_receivables/');
    $('#invq_list').load('/mgmt/notifications/invq/');
    $('#low_stock_list').load('/mgmt/notifications/low_stock/');
</script>

</div>

<div class="content">

<div class="customers_list">
<div class="list_title" style="background-image: url('{% static "images/icon_customers.png" %}');">
<!---<button class="floatright" id="toggle_inactive">Toggle inactive customers</button>--->

<ul class="buttonset customers_filter floatright">
    <li id="customer_list_warehousing_yes" title="Warehousing"></li>
    <li id="customer_list_warehousing_no" title="No warehousing"></li>
    <li id="customer_list_inactive" title="Inactive"></li>
<!---
<input type="radio" name="customer_list" checkstate="false" title="Warehousing" id="customer_list_warehousing_yes" value="warehousing_yes" icon="ui-icon-pencil"><label for="customer_list_ware$
<input type="radio" name="customer_list" checkstate="false" title="No warehousing" id="customer_list_warehousing_no" value="warehousing_no"><label for="customer_list_warehousing_no">No wareho$
<input type="radio" name="customer_list" checkstate="false" title="Inactive" id="customer_list_inactive" value="inactive"><label for="customer_list_inactive">Inactive</label>
--->
</ul>

Clients
</div>
<div class="list_wrap" id="customers_list_wrap" style="min-height: 596px; max-height: 596px;">
    <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
</div>

<div id="add_customer_wrap">
<input id="customer_name_new" placeholder="Company name" maxlength="45" />
<button id="add_customer">&nbsp;</button>
</div>
</div>

</div>

<div class="dialog" id="add_customer_confirm" title="Add customer">
Are you sure you want to add this customer?
</div>
{% endblock %}

