{% load static %}

<div style="display: inline-block; vertical-align: top;">

    <div class="list_header" section="delivery_requests">
        <span class="disclosure"></span>
        Delivery requests
    </div>
    <div class="list_wrap minimized two" section="delivery_requests">
        <ul class="items_list" id="delivery_requests_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>

    <div class="list_header" section="ready_to_ship">
        <span class="disclosure"></span>
        Ready to Ship
    </div>
    <div class="list_wrap minimized two" section="ready_to_ship">
        <ul class="items_list" id="ready_to_ship_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>
    
</div>

<div style="display: inline-block; vertical-align: top;">
    
    <div class="list_header" section="inbound_receivables">
        <span class="disclosure"></span>
        Inbound receivables
    </div>
    <div class="list_wrap minimized three" section="inbound_receivables">
        <ul class="items_list" id="inbound_receivables_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>
        
    <div class="list_header" section="outbound_shipments">
        <span class="disclosure"></span>
        INVQ
    </div>
    <div class="list_wrap minimized three" section="outbound_shipments">
        <ul class="items_list" id="invq_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>

    <div class="list_header" section="low_stock">
        <span class="disclosure"></span>
        Low stock
    </div>
    <div class="list_wrap minimized three" section="low_stock">
        <ul class="items_list" id="low_stock_list">
            <img class="loading" src="{% static "accounting/images/loading_bar.gif" %}" />
        </ul>
    </div>
    
</div>

<script type="text/javascript">
    refreshNotifications('delivery_requests');
    refreshNotifications('ready_to_ship');
    refreshNotifications('inbound_receivables');
    refreshNotifications('invq');
    refreshNotifications('low_stock');
</script>