{% load humanize %}

<ul class="mode_toggle">
<a href="javascript:nop()" onClick="showInactive(false)"><li {% if active_filter == 1 %}class="selected"{% endif %}>active</li></a>
<a href="javascript:nop()" onClick="showInactive(true)"><li {% if active_filter == 0 %}class="selected"{% endif %}>inactive</li></a>
</ul>

<table class="infotable alternating inventory editable scrollable">
    <thead>
        <tr>
            <th style="width: 88px;" class="text">Item #</th>
            <th style="width: 99px;" class="text">Client ID</th>
            <th style="width: 99px;" class="text" id="location_header">Location<div id="location_filter"></div></th>
            <th style="width: 433px;" class="text">Description</th>
            <th style="width: 112px;" class="numeric">Packing (pcs/cs)</th>
            <th style="width: 132px;" class="numeric">Curr. inventory (cs)</th>
            <th style="width: 131px;" class="numeric">Total quantity (pcs)</th>
            <th style="width: 34px;" class="spacer20"></th>
            <th style="width: 137px;" class="action" colspan="5"></th>
            <th style="width: 42px;" class="glyph"></th>
        </tr>
    </thead>
    <tbody style="max-height: 400px;">
    {% for product in products %}

        <tr class="product {% if not product.is_active %}deleted{% endif %}" id="product_{{ product.id }}" client_id="{{ product.client.id }}" location_id="{% if product.location %}{{ product.location.id }}{% else %}0{% endif %}">
            <td style="width: 100px;" class="text editable clickable" productid="{{ product.id }}"><input type="text" id="itemnum_{{ product.id }}" value="{{ product.item_number }}"  productid="{{ product.id }}" style="width: 80px;" maxlength="12" /></td>
            <td style="width: 110px;" class="text editable clickable" productid="{{ product.id }}"><input type="text" id="ctag_{{ product.id }}" value="{{ product.client_tag }}" productid="{{ product.id }}" style="width: 100px;" maxlength="16" /></td>
            <td style="width: 94px; max-width: 94px; overflow: hidden; text-overflow: ellipsis;" class="text clickable location" location_id="{{ product.location.id }}" productid="{{ product.id }}">{{ product.location.name }}</td>
            <td style="width: 434px;" class="text editable clickable" productid="{{ product.id }}">
                <input type="text" id="pname_{{ product.id }}" value="{{ product.name }}" productid="{{ product.id }}" style="width: 280px;" maxlength="500" />
                <span class="account-label">{{ product.get_accounting_prepay_type_display|default_if_none:"" }}</span>
            </td>
            <td style="width: 120px;" class="numeric editable clickable" productid="{{ product.id }}"><input type="text" id="packing_{{ product.id }}" value="{{ product.packing|intcomma }}" productid="{{ product.id }}" style="width: 80px;" maxlength="8" /></td>
            <td style="width: 140px;" class="numeric editable clickable" productid="{{ product.id }}">
                <input type="text" id="remain_{{ product.id }}" value="{{ product.cases_available|intcomma }}" productid="{{ product.id }}" style="width: 80px;" maxlength="8" />
                {% if product.cases_available != product.cases_inventory %}
                    <span class="cases-available">{{ product.cases_inventory|intcomma }}</span>
                {% endif %}
            </td>
            <td style="width: 124px;" class="numeric clickable" productid="{{ product.id }}"><span class="{% if product.is_low %}low_qty{% endif %}">{{ product.units_inventory|intcomma }}</span></td>
            <td style="width: 20px;" class="spacer20 clickable" productid="{{ product.id }}"></td>
            <td style="width: 17px; padding: 8px 5px;" class="action" id="action_incoming_{{ product.id }}">{% if product.is_active %}<a href="javascript:nop()" onClick="setupProductTransfer({{ product.id }}, null)" class="ui-icon ui-icon-transfer-e-w" title="Transfer"></a>{% endif %}</td>
            <td style="width: 17px; padding: 8px 5px;" class="action" id="action_incoming_{{ product.id }}">{% if product.is_active %}<a href="javascript:nop()" onClick="incomingProduct({{ product.id }})" class="ui-icon ui-icon-clipboard" title="Incoming"></a>{% endif %}</td>
            <td style="width: 17px; padding: 8px 5px;" class="action" id="action_return_{{ product.id }}">{% if product.is_active %}<a href="javascript:nop()" onClick="setupReturn({{ product.id }}, '{{ product.item_number }}', '{{ product.name }}')" class="ui-icon ui-icon-arrowreturnthick-1-w" title="Return"></a>{% else %}<a href="javascript:nop()" onClick="deleteProduct({{ product.id }},true)" class="ui-icon ui-icon-trash" title="Clear Permanently"></a>{% endif %}</td>
            <td style="width: 17px; padding: 8px 5px;" class="action" id="action_delete_{{ product.id }}">{% if product.is_active %}<a href="javascript:nop()" onClick="deleteProduct({{ product.id }},false)" class="ui-icon ui-icon-trash" title="Delete"></a>{% else %}<a href="javascript:nop()" onClick="undeleteProduct({{ product.id }})" class="ui-icon ui-icon-cancel" title="Restore"></a>{% endif %}</td>
            <td style="width: 17px; padding: 8px 5px;" class="action" id="action_history_{{ product.id }}"><a href="javascript:nop()" onClick="showProductHistory({{ product.id }},null,null)" class="ui-icon ui-icon-clock" title="History"></a></td>

            <td style="width: 30px;" class="glyph flashing">{% if product.pending_receivables.count > 0 %}<a href="javascript:nop()" onClick="showProductHistory({{ product.id }},null,null)" title="Pending Incoming">&#10144;</a>{% endif %}</td>
        </tr>

    {% endfor %}

    {% if active_filter %}
        <tr class="product" id="product_new" client_id="{{ client.id }}" onClick="selectProduct('new', false)">
            <td style="width: 100px;" class="text editable" productid="new"><input type="text" id="itemnum_new" productid="new" style="width: 80px;" maxlength="12" /></td>
            <td style="width: 110px;" class="text editable" productid="new"><input type="text" id="ctag_new" productid="new" style="width: 100px;" maxlength="16" /></td>
            <td style="width: 94px;" class="text" productid="new">
                <select id="location_new" style="width: 70px">
                    <option value="">(None)</option>
                    {% for location in client.location_set.all %}
                       {% if location.is_active %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td style="width: 434px;" class="text editable" productid="new">
                <input type="text" id="pname_new" productid="new" style="width: 280px;" maxlength="255" />
                <span class="account-label">
                <select id="accounting_prepay_type_new">
                    <option value="1">INVQ</option>
                    <option value="2">Prepaid</option>
                </select>
                </span>
            </td>
            <td style="width: 120px;" class="numeric editable" productid="new"><input type="text" id="packing_new" productid="new" style="width: 80px;" maxlength="10" /></td>
            <td style="width: 140px;" class="numeric editable" productid="new"><input type="hidden" id="remain_new" productid="new" style="width: 80px;" maxlength="10" /></td>
            <td style="width: 124px;" class="numeric" productid="new"><input type="hidden" id="totalq_new" productid="new" style="width: 100px;" /></td>
            <td style="width: 20px;" class="spacer20"></td>
            <td style="width: 17px; padding: 8px 5px;" class="action"></td>
            <td style="width: 17px; padding: 8px 5px;" class="action"></td>
            <td style="width: 17px; padding: 8px 5px;" class="action"></td>
            <td style="width: 17px; padding: 8px 5px;" class="action"></td>
            <td style="width: 17px; padding: 8px 5px;" class="action"><a href="javascript:nop()" onClick="saveProduct('new')">add</a></td>
            <td style="width: 30px;" class="glyph"></td>
        </tr>
    {% endif %}
    </tbody>
</table>
