{% extends "mgmt/base.html" %}
{% load static %}

{% block content %}

<div class="content">
    
{% if history %}
<script type="text/javascript">
globals['history'] = {{ history }};
</script>
{% endif %}

{% if productid %}
<script type="text/javascript">
globals['productid'] = {{ productid }};
</script>
{% endif %}


<div class="customerheader">{{ client.company_name }}</div>

{% with page_selected="inventory" %}
{% include "mgmt/inc_nav.html" %}
{% endwith %}


<div id="list_inventory"></div>

<div class="product_detail" id="product_details"></div>

<div class="product_detail" id="product_incoming"></div>

<div class="product_detail" id="product_history"></div>


<div class="dialog" id="product_delete_confirm" title="Delete product">
Are you sure you want to delete this product?
</div>

<div class="dialog" id="product_permdelete_confirm" title="Delete product">
Are you sure you want to permanently delete this product? This action cannot be undone.
</div>

<div class="dialog" id="product_undelete_confirm" title="Undelete product">
Are you sure you want to restore this product?
</div>

<div class="dialog" id="incoming_cancel_confirm" title="Cancel incoming receivable">
Are you sure you want to cancel this incoming receivable?
</div>

<div class="dialog" id="incoming_save_confirm" title="Save incoming receivable">
You are overriding the warehouse scanning procedure. <b>Note:</b> client inventory will be updated.
</div>

<div class="dialog" id="dialog_addreceivable_result" title="Receivable Saved">
The incoming receivable for the selected product has been saved. You can view its status by clicking <b>history</b>.
</div>
        
<div class="dialog" id="dialog_confirmreceivable_result" title="Receivable Confirmed">
The incoming receivable for the selected product has been confirmed. The inventory stock quantities have been updated accordingly.
<p id="cases_mismatch_warning"><b>Note:</b> Fewer cases were received than were expected. A new incoming has been created for the remainder.</p>
</div>
    
<div class="dialog" id="dialog_saveproduct_result" title="Product Details Saved">
The product details have been updated.
</div>

<div class="dialog" id="dialog_transfer_selectcustomer" title="Transfer Product Inventory">
<p>Select the client to transfer this product to.</p>

<ul class="transfer_destination" id="transfer_customer"></ul>
</div>

<div class="dialog" id="dialog_transfer_selectproduct" title="Transfer Product Inventory">
<p>Transfer: <input type="number" id="transfer_cases" /> of <span id="transfer_remain_selected"></span> cases</p>

<p>Select the product in the client's inventory to transfer to.</p>

<ul class="transfer_destination" id="transfer_product"></ul>
</div>  

<div class="dialog" id="dialog_documents" title="Documents">
    <div style="margin: 20px;">
        <input type="file" id="shipment_upfile">
        <button id="upload_bol" onclick="execute_uploadShipmentDoc();">Upload</button>
    </div>

    <table id="documents_list" class="infotable alternating">
    </table>
</div>

<div class="dialog" id="dialog_return" title="Return">
    <p id="return_product_name"></p>
    <p>Enter the details of the returned items.</p>
    <table>
        <tr>
            <td class="label">Non-damaged:</td>
            <td><input type="number" id="undamaged_cases" /> cases</td>
        </tr>
        <tr>
            <td class="label">Damaged:</td>
            <td><input type="number" id="damaged_cases" /> cases</td>
        </tr>
        <tr>
            <td class="label">Location:</td>
            <td>
                <select id="return_location">
                    <option value="">(Select)</option>
                    {% for location in client.location_set.all %}
                    <cfoutput query="Locations">
                        <option value="{{ location.id }}">{{ location.name }}</option>
                    </cfoutput>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">Date:</td>
            <td><input class="datepicker" type="text" id="return_date" /></td>
        </tr>
    </table>
</div>

<div class="dialog" id="dialog_errors" title="Error">

</div>


<input type="hidden" id="customerid" value="{{ client.id }}" />
<input type="hidden" id="cases_new" value="0" />
<input type="hidden" id="contqty_new" value="0" />


{% endblock %}
