    <form name="location_{{ location.id }}" onSubmit="return false;">

    <div class="form_header">

        <span class="title">
        {% if location %}Edit existing location{% else %}Add new location{% endif %}
        </span>

    </div>
    <div class="form_body {% if not location %}new-item{% endif %}">

        <table>
            <tr>
                <td>
                    {{ form.netsuite_id }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.netsuite_submit_enabled }}
                    <label for="id_netsuite_submit_enabled">{{ form.netsuite_submit_enabled.label }}</label>
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.name }}
                </td>
            </tr>

            <tr>
                <td>
                    <select id="id_contact_user">
                        {% if not location.contact_user %}
                        <option value="0">(Select contact)</option>>
                        {% endif %}

                        {% for contact in client.contacts %}
                        {% if contact.user.is_active %}
                        <option value="{{ contact.id }}" {% if location.contact_user == contact or contact.is_primary %}selected{% endif %}>{{ contact.user.first_name }} {{ contact.user.last_name }}{% if contact.title %} [{{ contact.title }}]{% endif %}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="non-input">
                        <span id="email_primary"><a href="mailto:{{ location.contact_user.user.email }}">{{ location.contact_user.user.email }}</a></span>
                        <span id="tel_primary">{{ location.contact_user.user.phone_number }} {{ location.contact_user.user.phone_extension }}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="id_address" value="{{ location.address }}" placeholder="Delivery Address line 1" style="width: 469px;" maxlength="45" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="id_address_2" value="{{ location.address_2 }}" placeholder="Delivery Address line 2" style="width: 469px;" maxlength="45" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="id_city" value="{{ location.city }}" placeholder="City" style="width: 140px;" maxlength="24" />
                    {{ form.state }}
                    {{ form.country }}
                    {{ form.postal_code }}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="id_receiving_hours" value="{{ location.receiving_hours }}" placeholder="Receiving Hours" style="width: 469px;" maxlength="100" />
                </td>
            </tr>
            <tr>
                <td><textarea id="id_notes" placeholder="Notes" class="smalltext" style="width: 469px;">{{ location.notes }}</textarea></td>
            </tr>

        </table>

    </div>
    <div class="form_header">

        <button class="actionbtn floatright" id="location_submit" onClick="updateLocation({{ client.id }}, {% if location %}{{ location.id }}{% else %}null{% endif %})">
        {% if location %}Update location{% else %}Add location{% endif %}
        </button>

        {% if location %}
        <button class="actionbtn red floatleft" id="location_delete" onClick="deleteLocation({{ location.client.id }}, {{ location.id }})">Delete location</button>
        {% endif %}

    </div>

    </form>
