{% for shipment in invq %}
    <a href="{% url "mgmt:shipments" client_id=shipment.client__id %}?shipmentid={{ shipment.id }}">
        <li>
            <div class="date floatright">{{ shipment.date | date:"SHORT_DATE_FORMAT" }}</div>
            <div class="dl">DL # {{ shipment.id }}</div>
            <div class="items-list-content">
                <div class="coname">
                    <p>{{ shipment.client__company_name }}</p>
                    <p class="subtitle">{{ shipment.location__name }}</p>
                </div>
            </div>
        </li>
    </a>
{% endfor %}