{% for receivable in inbound_receivables %}
    <a href="{% url "mgmt:inventory" client_id=receivable.obj.client.id %}?history={{ receivable.obj.product.id }}">
        <li>
            <div class="date floatright">{{ receivable.obj.date_created | date:"SHORT_DATE_FORMAT" }}</div>
            <div class="items-list-content">
                <div class="coname">
                    <p>{{ receivable.obj.client.company_name }}</p>
                    <p class="subtitle">{{ receivable.obj.product.item_number }}: {{ receivable.obj.product.name }} {% if receivable.is_partial %}<span class="partial_receivable">PARTIAL</span>{% endif %}</p>
                </div>
            </div>
        </li>
    </a>
{% endfor %}