{% load humanize %}
{% load static %}

<div class="form_header dark">
<button class="actionbtn floatright" id="product_submit" onClick="saveProduct({{ product.id }})">Save</button>
<span class="title">
<a target="_blank" href="{% url "mgmt:product-print" product_id=product.id %}?inline"><img src="{% static "mgmt/images/barcode.gif" %}" /></a>
Order details for Item {{ product.item_number }}: {{ product.name }}</span>
<span class="logs-link"><a target="_blank" href="{% url "mgmt:action-log" %}?product_id={{ product.id }}">Logs</a></span>
</div>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th style="width: 75px;" class="text">PO #</th>
        <th style="width: 75px;" class="text">SO #</th>
        <th style="width: 75px;" class="text">Account</th>
        <th style="width: 130px;" class="numeric">Contracted qty (pcs)</th>
        <th style="width: 90px;" class="numeric">Cases</th>
        <th style="width: 94px;" class="numeric">Unit price</th>
        <th style="width: 114px;" class="numeric">Total price</th>
        <th style="width: 110px;" class="numeric">GW (<a class="switch-units weight">kg</a>)</th>
        <th style="width: 291px;" class="text">Ctn dimensions (<a class="switch-units length">cm</a>)</th>
        <th style="width: 135px;" class="text">Lead Time</th>
    </tr>
    </thead>
    <tbody>
    <tr class="detail" id="productdetail_#URL.productid#">
        <td style="width: 70px;" class="text">{{ product.last_receivable.purchase_order }}</td>
        <td style="width: 70px;" class="text">{{ product.last_receivable.shipment_order }}</td>
        <td style="width: 70px;" class="text">
            {{ form.account_prepay_type }}
        </td>
        <td style="width: 136px;" class="numeric editable">
            {{ form.contracted_quantity }}
        </td>
        <td style="width: 80px;" class="numeric">{{ product.cases_inventory|intcomma }}</td>
        <td style="width: 100px;" class="numeric editable">${{ form.unit_price }}</td>
        <td style="width: 104px;" class="numeric">${{ product.total_price|floatformat:2|intcomma }}</td>
        <td style="width: 100px;" class="numeric">
            {{ form.gross_weight }}
            <input type="hidden" id="gross_weight_metric" value="{{ product.gross_weight|floatformat:1 }}" />
            <input type="hidden" id="gross_weight_imperial" value="{{ product.gross_weight_imperial|floatformat:1 }}" />
        </td>
        <td style="width: 286px;" class="text">
            {{ form.length }} l &times;
            {{ form.width }} w &times;
            {{ form.height }} h
            <input type="hidden" id="length_metric" value="{{ product.length }}" />
            <input type="hidden" id="width_metric" value="{{ product.width }}" />
            <input type="hidden" id="height_metric" value="{{ product.height }}" />
            <input type="hidden" id="length_imperial" value="{{ product.length_imperial|floatformat:1 }}" />
            <input type="hidden" id="width_imperial" value="{{ product.width_imperial|floatformat:1 }}" />
            <input type="hidden" id="height_imperial" value="{{ product.height_imperial|floatformat:1 }}" />
        </td>
        <td style="width: 130px;" class="text">
            {{ form.is_domestic }}
        </td>
    </tr>
    </tbody>
</table>
