{% load humanize %}
{% load static %}

<div class="form_header dark">
<button class="actionbtn floatright" onClick="generateReport(#URL.productid#)">Report</button>
<span class="title floatright" style="margin-right: 10px;">
Show from
<input type="text" id="fromdate" value="{{ date_from|date:"SHORT_DATE_FORMAT" }}" productid="{{ product.id }}" style="width: 100px;" />
to
<input type="text" id="todate" value="{{ date_to|date:"SHORT_DATE_FORMAT" }}" productid="{{ product.id }}" style="width: 100px;" />
</span>

<span class="title">
<a target="_blank" href="{% url "mgmt:product-print" product_id=product.id %}?inline"><img src="{% static "mgmt/images/barcode.gif" %}" /></a>
History for Item {{ product.item_number }}: {{ product.name }}</span>
<span class="logs-link"><a target="_blank" href="{% url "mgmt:action-log" %}?product_id={{ product.id }}">Logs</a></span>
</div>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="date">Request date</th>
        <th class="date">In/Out date</th>
        <th class="text">Location</th>
        <th class="text">PO #</th>
        <th class="text">SO #</th>
        <th class="numeric">Qty (pcs)</th>
        <th class="numeric">Pkg (pcs/cs)</th>
        <th class="numeric">Cases in</th>
        <th class="numeric">Cases out</th>
        <th class="numeric">Cases bal</th>
        <th class="numeric">DL #</th>
        <th class="glyph"></th>
        <th class="text">Status</th>
        <th class="action"></th>
    </tr>
    </thead>
    <tbody>

    {% for transaction in history %}

    <tr class="detail {% if transaction.shipment.is_pending %}shipment-pending{% endif %}">
        <td class="date">
            {% if transaction.shipment == None and transaction.receivable == None %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% elif not transaction.is_outbound %}
                {{ transaction.receivable.date_created|date:"SHORT_DATE_FORMAT" }}
            {% else %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% endif %}
        </td>
        <td class="date">
            {% if transaction.shipment == None and transaction.receivable == None %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% elif not transaction.is_outbound %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% else %}
                {{ transaction.shipment.date_shipped|date:"SHORT_DATE_FORMAT" }}
            {% endif %}
        </td>
        <td class="text" style="max-width: 94px; overflow: hidden; text-overflow: ellipsis;">
            {% if transaction.receivable.returned_product %}
                {{ transaction.receivable.returned_product.location.name }}
            {% elif transaction.shipment %}
                {{ transaction.shipment.location.name }}
            {% elif transaction.receivable %}
                {{ transaction.receivable.location.name }}
            {% else %}
                <i><a href="{% url "mgmt:inventory" client_id=transaction.transfer_client.id %}?history={{ transaction.transfer_product.id }}">
                    (Transfer {% if transaction.is_outbound %}to{% else %}from{% endif %} {{ transaction.transfer_client.company_name }})
                </a></i>
            {% endif %}
        </td>
        <td class="text">
            {% if transaction.cases == None %}
                <input type="text" id="PO_{{ transaction.product.id }}" value="{{ transaction.receivable.purchase_order }}" productid="{{ product.id }}" style="width: 100px;" maxlength="16" />
            {% else %}
                {{ transaction.receivable.purchase_order }}
            {% endif %}
        </td>
        <td class="text">
            {% if transaction.cases == None %}
                <input type="text" id="SO_{{ transaction.product_id }}" value="{{ transaction.shipment_order }}" productid="{{ product.id }}" style="width: 100px;" maxlength="16" />
            {% else %}
                {{ transaction.shipment_order }}
            {% endif %}
        </td>
        <td class="numeric">
            {% if transaction.cases %}
                {{ transaction.total_quantity|intcomma }}
            {% endif %}
        </td>
        <td class="numeric">
            {% if transaction.cases %}
                {{ transaction.product.packing|intcomma }}
            {% endif %}
        </td>
        <td class="numeric">
            {% if not transaction.is_outbound %}
                {% if not transaction.cases %}
                    <input type="text" id="cases_{{ transaction.receivable.id }}" value="" transactionid="{{ transaction.id }}" placeholder="{{ transaction.receivable.cases }}" style="width: 60px;" maxlength="10" />
                {% else %}
                    {{ transaction.cases }}
                {% endif %}
            {% endif %}
            {% if transaction.cases != transaction.receivable.cases and transaction.cases and transaction.receivable.cases %}
                <span class="{% if transaction.cases_received_split %}partial_receivable{% endif %}">({{ transaction.cases_received_split }})</span>
            {% endif %}
        </td>
        <td class="numeric">
            {% if transaction.is_outbound %}
                {{ transaction.cases }}
            {% endif %}
        </td>
        <td class="numeric">
{% comment %}
            {% if transaction.quantity_remaining and transaction.product.packing %}
                {{ transaction.cases_remaining }}
            {% else %}
                0
            {% endif %}
{% endcomment %}
            {{ transaction.cases_remaining_differential }}
        </td>
        <td class="numeric">{% if transaction.shipment %}<a href="{% url "mgmt:shipments" client_id=transaction.shipment.client.id shipment_id=transaction.shipment.id %}">{{ transaction.shipment.id }}</a>{% endif %}</td>
        <td class="action" style="width: 60px;">
            {% if transaction.shipment.shipmentdoc_set.count %}
                <button class="show-shipment-docs" onClick="showShipmentDocs({{ transaction.shipment.id }});">{{ transaction.shipment.shipmentdoc_set.count }}</button>
            {% endif %}
        </td>
        <td class="text">
            {% if transaction.receivable.returned_product %}
                Returned
            {% else %}
                {{ transaction.shipment.get_status_display }}
            {% endif %}
        </td>
        <td class="action" style="width: 330px;">
            {% if not transaction.is_outbound and not transaction.cases %}
                <button class="actionbtn" onClick="saveTransaction({{ transaction.receivable.id }}, {{ transaction.product.id }})">Confirm</button>
                <button class="actionbtn" onClick="cancelIncoming({{ transaction.receivable.id }}, {{ transaction.product.id }})">Cancel</button>
            {% elif not transaction.shipment.date_shipped %}
<!---            <button class="actionbtn" onClick="cancelTransaction(#transactionid#,#URL.productid#)">Cancel</button>--->
            {% endif %}
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>

