<div class="form_header dark">
<button class="actionbtn floatright" id="product_submit" onClick="addReceivable({{ product.id }})">Save Receivable</button>
<span class="title">Arriving Shipment for {{ product.item_number }}: {{ product.name }}</span>
</div>
<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="text">PO #</th>
        <th class="text">SO #</th>
        <th class="numeric"># cases arriving</th>
        <th class="spacer100"></th>
        <th class="text">Arrival date</th>
    </tr>
    </thead>
    <tbody>
    <tr class="detail" id="productdetail_{{ product.id}}">
        <td class="text editable">{{ form.purchase_order }}</td>
        <td class="text editable">{{ form.shipment_order }}</td>
        <td class="numeric editable">{{ form.cases }}</td>
        <td class="spacer100"></td>
        <td class="text editable">{{ form.date_received }}</td>
    </tr>
    </tbody>
</table>
