{% extends "mgmt/base.html" %}
<CFINCLUDE TEMPLATE="inc_header.cfm">

{% block content %}

<div class="content">

<h1>Search Results</h1>

<table class="infotable alternating editable search">
    <thead>
    <tr>
        <th class="numeric">Item #</th>
        <th class="numeric">DL #</th>
        <th class="text">Shipped</th>
        <th class="text">Client</th>
        <th class="text">Location</th>
        <th class="text">PO</th>
        <th class="text">SO</th>
        <th class="numeric">Packing (pcs/cs)</th>
        <th class="numeric">Qty (cs)</th>
        <th class="numeric">Qty (pcs)</th>
        <th class="text">Docs</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
    <cfoutput query="Search">
    <tr customerid="{{ transaction.client.id }}" shipmentid="{{ transaction.shipment.id }}" productid="{{ transaction.product.id }}">
        <td class="numeric">{{ transaction.product.item_number }}</td>
        <td class="numeric">{{ transaction.shipment.id }}</td>
        <td class="date">{{ transaction.shipment.date_shipped|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="text">{{ transaction.client.company_name }}</td>
        <td class="text">{{ transaction.shipment.location.name }}</td>
        <td class="text">{{ transaction.shipment.purchase_order }}</td>
        <td class="text">{{ transaction.shipment_order }}</td>
        <td class="numeric">{{ transaction.product.packing }}</th>
        <td class="numeric">{{ transaction.cases }}</th>
        <td class="numeric">{{ transaction.total_quantity }}</th>
        <td class="text" style="width: 66px;">
            {% if transaction.shipment.shipmentdoc_set.count > 0 %}
            <cfif document_count GT 0>
            <button class="show-shipment-docs" onClick="showShipmentDocs({{ transaction.shipment.id }});">{{ transaction.shipment.shipmentdoc_set.count }}</button>
            </cfif>
            {% endif %}
        </td>
    </tr>
    </cfoutput>
    {% endfor %}
    </tbody>
</table>

</div>

<div class="dialog" id="dialog_documents" title="Documents">
    <div style="margin: 20px;">
        <input type="file" id="shipment_upfile">
        <button id="upload_bol" onclick="execute_uploadShipmentDoc();">Upload</button> 
    </div>
    
    <table id="documents_list" class="infotable alternating">
    </table>
</div>

</body>
</html>

{% endblock %}
