{% load static %}

<ul class="mode_toggle">
<a href="javascript:nop()" onClick="showShipped(false)"><li {% if shipped_filter == 1 %}class="selected"{% endif %}>unshipped</li></a>
<a href="javascript:nop()" onClick="showShipped(true)"><li {% if shipped_filter == 0 %}class="selected"{% endif %}>shipped</li></a>
</ul>

<input type="search" placeholder="Search DL#" class="search" />

<table class="infotable alternating shipments editable scrollable">
    <thead>
        <tr>
            <th style="width: 120px;" class="text">Requested Date</th>
            <th style="width: 120px;" class="text">In/Out Date</th>
            <th style="width: 120px;" class="text">DL #</th>
            <th style="width: 344px;" class="text">Location</th>
            <th style="width: 120px;" class="spacer20"></th>
            <th style="width: 120px;" class="text">Status</th>
            <th style="width: 199px;" class="text">Pallets</th>
            <th style="width: 65px;" class="text">Docs</th>
            <th style="width: 110px;" class="action"></th>
        </tr>
    </thead>
    <tbody style="max-height: 400px; position: relative;">
    </tbody>
</table>

<script type="text/javascript">
infiniteScrollTable('#list_shipments', fetchShipments);

$(document).ready(function() {
    $('.search').on('search', function(event, obj) {
        refreshShipments($(this).val());
    });
});
</script>