<div class="form_header dark">

<div class="bol-icon">
    <button class="show-shipment-docs" onClick="showShipmentDocs({{ shipment.id }});">{{ shipment.shipmentdoc_set.count }}</button>
</div>

<span class="shipmentid">{{ shipment.id }}</span>
<span class="title">Shipment details for {{ shipment.client.company_name }} ({{ shipment.location.name }})</span>
</div>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="itemnum">Item #</th>
        <th class="text">Description</th>
        <th class="text">Invoice</th>
        <th class="text">Carrier</th>
        <th class="text">3rd party carrier</th>
        <th class="date">Shipping date</th>
        <th class="numeric">Packing pcs/cs</th>
        <th class="numeric">Cases</th>
        <th class="numeric">Pallets</th>
        <th class="numeric">Gross weight (lb)</th>
        <th class="text">Ctn dimensions (in, l &times; w &times; h)</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in shipment.transaction_set.all %}

    <tr class="shipment-detail detail" id="productdetail_{{ transaction.product.id }}">
        <td class="text">{{ transaction.product.item_number }}</td>
        <td class="text" style="width: 300px;">{{ transaction.product.name }}</td>
        <td class="text">{{ transaction.product.get_accounting_prepay_type_display|default_if_none:"" }}</td>
        <td class="text">{{ transaction.shipment.carrier }}{% if transaction.shipment.tracking %}<br />{{ transaction.shipment.tracking }}{% endif %}</td>
        <td class="text">{{ transaction.shipment.third_party }}</td>
        <td class="date">{{ transaction.shipment.date_shipped|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="numeric">{{ transaction.product.packing }}</td>
        <td class="numeric">{{ transaction.cases }}</td> 
        <td class="numeric">{{ transaction.pallet_share }}</td>
        <td class="numeric">{{ transaction.total_weight_imperial|floatformat:1 }}</td>
        <td class="text">{{ transaction.product.length_imperial|floatformat:1 }} &times; {{ transaction.product.width_imperial|floatformat:1 }} &times; {{ transaction.product.height_imperial|floatformat:1 }}</td>
    </tr>   
        
    {% endfor %}
    </tbody>
</table>
    

