div#header {
	background-color: #528D48;
}

div.content {
	min-width: 1250px;
	width: 1250px;
}

div.pagetitle {
	line-height: 40px;
	margin-left: 300px;
}

ul.mode_toggle {
	width: 187px;
}

.under-construction {
	text-align: center;
	padding-top: 150px;
	font-size: 30px;  
	color: #aaa; 
}

