div#header {
	background-color: #8C4658;
}

div.content {
	min-width: 1250px;
	width: 1250px;
}

div.pagetitle {
	line-height: 40px;
	margin-left: 300px;
}

#li_shipments {
	background-image: none;
}

.shipping_info a {
	text-decoration: none;
	color: #000;
	background-color: #ddf;
	padding: 2px 4px;
	border-radius: 3px;
	margin-left: 10px;
}
.shipping_info a:hover {
	background-color: #fff;
}

ul.mode_toggle {
        width: 160px;
}

#dialog_shipping_info {
	overflow-x: hidden;
}

