{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Think Package Warehouse Access</title>
    <link rel=stylesheet href="{% static "warehouse/css/style_gen.css" %}" TYPE="text/css">
    <link rel=stylesheet href="{% static "warehouse/css/style.css" %}" TYPE="text/css">
    <link rel=stylesheet href="{% static "warehouse/css/jquery-ui.css" %}" TYPE="text/css">
    <script type="text/javascript" src="{% static "warehouse/js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "warehouse/js/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "warehouse/js/main.js" %}"></script>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
</head>

{% if user.is_authenticated %}

<body>

    <div id="header">
    <div class="logoutlink"><a href="{% url "sign-out" %}">Log out [{{ user.email }}]</a></div>
    <div class="logoutlink">{% now "D F j, g:i A" %}</div>
    <div class="pagetitle">WAREHOUSE</div>
    </div>

{% else %}

<body class="login">

{% endif %}

{% block content %}{% endblock %}

</body>
</html>
