{% load static %}
{% load humanize %}
<CFIF NOT IsDefined("libloaded")>
        <CFINCLUDE TEMPLATE="inc_lib.cfm">
</CFIF>

<CFIF IsDefined("URL.shipmentid") AND IsNumeric(URL.shipmentid)>
<CFELSEIF IsDefined("URL.shipmentid")>
    <CFABORT>
<CFELSE>
    <div class="error">Invalid shipment ID specified.</div>
    <CFABORT>
</CFIF>

<CFQUERY NAME="ShipCustomer" DATASOURCE="#DSN#">
SELECT *,Locations.name as location_name,count(ShipmentDocs.shipmentid) AS document_count FROM Shipments
INNER JOIN Customers ON Shipments.customerid=Customers.customerid
LEFT JOIN Locations ON Shipments.locationid=Locations.locationid
LEFT JOIN ShipmentDocs ON ShipmentDocs.shipmentid=Shipments.shipmentid
WHERE Shipments.shipmentid=<CFQUERYPARAM value="#URL.shipmentid#" CFSQLType="CF_SQL_NUMERIC">
GROUP BY Shipments.shipmentid
</CFQUERY>

<CFQUERY NAME="ShipProducts" DATASOURCE="#DSN#">
SELECT * FROM Shipments,Transactions,Products
WHERE Shipments.shipmentid=<CFQUERYPARAM value="#URL.shipmentid#" CFSQLType="CF_SQL_NUMERIC">
AND Transactions.shipmentid=Shipments.shipmentid
AND Transactions.productid=Products.productid
GROUP BY Transactions.productid
</CFQUERY>

<CFQUERY NAME="ShipPallets" DATASOURCE="#DSN#">
SELECT * FROM Pallets
WHERE shipmentid=<CFQUERYPARAM value="#URL.shipmentid#" CFSQLType="CF_SQL_NUMERIC">
</CFQUERY>

<CFOUTPUT QUERY="ShipCustomer">
<div class="form_header dark">
{% if shipment.status != 2 %}<button class="actionbtn floatright" id="generate_bol" onClick="window.open('gen_bol.cfm?shipmentid=#URL.shipmentid#')">BOL</button>{% endif %}
{% if shipment.status == 1 or shipment.pallet_set.count > 0 %}
    {% if shipment.status != 2 %}<button class="actionbtn floatright" id="ship_shipment" onClick="shipShipment(#URL.shipmentid#)">Shipped</button>{% endif %}
{% endif %}
{% if shipment.status != 1 and False %}<button class="actionbtn floatright" id="save_shipment" onClick="updateShipment(#URL.shipmentid#)">Save</button>{% endif %}

<div class="shipping_info">
<div class="floatleft" style="display: inline-block;">
<p>{{ shipment.carrier }}</p>
<p>{{ shipment.tracking }}</p>
</div>
<div style="margin-left: 30px; display: inline-block;">
<p>{% if shipment.third_party %}Load ##: #ShipCustomer.loadnum#{% endif %}</p>
<p>{% if shipment.date_shipped %}{% if shipment.status == 2 %}Shipped{% else %}Ship on{% endif %}: {{ shipment.date_shipped|date:"SHORT_DATE_FORMAT" }}{% endif %}</p>
</div>
</div>

<CFIF status LT 2><button class="actionbtn floatright" id="edit_shipment" onClick="showShippingInfo({{ shipment.id }})">Edit</button></CFIF>

<div class="bol-icon">
    <button class="show-shipment-docs" onClick="showShipmentDocs({{ shipment.id }});">{{ shipment.shipmentdoc_set.count }}</button>
</div>

<span class="shipmentid">{{ shipment.id }}</span>
<span class="title">Shipment details for {{ shipment.client.company_name }} ({{ shipment.location.name }})</span>

{% if shipment.status != 1 and False %}
<CFIF status IS NOT 1 AND False>
<div style="display: inline-block; margin-left: 20px;">
<input type="text" id="carrier_#shipmentid#" value="#Replace(carrier,'"',"&quot;")#" shipmentid="#shipmentid#" style="width: 100px;" maxlength="100" placeholder="Carrier" />
<input type="text" id="tracking_#shipmentid#" value="#Replace(tracking,'"',"&quot;")#" shipmentid="#shipmentid#" style="width: 100px;" maxlength="100" placeholder="Tracking ##" />
<input type="text" id="shipdate_#shipmentid#" value="#DateFormat(shippedon,"MM/DD/YYYY")#" shipmentid="#shipmentid#" style="width: 100px;" maxlength="10" placeholder="Ship date" />
</div>
</CFIF>
{% endif %}

</div>
</CFOUTPUT>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="text">Item #</th>
        <th class="text">Client name</th>
        <th class="text">Description</th>
        <th class="numeric">pcs/cs</th>
        <th class="numeric">Cases</th>
        <th class="numeric">Pallets</th>
        <th class="numeric">Gross weight (kg)</th>
        <th class="text">Ctn dimensions (cm, l &times; w &times; h)</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in shipment.transaction_set.all %}
    <tr class="detail" id="productdetail_#productid#">
        <td class="text">{{ transaction.product.item_number }}</td>
        <td class="text">{{ shipment.client.company_name }}</td>
        <td class="text" style="width: 400px;">{{ transaction.product.name }}</td>
        <td class="numeric">{{ transaction.product.packing|intcomma }}</td>
        <td class="numeric">{{ transaction.cases|intcomma }}</td>
        <td class="numeric">{{ transaction.pallet_share }}</td>
        <td class="numeric">{{ transaction.total_weight|floatformat:1 }}</td>
        <td class="text">{{ transaction.product.length|floatformat:1 }} &times; {{ transaction.product.width|floatformat:1 }} &times; {{ transaction.product.height|floatformat:1 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<CFOUTPUT QUERY="ShipCustomer">
<div class="dialog" id="dialog_shipping_info" title="Shipment details">
<cfform>
<table class="infotable">
    <tr>
        <td class="label">Shipper Address</td>
        <td>
            <select id="shipperaddress" style="margin: 10px 0px;">
            <cfloop array="#ShipperAddresses#" index="ShipAddr">
                <option value="#ShipAddr.id#" <cfif shipperaddress IS ShipAddr.id>selected</cfif>>#ShipAddr.name#</option>
            </cfloop>
            </select>
        </td>
    </tr>
    <tr>
        <td class="label">Carrier</td>
        <td><cfinput type="text" name="carrier" maxlength="50" placeholder="" value="#carrier#" /></td>
    </tr>
    <tr>
        <td class="label">Pro ##</td>
        <td><cfinput type="text" name="pro" maxlength="50" placeholder="" value="#pro#" /></td>
    </tr>
    <tr>
        <td class="label">PO ##</td>
        <td><cfinput type="text" name="loadnum" maxlength="50" placeholder="" value="#loadnum#" /></td>
    </tr>
<!---
    <tr>
        <td class="label">Ship ID ##</td>
        <td><cfinput type="text" name="tracking" maxlength="50" placeholder="" value="#tracking#" /></td>
    </tr>
--->
    <tr>
        <td class="label">3rd Party</td>
        <td><cfinput type="text" name="3rdparty" maxlength="50" placeholder="" value="#ShipCustomer.3rdparty#" /></td>
    </tr>
    <tr>
        <td class="label">Class</td>
        <td><cfinput type="text" name="class" maxlength="50" placeholder="" value="#ShipCustomer.class#" /></td>
    </tr>
    <tr>
        <td class="label">Pallets</td>
        <td><cfinput type="number" name="numpallets" placeholder="" value="#ShipCustomer.numpallets#" min="1" /></td>
    </tr>
    <tr>
        <td class="label">Ship date</td>
        <td><cfinput type="text" name="shipdate" maxlength="50" placeholder="" value="#DateFormat(shippedon,"MM/DD/YYYY")#" /></td>
    </tr>
    <tr>
        <td class="label">Shipper special instructions</td>
        <td><textarea id="shipperinstructions" placeholder="">#Replace(ShipCustomer.shipperinstructions,'"',"&quot;")#</textarea></td>
    </tr>
    <tr>
        <td class="label">Consignee special instructions</td>
        <td><textarea id="consigneeinstructions" placeholder="">#Replace(ShipCustomer.consigneeinstructions,'"',"&quot;")#</textarea></td>
    </tr>
    <tr>
        <td class="label">Requirements</td>
        <td>
            <cfinput type="checkbox" name="insidedelivery" value="1" checked="#YesNoFormat(insidedelivery IS 1)#" /> <label for="insidedelivery">Inside Delivery</label><br/>
            <cfinput type="checkbox" name="liftgate" value="1" checked="#YesNoFormat(liftgate IS 1)#" /> <label for="liftgate">Liftgate</label><br />
            <cfinput type="checkbox" name="appointment" value="1" checked="#YesNoFormat(appointment IS 1)#" /> <label for="appointment">Appointment</label><br />
            <cfinput type="checkbox" name="sortseg" value="1" checked="#YesNoFormat(sortseg IS 1)#" /> <label for="sortseg">Sort & Segregation</label><br />
        </td>
    </tr>
</table>
<!---
<textarea id="3rdpartyaddress" placeholder="3rd party address">#Replace(ShipCustomer.3rdpartyaddress,'"',"&quot;")#</textarea>
<input type="text" id="3rdpartyphone" maxlength="20" placeholder="3rd party phone" value="#Replace(ShipCustomer.3rdpartyphone,'"',"&quot;")#" />
<input type="text" id="3rdpartyper" maxlength="30" placeholder="3rd party PER" value="#Replace(ShipCustomer.3rdpartyper,'"',"&quot;")#" />
<input type="text" id="3rdpartyrecvd" maxlength="16" placeholder="3rd party received" value="#Replace(ShipCustomer.3rdpartyrecvd,'"',"&quot;")#" />
<input type="text" id="3rdpartychgadvanced" maxlength="16" placeholder="3rd party charges advanced" value="#Replace(ShipCustomer.3rdpartychgadvanced,'"',"&quot;")#" />
--->
</cfform>
</div>
</CFOUTPUT>

