{% load static filters %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ company_name }} Customer Access</title>
<!---    <link rel=stylesheet href="{% static "client/css/style_gen.css" %}" type="text/css">--->
    <link rel=stylesheet href="{% static "css/common.css" %}" type="text/css">
    <link rel=stylesheet href="{% static "client/css/style.css" %}" type="text/css">
    <link rel=stylesheet href="{% static "client/css/jquery-ui.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "client/js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "client/js/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <script type="text/javascript" src="{% static "client/js/main.js" %}"></script>
    {% block extra_js %}{% endblock %}
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
</head>

{% if user.is_authenticated %}

    <body>

    <div id="header">
        <div class="logoutlink"><a href="{% url "client:sign-out" %}">Log out</a></div>
        <div class="logoutlink"><a href="javascript:nop()" onClick="showSupport();">Support</a>
            <ul class="dropdown-menu">
                <li class="header"></li>
                <a href="javascript:nop()" onClick="showSupport();"><li>Contact</li></a>
                <a href="javascript:nop()" onClick="showChangePassword();"><li>Change Password</li></a>
            </ul>
        </div>
        <div class="logoutlink">{% now "D F j, g:i A" %}</div>
        <div class="pagetitle">{{ selected_client.company_name }}</div>

        {% if user.child_clients|length > 1 %}
        <select class="client-picker">
            {% if not selected_client and user.is_admin %}
                <option value="">(Select)</option>
            {% endif %}
            {% for child in user.child_clients %}
                {% is_authorized_for_client user child.obj as is_authorized %}
                <option
                    {% if not is_authorized %}disabled{% endif %}
                    value="{{ child.obj.id }}"
                    {% if selected_client == child.obj %}selected{% endif %}
                >
                    {{ child.indent_rendered|safe }}{{ child.obj.company_name }}
                </option>
            {% endfor %}
        </select>
        {% endif %}

        <a href="{% url "client:home" %}"><div class="homelink"></div></a>
    </div>

    {% if user.prompt_password_change %}
    <div class="password-expired">
        <p>
            <span class="dialog-dismiss"><span class="ui-icon ui-icon-close"></span></span>
            Your password is due to be changed. We recommend changing your password regularly
            (every {{ password_expire_days }} days) to ensure effective security.<br/>
            Please select "Change password" from the Support menu.
        </p>
    </div>
    {% endif %}

{% else %}

<body class="login">
        
{% endif %}

{% block content %}{% endblock %}

<div class="dialog" id="dialog_support" title="Support">
    Please contact {{ company_info.name }} Support at {{ company_info.phone_number }} or email
    <a href="mailto:{{ company_info.support_email }}">{{ company_info.support_email }}</a> for assistance.
</div>

<div class="dialog" id="dialog_change_password" title="Change Password">
    <p>
        Complexity requirements: {{ company_info.password_complexity }}
    </p>
    <table>
        <tr>
            <td class="label">Current password:</td>
            <td><input type="password" id="current_password"></td>
        </tr>
        <tr>
            <td class="label">New password:</td>
            <td><input type="password" id="new_password_1"></td>
        </tr>
        <tr>
            <td class="label">Repeat password:</td>
            <td><input type="password" id="new_password_2"></td>
        </tr>
    </table>
</div>

<div class="dialog" id="dialog_errors" title="Error">
</div>

</body>
</html>
