{% extends "client/base.html" %}

{% block content %}

<div class="dialog" id="dialog_locations" title="Delivery Locations">
    {% if user.is_admin %}
        <p>
            Ordering on behalf of:
            <select name="id_on_behalf_of" id="on_behalf_of">
                <option value="">(Select)</option>
                {% for contact in selected_client.contacts %}
                    <option value="{{ contact.id }}">{{ contact.user }}</option>
                {% endfor %}
            </select>
        </p>
    {% endif %}

    <p>
        Please select the location for delivery.
    </p>
    {% for location in locations %}
        <button class="actionbtn minibtn" onClick="requestDelivery({{ location.id }})" id="location_{{ location.id }}">{{ location.name }}</button>
    {% endfor %}
</div>

<div class="dialog" id="dialog_request_confirm" title="Delivery Requested Confirmation">

    <p class="zero-inventory-warning">
    NOTE: One or more of your selected items has zero inventory available. Please review the table below carefully.
    </p>

    Your delivery request will be submitted as follows:
    <table id="request_details">
        <thead>
        <tr>
            <th>Item #</th>
            <th>Description</th>
            <th class="numeric">Packing</th>
            <th class="numeric">Cases</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table>
        <tr>
            <td class="label">
                PO #:
            </td>
            <td>
                <input type="text" name="client_po" id="client_po" maxlength="50" placeholder="(Optional)" />
            </td>
        </tr>
        <tr>
            <td class="label">
                Deadline:
            </td>
            <td>
                <input type="text" id="po_deadline" value="" style="width: 100px;" placeholder="(Optional)" />
            </td>
        </tr>
    </table>

</div>

<div class="dialog" id="dialog_request_result" title="Delivery Requested Successfully">
Your delivery request has been placed. Thank you!
</div>


<div class="content">

{% if shipmentid %}
<script type="text/javascript">
globals['shipmentid'] = {{ shipmentid }};
</script>
{% endif %}

<div class="greeting">Hello {{ user.first_name }} {{ user.last_name }}!</div>

    {% with page_selected="inventory" %}
    {% include "client/inc_nav.html" %}
    {% endwith %}

    {% if not selected_client %}

        <p>No client is selected. Please select a client from the menu at the top.</p>

    {% else %}

        <div id="list_inventory"></div>

    {% endif %}

    <div id="status"></div>


    <input type="hidden" id="customerid" value="{{ selected_client.id }}" />

</div>

{% endblock %}
