{% load humanize %}

<ul class="mode_toggle">
<a href="javascript:nop()" onClick="showTab('request')"><li {% if tab == "request" %}class="selected"{% endif %}>request delivery</li></a>
<a href="javascript:nop()" onClick="showTab('pending')"><li {% if tab == "pending" %}class="selected"{% endif %}>pending deliveries</li></a>
<a href="javascript:nop()" onClick="showTab('shipped')"><li {% if tab == "shipped" %}class="selected"{% endif %}>shipped</li></a>
</ul>

{% if tab == "request" %}

{% if shipment %}
    Editing pending delivery order #{{ shipment.id }}. <a href="{% url "client:inventory" %}">Cancel</a>
{% endif %}

<form onSubmit="addProduct(); return false;">
<table class="infotable alternating inventory">
    <thead>
        <tr>
            <th class="text">Item #</th>
            <th class="numeric">Request delivery (cs)</th>
            <th class="text">Client tag</th>
            <th class="text" id="location_header">Location<div id="location_filter"></div></th>
            <th class="text">Description</th>
            <th class="numeric">Packing (pcs/cs)</th>
            <th class="numeric">Curr. Inventory (cs)</th>
            <th class="numeric">Total qty</th>
        </tr>
    </thead>
    <tbody>

        {% for product, shipment_cases in products %}

        <tr class="product" location_id="{% if product.location %}{{ product.location.id }}{% else %}0{% endif %}">
            <td class="text" id="itemnum_{{ product.id }}">{{ product.item_number }}</td>
            <td class="numeric editable" id="request_{{ product.id }}"><input type="number" class="delivery_request" id="cases_{{ product.id }}" remain="{{ product.cases_available }}" value="{{ shipment_cases }}" productid="{{ product.id }}" style="width: 100px;" /></td>
            <td class="text">{% if product.client_tag == 'STK' %}{{ selected_client.company_name }}{% else %}{{ product.client_tag }}{% endif %}</td>
            <td class="text location" location_id="{{ product.location.id }}">{{ product.location.name }}</td>
            <td class="text pname" id="pname_{{ product.id }}">{{ product.name }}</td>
            <td class="numeric italic" id="packing_{{ product.id }}">{{ product.packing|intcomma }}</td>
            <td class="numeric"><span class="{% if product.is_low %}low_qty{% endif %}">{{ product.cases_available|intcomma }}</span></td>
            <td class="numeric">{{ product.units_available|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>

<div class="floatright request_delivery">
    <div class="label">Total cases</div>
    <div id="total_cases"></div>
    <button class="actionbtn" onClick="showLocations()">
        {% if shipment %}
            Save Changes
        {% else %}
            Request Delivery
        {% endif %}
    </button>
</div>

{% elif tab == "pending" %}

<table class="infotable alternating deliveries">
    <thead>
        <tr>
            <th class="date">Order date</th>
            <th class="text">Order #</th>
            <th class="numeric">Total cases</th>
            <th class="spacer20"></th>
            <th class="text">Location</th>
            <th class="text">Status</th>
            <th class="text"></th>
        </tr>
    </thead>
    <tbody>
        {% for shipment in shipments %}
        <tr class="delivery" id="delivery_{{ shipment.id }}">
            <td class="date clickable" shipmentid="{{ shipment.id }}">{{ shipment.date_created|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.id }}</td>
            <td class="numeric clickable" shipmentid="{{ shipment.id }}">{{ shipment.total_cases|intcomma }}</td>
            <td class="spacer20"></td>
            <td class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.location.name }}</td>
            <td class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.get_status_display }}</td>
            <td class="text">{% if shipment.status == shipment.Status.PENDING %}<a href="javascript:nop()"; onCLick="loadDelivery({{ shipment.id }});">Edit</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="delivery_list"></div>

{% elif tab == "shipped" %}

<table class="infotable alternating deliveries">
    <thead>
        <tr>
            <th class="date">Requested date</th>
            <th class="text">Delivery #</th>
            <th class="numeric">Total cases</th>
            <th class="spacer20"></th>
            <th class="text">Location</th>
            <th class="text">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for shipment in shipments %}
        <tr class="delivery" id="delivery_{{ shipment.id }}">
            <td class="date clickable" shipmentid="{{ shipment.id }}">{{ shipment.date_created|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.id }}</td>
            <td class="numeric clickable" shipmentid="{{ shipment.id }}">{{ shipment.total_cases|intcomma }}</td>
            <td class="spacer20"></td>
            <td class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.location.name }}</td>
            <td class="text clickable" shipmentid="{{ shipment.id }}">{{ shipment.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="delivery_list"></div>

{% endif %}
