    <div class="form_header">

        <span class="title">{{ location.name }}</span>

    </div>
    <div class="form_body">

        <table>
            <tr>
                <td>
                    <div class="non-input" style="width: 469px;">{{ location.contact_user.user.first_name }} {{ location.contact_user.user.last_name }}</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="non-input" style="width: 469px;">
                        <span id="email_primary"><a href="mailto:{{ location.contact_user.user.email }}">{{ location.contact_user.user.email }}</a></span>
                        <span id="tel_primary">{{ location.contact_user.user.phone_number }} {{ location.contact_user.user.phone_extension }}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="non-input" style="width: 469px;">
                        {{ location.address }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="non-input" style="width: 469px;">
                        {{ location.address_2 }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="non-input" style="width: 469px;">
                        {{ location.city }} {{ location.state }} {{ location.postal_code }}{% if location.country and location.country.code != 'US1' %}, {{ location.country.name }} {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="non-input natural_height" style="width: 469px;">
                        {{ location.notes|linebreaksbr }}
                    </div>
                </td>
            </tr>

        </table>

    </div>

