{% load humanize %}

<div class="form_header dark">
<button class="actionbtn floatright" onClick="generateReport({{ product.id }})">Report</button>
<span class="title floatright" style="margin-right: 10px;">
Show from
<input type="text" id="fromdate" value="{{ date_from|date:"SHORT_DATE_FORMAT" }}" productid="{{ product.id }}" style="width: 100px;" />
to
<input type="text" id="todate" value="{{ date_to|date:"SHORT_DATE_FORMAT" }}" productid="{{ product.id }}" style="width: 100px;" />
</span>

<span class="title">History for Item {{ product.item_number }}: {{ product.name }}</span>

</div>

<table class="infotable alternating">
    <thead>
        <tr>
            <th class="text">In/Out date</th>
            <th class="text">SO #</th>
            <th class="text">Location</th>
            <th class="numeric">Qty (pcs)</th>
            <th class="numeric">Packing (pcs/cs)</th>
            <th class="numeric">Cases in</th>
            <th class="numeric">Cases out</th>
            <th class="text">Docs</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in history %}
        <tr>
            <td class="text">{{ transaction.date_in_out|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="text">{{ transaction.shipment_order }}</td>
            <td class="text">{{ transaction.shipment.location.name }}</td>
            <td class="numeric">{{ transaction.total_quantity|intcomma }}</td>
            <td class="numeric">{{ transaction.product.packing|intcomma }}</td>
            <td class="numeric">{% if not transaction.is_outbound %}{{ transaction.cases }}{% endif %}</td>
            <td class="numeric">{% if transaction.is_outbound %}{{ transaction.cases }}{% endif %}</td>
            <td class="text" style="padding: 1px;">
                {% if transaction.shipment.shipmentdoc_set.count %}
                <button class="show-shipment-docs" onClick="showShipmentDocs({{ transaction.shipment.id }});">{{ transaction.shipment.shipmentdoc_set.count }}</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


