{% extends "client/base.html" %}

{% block content %}

<div class="content">

<div class="greeting">Hello {{ user.first_name }} {{ user.last_name }}!</div>

{% with page_selected="profile" %}
{% include "client/inc_nav.html" %}
{% endwith %}

<div class="list_header">
<p>{{ selected_client.company_name }}</p>
{% if primary_contact %}
<p>{{ primary_contact.user.first_name }} {{ primary_contact.user.last_name }} [{{ primary_contact.user.email }}]</p>
<p>{{ primary_contact.user.phone_number }}</p>
{% endif %}
</div>
<div class="list_wrap" id="locations_list_wrap">
<ul class="items_list" id="locations_list">
</ul>
</div>

<div class="objectform" id="locationform">
</div>

</div>

{% endblock %}
