<div style="display: inline-block; vertical-align: top;">

<div class="list_header" section="delivery_requests">
    <span class="disclosure"></span>
    Delivery requests
</div>
<div class="list_wrap minimized two" section="delivery_requests">
<ul class="items_list" id="delivery_requests_list">

<!--
    <CFQUERY NAME="Shipments" DATASOURCE="#DSN#">
    SELECT *,Shipments.createdon as shipment_create_date FROM Shipments,Customers,Locations
    WHERE status!=2
    AND Customers.customerid=Shipments.customerid
    AND Shipments.locationid=Locations.locationid
    ORDER BY Shipments.createdon DESC
    </CFQUERY>
-->

    {% for shipment in delivery_requests %}
    <a href="shipments.cfm?customerid={{ shipment.client.id }}&shipmentid={{ shipment.id }}"><li>
        <div class="date floatright">{{ shipment.date_created | date:"SHORT_DATE_FORMAT" }}</div>
        <div class="dl">DL # {{ shipment.id }}</div>
        <div class="items-list-content">
            <div class="coname">
                <p>{{ shipment.client.company_name }}</p>
                <p class="subtitle">{{ shipment.location.name }}</p>
            </div>
        </div>
    </li></a> 
    {% endfor %}
    
</ul>
</div>

<div class="list_header" section="ready_to_ship">
    <span class="disclosure"></span>
    Ready to Ship
</div>
<div class="list_wrap minimized two" section="ready_to_ship">
<ul class="items_list" id="ready_shipments_list">

    <CFQUERY NAME="Shipments" DATASOURCE="#DSN#">
    SELECT *,Shipments.createdon as shipment_create_date FROM Shipments,Customers,Locations
    WHERE status=1
    AND Customers.customerid=Shipments.customerid
    AND Shipments.locationid=Locations.locationid
    ORDER BY Shipments.createdon DESC
    </CFQUERY>

    <CFOUTPUT QUERY="Shipments">
    <a href="shipments.cfm?customerid=#customerid#&shipmentid=#shipmentid#"><li>
        <div class="date floatright">#DateFormat(shipment_create_date,"MM/DD/YYYY")#</div>
        <div class="dl">DL ## #shipmentid#</div>
        <div class="items-list-content">
            <div class="coname">
                <p>#coname#</p>
                <p class="subtitle">#name#</p>
            </div>
        </div>    
    </li></a>
    </CFOUTPUT>

</ul>
</div>
    
</div>

<div style="display: inline-block; vertical-align: top;">
    
<div class="list_header" section="inbound_receivables">
    <span class="disclosure"></span>
    Inbound receivables
</div>
<div class="list_wrap minimized three" section="inbound_receivables">
<ul class="items_list" id="inbound_shipments_list">
                
    <CFQUERY NAME="Transactions" DATASOURCE="#DSN#">
    SELECT Transactions.*,Customers.*,Products.*,Receivables.PO,Receivables.SO,Receivables.cases as cases_expected FROM Transactions,Customers,Products,Receivables
    WHERE (direction=0 AND Transactions.cases IS NULL)
    AND Customers.customerid=Transactions.customerid
    AND Transactions.productid=Products.productid
    AND Transactions.receivableid=Receivables.receivableid
    ORDER BY Transactions.stamp DESC
    </CFQUERY>

    <CFOUTPUT QUERY="Transactions">
    
    <CFQUERY NAME="SplitReceivables" DATASOURCE="#DSN#">
    SELECT * FROM Transactions,Receivables
    WHERE Receivables.productid=#productid#
    AND Transactions.receivableid=Receivables.receivableid
    AND Receivables.PO=<CFQUERYPARAM value="#PO#" CFSQLType="CF_SQL_VARCHAR">
    AND Receivables.SO=<CFQUERYPARAM value="#SO#" CFSQLType="CF_SQL_VARCHAR">
    AND Transactions.cases IS NOT NULL
    </CFQUERY>
    
    <a href="inventory.cfm?customerid=#customerid#&history=#productid#"><li>
        <div class="date floatright">#DateFormat(stamp,"MM/DD/YYYY")#</div>
        <div class="items-list-content">
            <div class="coname">
                <p>#coname#</p>
                <p class="subtitle">#itemnum#: #pname# <CFIF SplitReceivables.recordCount GT 0><span class="partial_receivable">PARTIAL</span></CFIF></p>
            </div>
        </div>
    </li></a>
    </CFOUTPUT>
    
</ul>
</div>
        
<div class="list_header" section="outbound_shipments">
    <span class="disclosure"></span>
    INVQ
</div>
<div class="list_wrap minimized three" section="outbound_shipments">
<ul class="items_list" id="outbound_shipments_list">
    <CFQUERY NAME="Shipments" DATASOURCE="#DSN#">
    SELECT *,Shipments.createdon as shipment_create_date FROM Shipments,Customers,Locations,Products,Transactions
    WHERE status=2
    AND Customers.customerid=Shipments.customerid
    AND Shipments.locationid=Locations.locationid  
    AND Transactions.productid=Products.productid
    AND Transactions.shipmentid=Shipments.shipmentid
    AND Products.account=1
    AND acctstatus in (0,1)
    GROUP BY Shipments.shipmentid
    ORDER BY Shipments.createdon DESC
    </CFQUERY>
    
    <CFOUTPUT QUERY="Shipments">
    <a href="shipments.cfm?customerid=#customerid#&shipmentid=#shipmentid#"><li>
        <div class="date floatright">#DateFormat(shipment_create_date,"MM/DD/YYYY")#</div>
        <div class="dl">DL ## #shipmentid#</div>
        <div class="items-list-content">
            <div class="coname">
                <p>#coname#</p>
                <p class="subtitle">#name#</p>
            </div>
        </div>
    </li></a>
    </CFOUTPUT>
    
</ul>
</div>
        
<div class="list_header" section="low_stock">
    <span class="disclosure"></span>
    Low stock
</div>
<div class="list_wrap minimized three" section="low_stock">
<ul class="items_list" id="low_stock_list">
    
    <CFQUERY NAME="Products" DATASOURCE="#DSN#">
    SELECT * FROM Customers,Products
    WHERE remain * 2 < contqty
    AND Customers.customerid=Products.customerid
    AND Products.active = 1
    ORDER BY Products.pname DESC
    </CFQUERY>

    <CFOUTPUT QUERY="Products">

    <CFQUERY NAME="LastShipped" DATASOURCE="#DSN#">
    SELECT * FROM Shipments,Transactions
    WHERE Transactions.productid=<CFQUERYPARAM value="#productid#" CFSQLType="CF_SQL_NUMERIC">
    AND Transactions.shipmentid=Shipments.shipmentid
    ORDER BY createdon DESC
    LIMIT 1
    </CFQUERY>
    
    <a href="inventory.cfm?customerid=#customerid#&productid=#productid#"><li>
        <div class="dl">DL ## #LastShipped.shipmentid#</div>
        <div class="items-list-content">
            <div class="coname">
                <p>#coname#</p>
                <p class="subtitle">#pname#</p>
            </div>
        </div>
    </li></a>
    </CFOUTPUT>
        
</ul>
</div>
                
</div>

