{% extends "ims/base.html" %}
{% load static %}

{% block content %}

<div class="content">

<CFIF IsDefined("URL.customerid") AND IsNumeric(URL.customerid)>
    <CFQUERY NAME="Customer" DATASOURCE="#DSN#">
    SELECT * FROM Customers
    WHERE customerid=<CFQUERYPARAM value="#URL.customerid#" CFSQLType="CF_SQL_NUMERIC">
    </CFQUERY>
    <CFIF Customer.recordcount IS 0>
        <div class="error">An invalid customer ID was specified.</div>
        <CFABORT>
    </CFIF>
<CFELSE>
    <div class="error">An invalid customer ID was specified.</div>
    <CFABORT>
</CFIF>

<CFIF IsDefined("URL.shipmentid") AND IsNumeric(URL.shipmentid)>
    <CFQUERY NAME="Shipment" DATASOURCE="#DSN#">
    SELECT * FROM Shipments
    WHERE shipmentid=<CFQUERYPARAM value="#URL.shipmentid#" CFSQLType="CF_SQL_NUMERIC">
    </CFQUERY>

    <CFOUTPUT>
    <script type="text/javascript">
    globals['shipmentid'] = #Shipment.shipmentid#;
    </script>
    </CFOUTPUT>
</CFIF>

<div class="customerheader"><CFOUTPUT>#Customer.coname#</CFOUTPUT></div>

{% with page_selected="shipments" %}
{% include "ims/inc_nav.html" %}
{% endwith %}

<div id="list_shipments">
<CFINCLUDE TEMPLATE="ajax_shipments_list.cfm">
</div>

<div class="shipment_detail" id="shipment_details"></div>


<div class="dialog" id="shipment_cancel_confirm" title="Cancel shipment">
Are you sure you want to cancel this shipment?
</div>

<div class="dialog" id="dialog_documents" title="Documents">
    <div style="margin: 20px;">
        <input type="file" id="shipment_upfile">
        <button id="upload_bol" onclick="execute_uploadShipmentDoc();">Upload</button>
    </div>

    <table id="documents_list" class="infotable alternating">   
    </table>
</div>
    
    
<CFOUTPUT>
<input type="hidden" id="customerid" value="#URL.customerid#" />
</CFOUTPUT>

{% endblock %}
