<ul class="items_list" id="customers_list">

{% for client in clients %}

    <a href="profile.cfm?customerid={{ client.id }}">
        <li
            class="{% if not client.is_active %}disabled{% endif %} {% if client.has_warehousing %}warehousing{% endif %}"
            id="customer_{{ client.id }}">
            <div class="items-list-content" style="padding-left: #20 * (Customer.depth)#px;">
            {{ client.company_name }}
            </div>
        </li>
    </a>

{% endfor %}

</ul>
