    <form name="custcontact_{{ custcontact.id }}" onSubmit="return false;">   
        
    <div class="form_header">

        <span class="title">
        {% if custcontact %}Edit existing contact{% else %}Add new contact{% endif %}
        </span>

    </div>
    <div class="form_body">

        <table>
            <tr>
                <td>
                    {{ form.first_name }}
                    {{ form.last_name }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.title }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.email }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.phone_number }}
                    {{ form.phone_extension }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.mobile_number }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.fax_number }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.notes }}
                </td>
            </tr>
        </table>
        
    </div>
    <div class="form_header">
    
        <button class="actionbtn floatright" id="contact_submit" onClick="updateCustContact({{ client.id }}, {% if custcontact %}{{ custcontact.id }}{% else %}null{% endif %})">
        {% if custcontact %}Update contact{% else %}Add contact{% endif %}
        </button>
        
        {% if custcontact %}
        <button class="actionbtn red floatleft" id="contact_delete" onClick="deleteCustContact({{ client.id }}, {{ custcontact.id }})">Delete contact</button>
        {% endif %}
    
    </div>      
    
    <input type="hidden" id="isprimary" value="{{ custcontact.is_primary }}" />
    
    </form>

