{% extends "ims/base.html" %}
{% load static %}

{% block content %}

<div class="content">

<div class="customerheader">{{ client.company_name }}{% if not client.is_active %}<span class="disabledlabel">[DISABLED]</span>{% endif %}</div>

{% with page_selected="profile" %}
{% include "ims/inc_nav.html" %}
{% endwith %}

                        
<div class="profile_list">
<div class="list_header">
<CFOUTPUT><a class="floatright" href="javascript:nop()" onClick="loadCustomer()">edit</a></CFOUTPUT>
Client
</div>              
<div class="list_wrap" id="contacts_list_wrap">
<ul class="items_list" id="client_list">
<a href="javascript:nop()"><li onClick="loadCustomer()">
    <div class="items-list-content">
    {{ client.company_name }}
    </div>              
</li></a>               
</ul>                   
</div>                      
</div>                      

<div class="profile_list">
<div class="list_header">
<CFOUTPUT><a class="floatright" href="javascript:nop()" onClick="loadCustContact(null, {{ client.id }})">add new</a></CFOUTPUT>
Contacts
</div>
<div class="list_wrap" id="contacts_list_wrap">
<ul class="items_list" id="contacts_list">
<CFINCLUDE TEMPLATE="ajax_contacts_list.cfm">
</ul>
</div>
</div>

<div class="profile_list">
<div class="list_header">
<CFOUTPUT><a class="floatright" href="javascript:nop()" onClick="loadLocation(null, {{ client.id }})">add new</a></CFOUTPUT>
Locations
</div>
<div class="list_wrap" id="locations_list_wrap">
<ul class="items_list" id="locations_list">
<CFINCLUDE TEMPLATE="ajax_locations_list.cfm">
</ul>
</div>
</div>
            
<div class="objectform" id="customerform">
    <form name="customer_{{ client.id }}" onSubmit="return false;">
                
    <div class="form_body">
                
        <CFOUTPUT>
        <button class="actionbtn floatright" id="coname_submit" onClick="updateClient({{ client.id }})">Update</button>
        <input type="text" id="coname" value="{{ client.company_name }}" placeholder="Customer name" style="width: 260px; margin: 7px;" maxlength="45" />
        </CFOUTPUT>

        <table>
            <tr>
                <td>    
                    <select id="custcontactid_primary">
                        <option value="0">(Select primary contact)</option>
                        {% for contact in client.custcontact_set.all %}
                        <option value="{{ contact.id }}" {% if contact.is_primary %}selected{% endif %}>{{ contact.first_name }} {{ contact.last_name }}{% if contact.title %} [{{ contact.title }}]{% endif %}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% if primary_contact %}
            <tr>
                <td><div class="non-input" style="width: 469px;">
                    <span id="email_primary"><a href="mailto:{{ primary_contact.email }}">{{ primary_contact.email }}</a></span>
                    <span id="tel_primary">{% if primary_contact.phone_number %}{{ primary_contact.phone_number }}{% endif %} {% if primary_contact.phone_extension %}{{ primary_contact.phone_extension }}{% endif %}</span>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <select id="enabled">
                        <option value="1" {% if client.is_active %}selected{% endif %}>Enabled</option>
                        <option value="0" {% if not client.is_active %}selected{% endif %}>Disabled</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <select id="warehousing">
                        <option value="1" {% if client.has_warehousing %}selected{% endif %}>Warehousing required</option>
                        <option value="0" {% if not client.has_warehousing %}selected{% endif %}>No warehousing required</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <select id="parent">
                        <option value="0">Subsidiary of...</option>
                        <option value="0">(None)</option>
                        {% for parent_client in all_clients %}
                            <cfoutput>
                                <option value="{{ parent_client.obj.id }}" {% if client.parent == parent_client.obj %}selected{% endif %}>{{ parent_client.indent|safe }}{{ parent_client.obj.company_name }}</option>
                            </cfoutput>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><textarea id="customer_notes" placeholder="Notes" class="smalltext" style="width: 469px;">{{ client.notes }}</textarea></td>
            </tr>   

        </table>

    </div>              

    </form>
</div>
                        
<div class="objectform" id="locationform">
<CFINCLUDE TEMPLATE="ajax_location_form.cfm">
</div>                          
                            
<div class="objectform" id="contactform">
<CFINCLUDE TEMPLATE="ajax_contact_form.cfm">
</div>                      
                        
<div class="dialog" id="custcontact_delete_confirm" title="Delete customer contact">
Are you sure you want to delete this customer contact?
<p><b>Note:</b> Be sure to select a new contact for any locations for which this person is the primary contact.</p>
</div>      
                
<div class="dialog" id="location_delete_confirm" title="Delete location">
Are you sure you want to delete this location?
<p><b>Note:</b> Any pending shipments to this location will need to be reconfigured.</p>
</div>              

<script type="text/javascript">
loadContactsList({{ client.id }}, null);
loadLocationsList({{ client.id }}, null);
</script>
    
{% endblock %}
