<ul class="items_list" id="customers_list">

{% for client in clients %}
    <a href="{% url "mgmt-profile" client_id=client.obj.id %}">
        <li
            class="{% if not client.obj.is_active %}disabled{% endif %} {% if client.obj.has_warehousing %}warehousing{% endif %}"
            id="customer_{{ client.obj.id }}">
            <div class="items-list-content depth-{{ client.depth }}">
            {{ client.obj.company_name }}
            </div>
        </li>
    </a>
{% endfor %}

</ul>
