    <form name="location_{{ location.id }}" onSubmit="return false;">

    <div class="form_header">

        <span class="title">
        {% if location %}Edit existing location{% else %}Add new location{% endif %}
        </span>

    </div>
    <div class="form_body">

        <table>
            <tr>
                <td>
                    {{ form.name }}
                </td>
            </tr>

            <tr>
                <td>
                    <select id="customer_contact">
                        {% if not location.customer_contact %}
                        <option value="0">(Select contact)</option>>
                        {% endif %}

                        {% for custcontact in client.custcontact_set.all %}
                        {% if custcontact.is_active %}
                        <option value="{{ custcontact.id }}" {% if location.customer_contact == custcontact or custcontact.is_primary %}selected{% endif %}>{{ custcontact.first_name }} {{ custcontact.last_name }}{% if custcontact.title %} [{{ custcontact.title }}]{% endif %}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="non-input" style="width: 469px;">
                        <span id="email_primary"><a href="mailto:{{ location.customer_contact.email }}">{{ location.customer_contact.email }}</a></span>
                        <span id="tel_primary">{{ location.customer_contact.phone_number }} {{ location.customer_contact.phone_extension }}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="address" value="{{ location.address }}" placeholder="Delivery Address line 1" {% if not location %}class="new"{% endif %} style="width: 469px;" maxlength="45" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="address_2" value="{{ location.address_2 }}" placeholder="Delivery Address line 2" {% if not location %}class="new"{% endif %} style="width: 469px;" maxlength="45" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="city" value="{{ location.city }}" placeholder="City" {% if not location %}class="new"{% endif %} style="width: 239px;" maxlength="24" />
                    {{ form.state }}
                    {{ form.zip }}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="receiving_hours" value="{{ location.receiving_hours }}" placeholder="Receiving Hours" {% if not location %}class="new"{% endif %} style="width: 469px;" maxlength="100" />
                </td>
            </tr>
            <tr>
                <td><textarea id="notes" placeholder="Notes" class="smalltext {% if not location %}new{% endif %}" style="width: 469px;">{{ location.notes }}</textarea></td>
            </tr>

        </table>

    </div>
    <div class="form_header">

        <button class="actionbtn floatright" id="location_submit" onClick="updateLocation({{ client.id }}, {% if location %}{{ location.id }}{% else %}null{% endif %})">
        {% if location %}Update location{% else %}Add location{% endif %}
        </button>

        {% if location %}
        <button class="actionbtn red floatleft" id="location_delete" onClick="deleteLocation({{ location.client.id }}, {{ location.id }})">Delete location</button>
        {% endif %}

    </div>

    </form>
