{% extends "warehouse/base.html" %}
{% load static %}

{% block content %}

<div class="content">

{% with page_selected="pallets" %}
{% include "warehouse/inc_nav.html" %}
{% endwith %}

<div class="" id="list_shipments">
<table class="infotable alternating pallets editable">
    <thead>
        <tr>
            <th class="text">Pallet ID</th>
            <th class="text">Created on</th>
            <th class="spacer20"></th>
            <th class="glyph"></th>
        </tr>
    </thead>
    <tbody>
    {% for pallet in pallets %}
        <tr class="pallet" id="pallet_{{ pallet.id }}">
            <td class="text monospace clickable" palletid="{{ pallet.id }}">{{ pallet.pallet_id }}</td>
            <td class="text clickable" palletid="{{ pallet.id }}">{{ pallet.date_created|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="spacer20 clickable palletid="{{ pallet.id }}"></td>
            <td class="glyph"><a target="_blank" href="{% url "warehouse:pallet-print" pallet_id=pallet.id %}?inline"><img src="{% static "warehouse/images/barcode.gif" %}" /></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div id="pallet_details"></div>

<div class="dialog" id="dialog_delete_pallet" title="Delete pallet">
This pallet will be deleted from the system. You can create a new storage pallet using the handheld app. Continue?
</div>

{% endblock %}
