{% load humanize %}

<ul class="mode_toggle">
<a href="javascript:nop()" onClick="showReceived(false)"><li {% if received_filter == 1 %}class="selected"{% endif %}>incomplete</li></a>
<a href="javascript:nop()" onClick="showReceived(true)"><li {% if received_filter == 0 %}class="selected"{% endif %}>complete</li></a>
</ul>

<table class="infotable alternating receivables editable scrollable">
    <thead>
        <tr>
            <th class="text" style="width: 85px;">Arrival Date</th>
            <th class="text" style="width: 105px;">BRF #</th>
            <th class="text" style="width: 80px;">Container #</th>
            <th class="text" style="width: 120px;">Item #</th>
            <th class="text" style="width: 115px;">Client Name</th>
            <th class="text" style="width: 189px;">Description</th>
            <th class="numeric" style="width: 96px;">Packing (pcs/cs)</th>
            <th class="numeric" style="width: 94px;">Cases Expected</th>
            <th class="numeric" style="width: 55px;">Received</th>
            <th class="numeric" style="width: 94px;">Dimensions (in)</th>
            <th class="numeric" style="width: 72px;">Weight (lbs)</th>
            <th class="numeric" style="width: 40px;">Pallets</th>
        </tr>
    </thead>
    <tbody style="max-height: 400px; position: relative;">
    </tbody>
</table>

<script type="text/javascript">
if (globals['received_filter'] == 0) {
    infiniteScrollTable('#list_receivables', fetchReceivables);
}
</script>