{% load static %}
{% load filters %}

<ul class="mode_toggle">
<a href="javascript:nop()" onClick="showShipped(false)"><li {% if shipped_filter == 1 %}class="selected"{% endif %}>unshipped</li></a>
<a href="javascript:nop()" onClick="showShipped(true)"><li {% if shipped_filter == 0 %}class="selected"{% endif %}>shipped</li></a>
</ul>

<input type="search" placeholder="Search DL#" class="search" />

<table class="infotable alternating shipments editable scrollable">
    <thead>
        <tr>
            <th style="width: 125px" class="text">
                <a
                    class="sortable-header"
                    href="?shipped_filter={{ shipped_filter }}&sort={% if sort_col == "date_created" %}{{ sort_target_prefix }}{% else %}{{ sort_columns|get_item:"date_created" }}{% endif %}date_created"
                >
                    Requested Date
                    <span class="sort-arrow">
                        {% if sort_col == "date_created" %}
                            {{ sort_icon }}
                        {% endif %}
                    </span>
                </a>
            </th>
            <th style="width: 45px" class="numeric">
                <a
                    class="sortable-header"
                    href="?shipped_filter={{ shipped_filter }}&sort={% if sort_col == "id" %}{{ sort_target_prefix }}{% else %}{{ sort_columns|get_item:"id" }}{% endif %}id"
                >
                    DL #
                    <span class="sort-arrow">
                        {% if sort_col == "id" %}
                            {{ sort_icon }}
                        {% endif %}
                    </span>
                </a>
            </th>
            <th style="width: 134px" class="spacer20"></th>
            <th style="width: 125px" class="text">
                <a
                    class="sortable-header"
                    href="?shipped_filter={{ shipped_filter }}&sort={% if sort_col == "client__name" %}{{ sort_target_prefix }}{% else %}{{ sort_columns|get_item:"client__name" }}{% endif %}client__name"
                >
                    Client Name
                    <span class="sort-arrow">
                        {% if sort_col == "client__name" %}
                            {{ sort_icon }}
                        {% endif %}
                    </span>
                </a>
            </th>
            <th style="width: 199px" class="text">Location</th>
            <th style="width: 100px" class="numeric">Total Cases</th>
            <th style="width: 134px" class="spacer20"></th>
            <th style="width: 125px" class="text">Status</th>
            <th style="width: 125px" class="text">Pallets</th>
            <th style="width: 65px" class="text">BOL</th>
        </tr>
    </thead>
    <tbody style="max-height: 400px; position: relative;">
    </tbody>
</table>

<script type="text/javascript">
if (globals['shipped_filter'] == 0) {
    infiniteScrollTable('#list_shipments', fetchShipments);
}

$(document).ready(function() {
    $('.search').on('search', function(event, obj) {
        refreshShipments($(this).val());
    });
});
</script>