{% load static %}
{% load humanize %}

<div class="form_header dark">
<button class="actionbtn floatright" id="generate_bol" onClick="window.open('{% url "warehouse:bill-of-lading" shipment_id=shipment.id %}?inline')">BOL</button>
{% if shipment.status == shipment.Status.READY or shipment.pallet_set.count > 0 %}
    {% if shipment.status != shipment.Status.SHIPPED %}<button class="actionbtn floatright" id="ship_shipment" onClick="shipShipment({{ shipment.id }})">Shipped</button>{% endif %}
{% endif %}

<div class="shipping_info">
<div class="floatleft" style="display: inline-block;">
<p>{{ shipment.carrier }}</p>
<p>{{ shipment.tracking }}</p>
</div>
<div style="margin-left: 30px; display: inline-block;">
<p>{% if shipment.third_party %}Load #: {{ shipment.purchase_order_number }}{% endif %}</p>
<p>{% if shipment.date_shipped %}{% if shipment.status == shipment.Status.SHIPPED %}Shipped{% else %}Ship on{% endif %}: {{ shipment.date_shipped|date:"SHORT_DATE_FORMAT" }}{% endif %}</p>
</div>
</div>

{% if shipment.status < shipment.Status.SHIPPED %}<button class="actionbtn floatright" id="edit_shipment" onClick="showShippingInfo({{ shipment.id }})">Edit</button>{% endif %}

<div class="bol-icon">
    <button class="show-shipment-docs" onClick="showShipmentDocs({{ shipment.id }});">{{ shipment.shipmentdoc_set.count }}</button>
</div>

<span class="shipmentid">{{ shipment.id }}</span>
<span class="title">Shipment details for {{ shipment.client.company_name }} ({{ shipment.location.name }})</span>

</div>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="text">Item #</th>
        <th class="text">Client name</th>
        <th class="text">Description</th>
        <th class="numeric">pcs/cs</th>
        <th class="numeric">Cases</th>
        <th class="numeric">Pallets</th>
        <th class="numeric">Gross weight (kg)</th>
        <th class="text">Ctn dimensions (cm, l &times; w &times; h)</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in shipment.transaction_set.all %}
        {% if transaction.cases > 0 %}
    <tr class="detail" id="productdetail_{{ transaction.product.id }}">
        <td class="text">{{ transaction.product.item_number }}</td>
        <td class="text">{{ shipment.client.company_name }}</td>
        <td class="text" style="width: 400px;">{{ transaction.product.name }}</td>
        <td class="numeric">{{ transaction.product.packing|intcomma }}</td>
        <td class="numeric">{{ transaction.cases|intcomma }}</td>
        <td class="numeric">{{ transaction.pallet_share }}</td>
        <td class="numeric">{{ transaction.total_weight|floatformat:1 }}</td>
        <td class="text">{{ transaction.product.length|floatformat:1 }} &times; {{ transaction.product.width|floatformat:1 }} &times; {{ transaction.product.height|floatformat:1 }}</td>
    </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<div class="dialog" id="dialog_shipping_info" title="Shipment details">
<form>
<table class="infotable">
    <tr>
        <td class="label">Shipper Address</td>
        <td>{{ form.shipper_address }}</td>
    </tr>
    <tr>
        <td class="label">Carrier</td>
        <td>{{ form.carrier }}</td>
    </tr>
    <tr>
        <td class="label">Pro #</td>
        <td>{{ form.pro_number }}</td>
    </tr>
    <tr>
        <td class="label">PO #</td>
        <td>{{ form.purchase_order_number }}</td>
    </tr>
    <tr>
        <td class="label">3rd Party</td>
        <td>{{ form.third_party }}</td>
    </tr>
    <tr>
        <td class="label">Class</td>
        <td>{{ form.shipment_class }}</td>
    </tr>
    <tr>
        <td class="label">Pallets</td>
        <td>{{ form.pallet_count }}</td>
    </tr>
    <tr>
        <td class="label">Ship date</td>
        <td>{{ form.date_shipped }}</td>
    </tr>
    <tr>
        <td class="label">Shipper special instructions</td>
        <td>{{ form.shipper_instructions }}</td>
    </tr>
    <tr>
        <td class="label">Consignee special instructions</td>
        <td>{{ form.consignee_instructions }}</td>
    </tr>
    <tr>
        <td class="label">Requirements</td>
        <td>
            {{ form.inside_delivery }} <label for="id_inside_delivery">Inside Delivery</label><br />
            {{ form.liftgate_required }} <label for="id_liftgate_required">Liftgate</label><br />
            {{ form.appointment_required }} <label for="id_appointment_required">Appointment</label><br />
            {{ form.sort_segregation }} <label for="id_sort_segregation">Sort & Segregation</label><br />
        </td>
    </tr>
</table>
</form>
</div>
