{% extends "warehouse/base.html" %}

{% block content %}

<div class="content">

{% with page_selected="shipments" %}
{% include "warehouse/inc_nav.html" %}
{% endwith %}

<div class="" id="list_shipments">
</div>

<div class="shipment_detail" id="shipment_details"></div>

<div class="dialog" id="dialog_ship_shipment" title="Ship shipment">
    <p>This shipment will be changed to Shipped status, and quantities of all items on pallets will be updated.</p>

    <p>
        Delivery charge?
        <button id="delivery_charge_yes">Yes</button>
        <button id="delivery_charge_no">No</button>
    </p>

    <p class="delivery_charge_input">
        Delivery charge: $ <input type="number" id="delivery_charge" step=".01" min="0" style="width: 100px;" />
    </p>
</div>

<div class="dialog" id="dialog_mark_shipment_ready" title="Mark shipment ready">
    <p>This shipment will be marked READY TO SHIP, bypassing warehouse scan requirements.</p>
</div>

<div class="dialog" id="bol_upload_form" title="Upload Signed BOL">
Upload an image of the signed BOL for this shipment.
    
    <div style="margin: 20px;">
        <input type="file" id="bol_upfile">
        <button id="upload_bol" onclick="execute_uploadShipmentBOL();">Upload</button>
    </div>
</div>

<div class="dialog" id="dialog_documents" title="Documents">
    <div style="margin: 20px;">
        <input type="file" id="shipment_upfile">
        <button id="upload_bol" onclick="execute_uploadShipmentDoc();">Upload</button>
    </div>

    <table id="documents_list" class="infotable alternating">
    </table>
</div>  

{% endblock %}

{% block footer_js %}
    globals['startFrom'] = 0;
    refreshShipments();
{% endblock %}
