{% load static %}
{% load filters %}
<!DOCTYPE HTML>
<html>
    <head>
    <title>{{ company_name }}</title>
    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/pagination.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "mgmt/css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <script type="text/javascript">
    </script>
</head>

<body>

<div class="login-form-container">
    <img src="{% static "accounts/images/tp.png" %}" alt="{{ company_name }}" />
    <h1>403 - Unauthorized</h1>
    <p>
        You do not have authorization to access this area.
    </p>
    {% if exception %}
    <p><b>Error:</b> {{ exception }}</p>
    {% endif %}
    {% with request.path|split_path as path %}
        <a class="btn"
        {% if path.1 == 'mgmt' %}
            href="{% url "mgmt:sign-out" %}"
        {% elif path.1 == 'client' %}
            href="{% url "client:sign-out" %}"
        {% elif path.1 == 'warehouse' %}
            href="{% url "warehouse:sign-out" %}"
        {% elif path.1 == 'warehouse_app' %}
            href="{% url "warehouse_app:sign-out" %}"
        {% elif path.1 == 'accounting' %}
            href="{% url "accounting:sign-out" %}"
        {% else %}
            href="{% url "sign-out" %}"
        {% endif %}
        >
            Log out
        </a>
    {% endwith %}

</div>

</body>
</html>
