{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
    <title>{{ company_name }}</title>
    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/pagination.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "mgmt/css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <script type="text/javascript">
    </script>
</head>

<body>

<div class="centered-parent">

    <div class="centered-logo">
        <img src="{% static "accounts/images/tp.png" %}" alt="{{ company_name }}" />
        {% block special_message %}{% endblock %}
    </div>

</div>

</body>
</html>
