body {
	padding: 0px;
	margin: 0px;
	font-family: 'Trebuchet MS';
	font-size: 13px;
}

body.login {
        background-color: #000;
        color: #fff;
}

.nodisplay {
	display: none;
}

div#header {
/*	background-color: #231f20;*/
	background-color: #8C4658;
	color: #fff;
	font-size: 16px;
	min-width: 1250px;
	height: 40px;
	margin-bottom: 0px;
	background-image: url('../images/tp_header.png');
	background-position: 4px 4px;
	background-repeat: no-repeat;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
}

div#header a {
	color: #fff;
	text-decoration: none;
}
div#header a:hover {
	text-decoration: underline;
}

div.logoutlink {
	float: right;
	margin-right: 20px;
	margin-top: 7px;
	padding: 2px;
}

div.pagetitle {
	line-height: 40px;
	margin-left: 300px;
}

div.content {
	position: relative;
	margin: 50px;
	min-width: 1250px;
	width: 1250px;
}

div.logo {
	margin-left: 30px;
	width: 363px;
	height: 47px;
	background-image: url('../images/tp.png');
}

ul.nav {
	padding: 0px;
}
ul.nav li {
	display: inline-block;
	width: 280px;
	height: 48px;
	border: 1px solid #d9dadc;
	font-size: 16px;
	line-height: 48px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #f3f3f4;
	background-repeat: no-repeat;
	background-position: 20px 4px, 280px 4px;
}
ul.nav a {
	text-decoration: none;
	color: #231f20;
}
ul.nav li:hover,
ul.nav li.selected {
/*	background-color: #e6e6e7;*/
	background-color: #b9b9ba;
	color: #fff;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.8);
}

#li_home {
	background-image:
		url('../images/icon_home.png'),
		url('../images/icon_rightarrow.png');
}
#li_profile {
	background-image:
		url('../images/icon_profile.png'),
		url('../images/icon_rightarrow.png');
}
#li_inventory {
	background-image:
		url('../images/icon_inventory.png'),
		url('../images/icon_rightarrow.png');
}
#li_history {
	background-image:
		url('../images/icon_history.png'),
		url('../images/icon_rightarrow.png');
}
#li_reorder {
	background-image:
		url('../images/icon_reorder.png'),
		url('../images/icon_rightarrow.png');
}


div.above_login {
        position: absolute;
        width: 99%;
        top: 100px;
        text-align: center;
        margin: 0px auto;
}

div#login_status {
        background-color: #333;
        border-radius: 10px;
        padding: 25px;
        width: 300px;
        margin: 0px auto;
}
div#login_status h3 {
        font-size: 18px;
        color: #fff;
}

table.loginform {
        width: 300px;
        margin: 200px auto 0px auto;
        font-size: 24px;
}
table.loginform td {
        padding: 3px;
}
table.loginform td.label {
        padding-right: 20px;
}
table.loginform input {
        font-size: 18px;
        padding: 4px;
}
table.loginform td.tool {
        font-size: 11px;
}
table.loginform a {
        color: #fff;
        text-decoration: none;
}


.numeric {
	text-align: right;
	padding-right: 5px;
}
.id {
	min-width: 40px;
	width: 40px;
}
.text {
	text-align: left;
	padding-left: 10px;
}
.monospace {
	font-family: monospace;
}
.action {
	text-align: right;
	width: 40px;
}
.action a {
	text-decoration: none;
}
.action a:hover {
	text-decoration: underline;
}
.shipping_info a {
	text-decoration: none;
	color: #000;
	background-color: #ddf;
	padding: 2px 4px;
	border-radius: 3px;
	margin-left: 10px;
}
.shipping_info a:hover {
	background-color: #fff;
}
.glyph {
        font-size: 24px;
        line-height: 15px;
}
.glyph a {
        text-decoration: none;
}
.spacer20 {
	min-width: 20px;
	width: 20px;
}
.spacer100 {
	min-width: 100px;
	width: 100px;
}
.nowrap {
	white-space: nowrap;
}
.date {
	text-align: left;
	white-space: nowrap;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.floatright {
	float: right;
}

table.infotable {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #d9dadc;
	margin-bottom: 10px;
	clear: both;
}
table.infotable thead {
}
table.infotable th {
	height: 50px;
	line-height: 50px;
	background-color: #f3f3f4;
	white-space: nowrap;
}
table.infotable tr {
	vertical-align: top;
}

table.infotable td {
	padding: 8px;
}
table.infotable td.label {
	line-height: 40px;
}
table.infotable td.editable {
	padding: 0px;
}


table.infotable.alternating > tbody > tr:nth-child(even) {
	background-color: #f3f3f4;
}
table.infotable.alternating > tbody > tr:nth-child(odd) {
	background-color: #d1d2d4;
}

table.infotable.alternating > tbody > tr.selected {
	background-color: #939598;
	color: #fff;
}

table.infotable.alternating > tbody > tr:hover {
        background-color: #a9a9aa; 
        color: #fff;
}

table.infotable.scrollable > thead, table.infotable.scrollable > tbody {
        display: block;
}
table.infotable.scrollable > tbody {
        overflow-y: auto;
        overflow-x: hidden;
}

button.actionbtn {
	margin: 0px;
	padding: 0px 60px 0px 40px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border: 1px solid #d9dadc;
	background-color: #0e76bc;
	background-image: url('../images/icon_rightarrow_white.png');
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) 4px;
	font-family: 'Trebuchet MS';
	color: #fff;
	cursor: pointer;
}
button.actionbtn:hover {
	background-color: #3D9AD9;
}
button.red {
	background-color: #964D07;
        background-image: url('../images/icon_x_white.png');
}
button.red:hover {
	background-color: #CC731F;
}

div.list_header {
	background-color: #444;
	color: #fff;
	width: 322px;
	padding: 10px 40px;
	line-height: 15px;
}

div.list_header a {
	color: #fff;
}

div.list_wrap {
	max-height: 200px;
	width: 400px;
	overflow: scroll;
	border: 1px solid #000;
	margin-bottom: 8px;
}
div#customers_list_wrap {
	margin-left: 200px;
}

ul.items_list {
	list-style-type: none;
	width: 400px;
	padding: 0px;
	margin: 0px;
/*	margin-bottom: 3px;*/
}
ul#customers_list {
}
ul#locations_list {
}
ul.items_list li {
	display: block;
	padding: 10px;
	height: 20px;
	line-height: 20px;
}
ul.items_list li.selected {
	background-color: #000;
	color: #fafafa;
}
ul.items_list li:last-child {
	border-bottom: 0px solid #000;
}
ul.items_list li:hover {
	background-color: #e6e6e7;
	color: #000;
}
ul.items_list li.selected:hover {
	background-color: #a6a6a7;
	color: #000;
}
ul.items_list a {
	text-decoration: none;
}

input#customer_name_new {
	width: 0px;
	height: 24px;
	margin: 2px;
	display: none;
	font-size: 13px;
}

div.objectform {
	position: absolute;
	left: 500px;
	width: 500px;
	border: 1px solid #000;
}
div#conameform {
	top: 100px;
}

div#locationform {
	top: 250px;
}
div#contactform {
	top: 250px;
	display: none;
}

div.form_header {
	background-color: #f3f3f4;
	height: 50px;	
}
div.form_header span.title {
	margin-left: 20px;
	line-height: 50px;
	font-size: 16px;
}
div.form_header span.shipmentid {
	margin-left: 20px;
}
div.dark {
	background-color: #939598;
	color: #fff;
}
div.form_body {
	clear: right;
}
div.form_body table {
	margin: 7px;
	width: 485px;
}
div.form_body td {
	padding: 0px;
	white-space: nowrap;
}
div.form_body input,
div.form_body div.non-input {
	width: 100%;
	margin: 0px;
	padding: 5px;
	border: 1px solid #f0f0f0;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
}
div.form_body input:focus {
	border: 1px solid #666;
}
div.form_body input.new {
	border: 1px solid #aaa;
}
div.form_body select {
	font-size: 16px;
	width: 100%;
}

td.numeric input {
	text-align: right;
}

div.non-input span {
	margin-right: 30px;
}

.infotable input,
.form_header input {
	margin: 0px;
	height: 29px;
	font-size: 13px;
	border: none;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.8);
	box-shadow: none;
	outline: none;
}
.infotable input {
	box-shadow: none;
}
.infotable input[type=checkbox] {
	height: auto;
}
table.infotable.alternating > tbody > tr:nth-child(even) input {
	background-color: #f3f3f4;
}
table.infotable.alternating > tbody > tr:nth-child(odd) input {
	background-color: #d1d2d4;
}
table.infotable.alternating > tbody > tr.selected:nth-child(even) input:disabled,
table.infotable.alternating > tbody > tr.selected:nth-child(odd) input:disabled {
	background-color: #939598;
	color: #000;
}

.infotable.editable tr.selected input,
.infotable.editable tr.detail input {
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.8);
}
table.infotable.alternating > tbody > tr.selected:nth-child(even) input,
table.infotable.alternating > tbody > tr.selected:nth-child(odd) input {
	background-color: #939598;
	color: #fff;
}
table.infotable.alternating.editable > tbody > tr.selected:nth-child(even) input,
table.infotable.alternating.editable > tbody > tr.selected:nth-child(odd) input,
table.infotable.alternating.editable > tbody > tr.detail:nth-child(even) input,
table.infotable.alternating.editable > tbody > tr.detail:nth-child(odd) input {
	background-color: #fff;
	color: #000;
}

table.infotable tr.detail {
	vertical-align: middle;
}

tr.detail td {
        height: 29px;
}

table.infotable th.completed {
	background-color: #fff;
}

div.dialog {
	display: none;
}

@-webkit-keyframes flash {
        0% { color:#000; }
        50% { color:#ea4; }
        100% { color:#000; }
}       
@keyframes flash {
        0% { color:#000; }
        50% { color:#ea4; }
        100% { color:#000; }
}       
@-webkit-keyframes bg-flash {
        0% { background-color:#fff; }
        50% { background-color:#ea4; }
        100% { background-color:#fff; }
}       
@keyframes bg-flash {
        0% { background-color:#fff; }
        50% { background-color:#ea4; }
        100% { background-color:#fff; }
}       

span.shipment_id {
        padding: 4px;
}

span.partial_receivable,
span.incomplete_shipment {
        padding: 4px;
        border-radius: 3px;
        animation: bg-flash 1s ease-out;
        animation-iteration-count: infinite;
        -webkit-animation: bg-flash 1s ease-out;
        -webkit-animation-iteration-count: infinite;
}

div.shipping_info {
	float: right;
}

#dialog_shipping_info input[type=text],
#dialog_shipping_info input[type=number] {
	width: 264px;
}


ul.mode_toggle {
        list-style: none;
        width: 160px;
        float: right;
        margin: 0px;
        margin-top: -10px;
}
ul.mode_toggle li {
        display: inline-block;
        border-width: 1px 1px 0px 1px;
        border-style: solid;
        border-color: #d9dadc;
        padding: 6px;
	background-color: #bbb;
	position: relative;
	top: 1px;
}
ul.mode_toggle a {
        text-decoration: none;
        color: #fff;
}
ul.mode_toggle li.selected {
        background-color: #eee;
}       
ul.mode_toggle a li.selected {
        color: #445;
}

.dialog textarea,
.dialog input[type=text],
.dialog input[type=number] {
        width: 100%;
        margin: 2px 0px;
        padding: 5px;
        border: 1px solid #a0a0a0;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
}
.dialog textarea {
	width: 97%;
}

#dialog_shipping_info {
	overflow-x: hidden;
}


.delete-bol {
	text-decoration: none;
	position: absolute;
	top: -4px;
	left: 24px;
}
.delete-bol:hover {
	text-decoration: none;
}
.bol-icon {
	position: relative;
	display: inline-block;
	vertical-align: text-top;
	margin: -8px 0px 0px 8px;
}
