<CFQUERY NAME="LastRcvd" DATASOURCE="#DSN#">
SELECT * FROM Receivables,Transactions
WHERE Receivables.productid=<CFQUERYPARAM value="#URL.productid#" CFSQLType="CF_SQL_NUMERIC">
AND Transactions.receivableid=Receivables.receivableid
ORDER BY createdon DESC
LIMIT 1
</CFQUERY>

<CFQUERY NAME="LastShipped" DATASOURCE="#DSN#">
SELECT * FROM Shipments,Transactions
WHERE Transactions.productid=<CFQUERYPARAM value="#URL.productid#" CFSQLType="CF_SQL_NUMERIC">
AND Transactions.shipmentid=Shipments.shipmentid
ORDER BY createdon DESC
LIMIT 1
</CFQUERY>

<CFSET unitprice_formatted = NumberFormat(Product.unitprice,",.____")>

<CFOUTPUT QUERY="Product">

<div class="form_header dark">
<button class="actionbtn floatright" id="product_submit" onClick="saveProduct({{ product.id }})">Save</button>
<span class="title">
<a target="_blank" href="gen_barcode_prod.cfm?productid=#productid#"><img src="images/barcode.gif" /></a>
Order details for Item {{ product.item_number }}: {{ product.name }}</span>
</div>

<table class="infotable alternating editable">
    <thead>
    <tr>
        <th style="width: 75px;" class="text">PO #</th>
        <th style="width: 75px;" class="text">SO #</th>
        <th style="width: 75px;" class="text">Account</th>
        <th style="width: 130px;" class="numeric">Contracted qty (pcs)</th>
        <th style="width: 90px;" class="numeric">Cases</th>
        <th style="width: 94px;" class="numeric">Unit price</th>
        <th style="width: 114px;" class="numeric">Total price</th>
        <th style="width: 110px;" class="numeric">GW (<a class="switch-units weight">kg</a>)</th>
        <th style="width: 291px;" class="text">Ctn dimensions (<a class="switch-units length">cm</a>)</th>
        <th style="width: 135px;" class="text">Lead Time</th>
    </tr>
    </thead>
    <tbody>
    <tr class="detail" id="productdetail_#URL.productid#">
        <td style="width: 70px;" class="text">{{ last_received.purchase_order }}</td>
        <td style="width: 70px;" class="text">{{ last_received.shipment_order }}</td>
        <td style="width: 70px;" class="text">
            {{ form.account_prepay_type }}
        </td>
        <td style="width: 136px;" class="numeric editable"><input type="number" id="contqty_#URL.productid#" value="<CFIF IsNumeric(packing) AND IsNumeric(contqty)>#packing * contqty#</CFIF>" productid="#URL.productid#" style="width: 100px;" maxlength="24" /></td>
        <td style="width: 80px;" class="numeric">#NumberFormat(remain,",")#</td>
        <td style="width: 100px;" class="numeric editable">$<input type="number" min="0" step="0.0001" id="unitprice_#URL.productid#" value="#unitprice_formatted#" productid="#URL.productid#" style="width: 65px;" maxlength="10" onChange="this.value = parseFloat(this.value).toFixed(4);" /></td>
        <td style="width: 104px;" class="numeric"><CFIF IsNumeric(packing) AND IsNumeric(contqty)>#NumberFormat(unitprice * contqty * packing,"_$,.__")#</CFIF></td>
        <td style="width: 100px;" class="numeric">
            <input type="number" id="GW_#URL.productid#" value="#GW#" productid="#URL.productid#" style="width: 50px;" maxlength="10" />
            <input type="hidden" id="GW_metric_#URL.productid#" value="#GW#" />
            <input type="hidden" id="GW_imperial_#URL.productid#" value="#IsNumeric(GW) ? NumberFormat(GW * 2.20462,"._") : ""#" />
        </td>
        <td style="width: 286px;" class="text">
            <input type="number" id="length_#URL.productid#" value="#length#" productid="#URL.productid#" style="width: 50px;" maxlength="10" /> l &times;
            <input type="number" id="width_#URL.productid#" value="#width#" productid="#URL.productid#" style="width: 50px;" maxlength="10" /> w &times;
            <input type="number" id="height_#URL.productid#" value="#height#" productid="#URL.productid#" style="width: 50px;" maxlength="10" /> h
            <input type="hidden" id="length_metric_#URL.productid#" value="#length#" />
            <input type="hidden" id="width_metric_#URL.productid#" value="#width#" />
            <input type="hidden" id="height_metric_#URL.productid#" value="#height#" />
            <input type="hidden" id="length_imperial_#URL.productid#" value="#IsNumeric(length) ? NumberFormat(length * 0.393701,"._") : ""#" />
            <input type="hidden" id="width_imperial_#URL.productid#" value="#IsNumeric(width) ? NumberFormat(width * 0.393701,"._") : ""#" />
            <input type="hidden" id="height_imperial_#URL.productid#" value="#IsNumeric(height) ? NumberFormat(height * 0.393701,"._") : ""#" />
        </td>
        <td style="width: 130px;" class="text">
            <select id="prodtype_#URL.productid#" style="display: block;">
                <option value="0" <cfif prodtype IS 0>selected</cfif>>Import (12-14 wks)</option>
                <option value="1" <cfif prodtype IS 1>selected</cfif>>Domestic (6-8 wks)</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>

</CFOUTPUT>
