<CFIF NOT IsDefined("libloaded")>
        <CFINCLUDE TEMPLATE="inc_lib.cfm">
</CFIF>

<CFIF IsDefined("URL.productid") AND IsNumeric(URL.productid)>
<CFELSEIF IsDefined("URL.productid")>
    <CFABORT>
<CFELSE>
    <div class="error">Invalid product ID specified.</div>
    <CFABORT>
</CFIF>

<CFQUERY NAME="Product" DATASOURCE="#DSN#">
SELECT * FROM Products
WHERE productid=<CFQUERYPARAM value="#URL.productid#" CFSQLType="CF_SQL_NUMERIC">
</CFQUERY>

<CFSET fromdate = DateFormat(DateAdd("m",-3,Now()),"mm/dd/yyyy")>
<CFSET todate = DateFormat(Now(),"mm/dd/yyyy")>

<CFQUERY NAME="Transactions" DATASOURCE="#DSN#">
SELECT Transactions.*,Receivables.createdon,Receivables.PO,Receivables.cases as cases_expected,
    Shipments.shippedon,Shipments.status as shipment_status,(Shipments.status IN (0,1) AND Shipments.shipmentid IS NOT NULL) AS shipment_pending,
    Locations.name as location_name,Customers.coname as transfercustomer_name,count(ShipmentDocs.shipmentid) AS document_count FROM Transactions
LEFT JOIN Shipments ON Shipments.shipmentid=Transactions.shipmentid
LEFT JOIN Locations ON Shipments.locationid=Locations.locationid
LEFT JOIN Receivables ON Receivables.receivableid=Transactions.receivableid
LEFT JOIN Customers ON transfercustomerid=Customers.customerid
LEFT JOIN ShipmentDocs ON ShipmentDocs.shipmentid=Shipments.shipmentid
WHERE Transactions.productid=<CFQUERYPARAM value="#URL.productid#" CFSQLType="CF_SQL_NUMERIC">
<CFIF IsDefined("URL.fromdate") AND REFind("\d{2}/\d{2}/\d{4}",URL.fromdate) GT 0>
<CFSET fromdate = URL.fromdate>
AND stamp > STR_TO_DATE("#URL.fromdate#","%m/%d/%Y")
</CFIF>
<CFIF IsDefined("URL.todate") AND REFind("\d{2}/\d{2}/\d{4}",URL.todate) GT 0>
<CFSET todate = URL.todate>
AND stamp < DATE_ADD(STR_TO_DATE("#URL.todate#","%m/%d/%Y"),INTERVAL 1 DAY)
</CFIF>
GROUP BY Transactions.transactionid
ORDER BY shipment_pending DESC,stamp DESC
</CFQUERY>

<CFOUTPUT>
<div class="form_header dark">
<button class="actionbtn floatright" onClick="generateReport(#URL.productid#)">Report</button>
<span class="title floatright" style="margin-right: 10px;">
Show from
<input type="text" id="fromdate" value="#fromdate#" productid="#URL.productid#" style="width: 100px;" />
to
<input type="text" id="todate" value="#todate#" productid="#URL.productid#" style="width: 100px;" />
</span>

<span class="title">
<a target="_blank" href="gen_barcode_prod.cfm?productid=#productid#"><img src="images/barcode.gif" /></a>
History for Item #Product.itemnum#: #Product.pname#</span>

</div>
</CFOUTPUT>
<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="date">Request date</th>
        <th class="date">In/Out date</th>
        <th class="text">Location</th>
        <th class="text">PO #</th>
        <th class="text">SO #</th>
        <th class="numeric">Qty (pcs)</th>
        <th class="numeric">Pkg (pcs/cs)</th>
        <th class="numeric">Cases in</th>
        <th class="numeric">Cases out</th>
        <th class="numeric">Cases bal</th>
        <th class="numeric">DL #</th>
        <th class="glyph"></th>
        <th class="text">Status</th>
        <th class="action"></th>
    </tr>
    </thead>
    <tbody>

    <cfset qtyBalance = Product.remain>

    <CFOUTPUT QUERY="Transactions">

    <CFQUERY NAME="SplitReceivables" DATASOURCE="#DSN#">
    SELECT * FROM Transactions,Receivables
    WHERE Receivables.productid=#URL.productid#
    AND Transactions.receivableid=Receivables.receivableid
    AND Receivables.PO=<CFQUERYPARAM value="#PO#" CFSQLType="CF_SQL_VARCHAR">
    AND Receivables.SO=<CFQUERYPARAM value="#SO#" CFSQLType="CF_SQL_VARCHAR">
    AND Transactions.cases IS NULL  
    </CFQUERY>

    <cfset transferlink = '<i><a href="inventory.cfm?customerid=' & transfercustomerid & '&productid=' & transferproductid & '">(Transfer #direction IS 1 ? "to" : "from"# #transfercustomer_name#)</a></i>'>
    <tr class="detail <cfif shipment_pending IS 1>shipment-pending</cfif>">
        <td class="date"><cfif shipmentid IS "" AND receivableid IS "">#DateFormat(stamp,"MM/DD/YYY")#<cfelseif direction IS 0>#DateFormat(createdon,"MM/DD/YYY")#<CFELSE>#DateFormat(stamp,"MM/DD/YYY")#</CFIF></td>
        <td class="date"><cfif shipmentid IS "" AND receivableid IS "">#DateFormat(stamp,"MM/DD/YYY")#<cfelseif direction IS 0>#DateFormat(stamp,"MM/DD/YYY")#<CFELSE>#DateFormat(shippedon,"MM/DD/YYY")#</CFIF></td>
        <td class="text" style="max-width: 94px; overflow: hidden; text-overflow: ellipsis;">#shipmentid GT 0 OR receivableid GT 0 ? location_name : transferlink#</td>
        <td class="text"><CFIF cases IS ""><input type="text" id="PO_#URL.productid#" value="#PO#" productid="#URL.productid#" style="width: 100px;" maxlength="16" /><CFELSE>#PO#</CFIF></td>
        <td class="text"><CFIF cases IS ""><input type="text" id="SO_#URL.productid#" value="#SO#" productid="#URL.productid#" style="width: 100px;" maxlength="16" /><CFELSE>#SO#</CFIF></td>
        <td class="numeric"><CFIF cases IS NOT "">#NumberFormat(qty,",")#</CFIF></td>
        <td class="numeric"><CFIF cases IS NOT "">#NumberFormat(Product.packing,",")#</CFIF></td>
        <td class="numeric"><CFIF direction IS 0><CFIF cases IS ""><input type="text" id="cases_#transactionid#" value="" transactionid="#transactionid#" placeholder="#cases_expected#" style="width: 60px;" maxlength="10" /><CFELSE>#cases#</CFIF></CFIF>
            <CFIF cases IS NOT cases_expected AND IsNumeric(cases) AND IsNumeric(cases_expected)><span class="<CFIF SplitReceivables.recordCount GT 0>partial_receivable</CFIF>">(#cases_expected - cases#)</span></CFIF>
        </td>
        <td class="numeric"><CFIF direction IS 1>#cases#</CFIF></td>
        <td class="numeric">#qtyremain GT 0 AND Product.packing GT 0 ? NumberFormat(qtyremain/Product.packing,",") : 0#</td>
        <td class="numeric"><a href="shipments.cfm?customerid=#customerid#&shipmentid=#shipmentid#">#shipmentid#</a></td>
        <td class="action" style="width: 60px;">
            <cfif document_count GT 0>
            <button class="show-shipment-docs" onClick="showShipmentDocs(#shipmentid#);">#document_count#</button>
            </cfif>
        </td>
        <td class="text">
            <cfif IsNumeric(shipment_status)>
                <cfif shipment_status IS 0>
                    Pending
                <cfelseif shipment_status IS 1>
                    Ready to Ship
                <cfelseif shipment_status IS 2>
                    Shipped
                </cfif>
            </cfif>
        </td>
        <td class="action" style="width: 330px;">
        <CFIF direction IS 0 AND cases IS "">
            <button class="actionbtn" onClick="saveTransaction(#transactionid#,#URL.productid#)">Confirm</button>
            <button class="actionbtn" onClick="cancelIncoming(#transactionid#,#URL.productid#)">Cancel</button>
        <CFELSEIF NOT IsDate(shippedon)>
<!---            <button class="actionbtn" onClick="cancelTransaction(#transactionid#,#URL.productid#)">Cancel</button>--->
        </CFIF>
        </td>
    </tr>

    <cfif IsNumeric(cases)>
    <cfif direction IS 0>
        <cfset qtyBalance = qtyBalance - cases>
    <cfelse>
        <cfset qtyBalance = qtyBalance + cases>
    </cfif>
    </cfif>

    </CFOUTPUT>
    </tbody>
</table>

