{% load humanize %}
<CFSET fromdate = DateFormat(DateAdd("m",-3,Now()),"mm/dd/yyyy")>
<CFSET todate = DateFormat(Now(),"mm/dd/yyyy")>

<CFQUERY NAME="Transactions" DATASOURCE="#DSN#">
SELECT Transactions.*,Receivables.createdon,Receivables.PO,Receivables.cases as cases_expected,
    Shipments.shippedon,Shipments.status as shipment_status,(Shipments.status IN (0,1) AND Shipments.shipmentid IS NOT NULL) AS shipment_pending,
    Locations.name as location_name,Customers.coname as transfercustomer_name,count(ShipmentDocs.shipmentid) AS document_count FROM Transactions
LEFT JOIN Shipments ON Shipments.shipmentid=Transactions.shipmentid
LEFT JOIN Locations ON Shipments.locationid=Locations.locationid
LEFT JOIN Receivables ON Receivables.receivableid=Transactions.receivableid
LEFT JOIN Customers ON transfercustomerid=Customers.customerid
LEFT JOIN ShipmentDocs ON ShipmentDocs.shipmentid=Shipments.shipmentid
WHERE Transactions.productid=<CFQUERYPARAM value="#URL.productid#" CFSQLType="CF_SQL_NUMERIC">
<CFIF IsDefined("URL.fromdate") AND REFind("\d{2}/\d{2}/\d{4}",URL.fromdate) GT 0>
<CFSET fromdate = URL.fromdate>
AND stamp > STR_TO_DATE("#URL.fromdate#","%m/%d/%Y")
</CFIF>
<CFIF IsDefined("URL.todate") AND REFind("\d{2}/\d{2}/\d{4}",URL.todate) GT 0>
<CFSET todate = URL.todate>
AND stamp < DATE_ADD(STR_TO_DATE("#URL.todate#","%m/%d/%Y"),INTERVAL 1 DAY)
</CFIF>
GROUP BY Transactions.transactionid
ORDER BY shipment_pending DESC,stamp DESC
</CFQUERY>

<CFOUTPUT>
<div class="form_header dark">
<button class="actionbtn floatright" onClick="generateReport(#URL.productid#)">Report</button>
<span class="title floatright" style="margin-right: 10px;">
Show from
<input type="text" id="fromdate" value="#fromdate#" productid="#URL.productid#" style="width: 100px;" />
to
<input type="text" id="todate" value="#todate#" productid="#URL.productid#" style="width: 100px;" />
</span>

<span class="title">
<a target="_blank" href="gen_barcode_prod.cfm?productid=#productid#"><img src="images/barcode.gif" /></a>
History for Item {{ product.item_number }}: {{ product.name }}</span>

</div>
</CFOUTPUT>
<table class="infotable alternating editable">
    <thead>
    <tr>
        <th class="date">Request date</th>
        <th class="date">In/Out date</th>
        <th class="text">Location</th>
        <th class="text">PO #</th>
        <th class="text">SO #</th>
        <th class="numeric">Qty (pcs)</th>
        <th class="numeric">Pkg (pcs/cs)</th>
        <th class="numeric">Cases in</th>
        <th class="numeric">Cases out</th>
        <th class="numeric">Cases bal</th>
        <th class="numeric">DL #</th>
        <th class="glyph"></th>
        <th class="text">Status</th>
        <th class="action"></th>
    </tr>
    </thead>
    <tbody>

    <cfset qtyBalance = Product.remain>

    <CFOUTPUT QUERY="Transactions">
    {% for transaction in history %}

{% comment %}
    <CFQUERY NAME="SplitReceivables" DATASOURCE="#DSN#">
    SELECT * FROM Transactions,Receivables
    WHERE Receivables.productid=#URL.productid#
    AND Transactions.receivableid=Receivables.receivableid
    AND Receivables.PO=<CFQUERYPARAM value="#PO#" CFSQLType="CF_SQL_VARCHAR">
    AND Receivables.SO=<CFQUERYPARAM value="#SO#" CFSQLType="CF_SQL_VARCHAR">
    AND Transactions.cases IS NULL  
    </CFQUERY>

    <cfset transferlink = '<i><a href="inventory.cfm?customerid=' & transfercustomerid & '&productid=' & transferproductid & '">(Transfer #direction IS 1 ? "to" : "from"# #transfercustomer_name#)</a></i>'>
{% endcomment %}

    <tr class="detail <cfif shipment_pending IS 1>shipment-pending</cfif>">
        <td class="date">
            {% if transaction.shipment == None and transaction.receivable == None %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% elif not transaction.is_outbound %}
                {{ transaction.receivable.date_received|date:"SHORT_DATE_FORMAT" }}
            {% else %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% endif %}
        </td>
        <td class="date">
            {% if transaction.shipment == None and transaction.receivable == None %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% elif not transaction.is_outbound %}
                {{ transaction.date_created|date:"SHORT_DATE_FORMAT" }}
            {% else %}
                {{ transaction.shipment.date_shipped|date:"SHORT_DATE_FORMAT" }}
            {% endif %}
        </td>
        <td class="text" style="max-width: 94px; overflow: hidden; text-overflow: ellipsis;">
            {% if transaction.shipment %}
                {{ transaction.shipment.location.name }}
            {% elif transaction.receivable %}
                {{ transaction.receivable.location.name }}
            {% else %}
                <i><a href="{% url "mgmt-inventory" client_id=transaction.transfer_client.id product_id=transaction.transfer_product.id %}">
                    (Transfer {% if transaction.is_outbound %}to{% else %}from{% endif %} {{ transaction.transfer_client.company_name }})
                </a></i>
            {% endif %}
        </td>
        <td class="text">
            {% if transaction.cases == None %}
                <input type="text" id="PO_{{ transaction.product.id }}" value="{{ transaction.receivable.purchase_order }}" productid="{{ product.id }}" style="width: 100px;" maxlength="16" />
            {% else %}
                {{ transaction.receivable.purchase_order }}
            {% endif %}
        </td>
        <td class="text">
            {% if transaction.cases == None %}
                <input type="text" id="SO_{{ transaction.product_id }}" value="{{ transaction.shipment_order }}" productid="{{ product.id }}" style="width: 100px;" maxlength="16" />
            {% else %}
                {{ transaction.shipment_order }}
            {% endif %}
        </td>
        <td class="numeric">
            {% if transaction.cases %}
                {{ transaction.quantity|intcomma }}
            {% endif %}
        </td>
        <td class="numeric">
            {% if transaction.cases %}
                {{ transaction.product.packing|intcomma }}
            {% endif %}
        </td>
        <td class="numeric">
            {% if not transaction.is_outbound %}
                {% if not transaction.cases %}
                    <input type="text" id="cases_{{ transaction.id }}" value="" transactionid="{{ transaction.id }}" placeholder="{{ transaction.receivable.cases }}" style="width: 60px;" maxlength="10" />
                {% else %}
                    {{ transaction.cases }}
                {% endif %}
            {% endif %}
            {% if transaction.cases != transaction.receivable.cases and transaction.cases and transaction.receivable.cases %}
                <span class="<CFIF SplitReceivables.recordCount GT 0>partial_receivable</CFIF>">(#cases_expected - cases#)</span>
            {% endif %}
        </td>
        <td class="numeric">
            {% if transaction.is_outbound %}
                {{ transaction.cases }}
            {% endif %}
        </td>
        <td class="numeric">
            {% if transaction.quantity_remaining and transaction.product.packing %}
                {{ transaction.cases_remaining }}
            {% else %}
                0
            {% endif %}
        </td>
        <td class="numeric"><a href="shipments.cfm?customerid=#customerid#&shipmentid=#shipmentid#">{{ transaction.shipment.id }}</a></td>
        <td class="action" style="width: 60px;">
            {% if transaction.shipment.shipmentdoc_set.count %}
                <button class="show-shipment-docs" onClick="showShipmentDocs({{ transaction.shipment.id }});">{{ transaction.shipment.shipmentdoc_set.count }}</button>
            {% endif %}
        </td>
        <td class="text">
            {{ transaction.shipment.get_status_display }}
        </td>
        <td class="action" style="width: 330px;">
            {% if not transaction.is_outbound and not transaction.cases %}
                <button class="actionbtn" onClick="saveTransaction(#transactionid#,#URL.productid#)">Confirm</button>
                <button class="actionbtn" onClick="cancelIncoming(#transactionid#,#URL.productid#)">Cancel</button>
            {% elif not transaction.shipment.date_shipped %}
<!---            <button class="actionbtn" onClick="cancelTransaction(#transactionid#,#URL.productid#)">Cancel</button>--->
            {% endif %}
        </td>
    </tr>

    <cfif IsNumeric(cases)>
    <cfif direction IS 0>
        <cfset qtyBalance = qtyBalance - cases>
    <cfelse>
        <cfset qtyBalance = qtyBalance + cases>
    </cfif>
    </cfif>

    </CFOUTPUT>
    {% endfor %}
    </tbody>
</table>

