{% extends "ims/mgmt/base.html" %}
{% load static %}

{% block content %}

<div class="content">

{% if shipmentid %}
<script type="text/javascript">
globals['shipmentid'] = {{ shipmentid }};
</script>
{% endif %}

<div class="customerheader">{{ client.company_name }}</div>

{% with page_selected="shipments" %}
{% include "ims/mgmt/inc_nav.html" %}
{% endwith %}

<div id="list_shipments">
</div>

<div class="shipment_detail" id="shipment_details"></div>


<div class="dialog" id="shipment_cancel_confirm" title="Cancel shipment">
Are you sure you want to cancel this shipment?
</div>

<div class="dialog" id="dialog_documents" title="Documents">
    <div style="margin: 20px;">
        <input type="file" id="shipment_upfile">
        <button id="upload_bol" onclick="execute_uploadShipmentDoc();">Upload</button>
    </div>

    <table id="documents_list" class="infotable alternating">   
    </table>
</div>
    
    
<input type="hidden" id="customerid" value="{{ client.id }}" />

{% endblock %}
