{% extends "ims/mgmt/base.html" %}
{% load static %}

{% block content %}

<div id="content" class="login">

<img src="{% static "ims/images/tp_white.png" %}" border=0 hspace=0 vspace=0 alt="Think Package Management" />
<p>Account Management</p>

{% comment %}
<CFIF NOT StructIsEmpty(Form)>
<div class="above_login">
<div id="login_status">
<h3>ACCESS DENIED</h3>
<CFIF IsDefined("AccessDenied")>
    <p>You have entered an incorrect password for the specified account.</p>
</CFIF>
<CFIF IsDefined("NoMail")>
    <p>The user account you have entered does not exist.</p>
</CFIF>
<CFIF IsDefined("Disabled")>
    <p>Your account has been disabled.</p>
</CFIF>
<CFIF IsDefined("BadKey") AND NOT IsDefined("AccessDenied")>
    <p>Your 2-factor authenticator is invalid or has expired.</p>
</CFIF>
<CFIF IsDefined("Disabled")>
    <p>Your account has been disabled.</p>
</CFIF>
<CFIF IsDefined("NoKey")>
    <p>You do not have a 2-factor key.</p>
</CFIF>
<CFIF IsDefined("KeyExpired")>
    <p>Your 2-factor key has expired.</p>
</CFIF>
</div>
</div>
</CFIF>
{% endcomment %}

<form method="post" action="{% url "sign-in" %}">
{% csrf_token %}
<table class="loginform">
<tr>
    <td class="data">{{ form.username }}</td>
</tr>
<tr>
    <td class="data">{{ form.password }}</td>
</tr>
<tr>
    <td class="data"><input type="text" size="20" name="key2f" placeholder="2-factor key"></td>
</tr>
<tr>
    <td colspan="2" style="text-align: center;">
    <button class="actionbtn" type="submit">Log In</button>
    <button class="actionbtn" style="visibility: hidden;" onClick="$('#send_form').submit();" type="button" name="send" id="send_btn">Send Key</button>
    </td>
</tr>
</table>
<input type="hidden" name="next" value="{% url "mgmt-home" %}" />
</form>

<div id="send" style="visibility: hidden;">
<form method="post" action="" id="send_form" onSubmit="doSend(); return false;">
<input type="hidden" name="aid" id="aid" value="0">
</form>
</div>

</div>

{% endblock %}
