{% load humanize %}

<style type="text/css">
    body {
        font-family: sans-serif;
    }
    em {
        font-weight: bold;
    }
    table {
        width: 80%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }
    tr {
        border-bottom: 1px solid #e0e0e0;
    }
    th, td {
        font-size: 12px;
        padding: 2px  5px;
        line-height: 14px;
        max-height: 14px;
    }
    th {
        text-align: left;
        background-color: #e0e0e0;
    }

    li {
        font-size: 12px;
    }
    li.main-bullet {
        margin-bottom: 10px;
    }
    li h3 {
        margin: 0px;
        font-style: italic;
    }
    li p {
        font-style: italic;
        margin: 0px;
    }
</style>

<p>
    Dear Client,
</p>

<p>
    Your delivery order has been received and processed for fulfillment. Please see below for your
    order detail confirmation and the following:
</p>

    <table style="background-color: ##eee; border-bottom: 5px solid ##aaa; border-top: 1px solid ##aaa;">
        <tr>
            <th>Order #</th>
            <th>Client Name</th>
            <th>Location</th>
            <th>Total Cases</th>
        </tr>
        <tr>
            <td>{{ shipment.id }}</td>   
            <td>{{ shipment.client.company_name }}</td>
            <td>{{ shipment.location.name }}</td>
            <td>{{ shipment.total_cases }}</td>
        </tr>
    </table>
    
    <div style="margin-left: 20px;">
    <table>
        <tr> 
            <th>Item #</th>
            <th>Description</th>
            <th>Invoice</th>
            <th>Packing</th>
            <th>Cases</th>
        </tr>
        {% for product in shipment.requested_products %}
            {% if product.cases > 0 %}
                <tr>
                    <td>{{ product.obj.item_number }}</td>
                    <td>{{ product.obj.name }}</td>
                    <td>{{ product.obj.get_accounting_prepay_type_display|default_if_none:"" }}</td>
                    <td>{{ product.obj.packing|intcomma }}</td>
                    <td>{{ product.cases }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>

<ul>
    <li class="main-bullet">
        <h3>Order Modifications:</h3>
        <p>
            To ensure the accuracy and prompt processing of your order, we are unable to make any changes
            to your order at this stage.
        </p>
        <p>
            For any additional items, please submit a new purchase order or
            delivery order request. Otherwise, please carefully review before submitting your order.
        </p>
    </li>

    <li class="main-bullet">
        <h3>Inspection upon Delivery:</h3>
        <p>
            Please inspect all packages and goods at the time of delivery. It is the responsibility of the
            receiving party to examine the products at the time of delivery.
        </p>
        <ul>
            <li>
                <p>
                    <em>DAMAGES:</em> If the merchandise is damaged, please refuse and do not accept the
                    product at the time of delivery.
                </p>
                <p>
                    Must indicate &ldquo;DAMAGED&rdquo;, the item # and the total number of cases
                    that are deemed damaged on the bill of lading before signing off.
                </p>
            </li>
            <li>
                <p>
                    <em>SHORTAGES:</em> Products that have NOT been delivered must be signed off as SHORT on the
                    bill of lading. Please indicate the item # and the total number of cases it was shorted.
                </p>
            </li>
        </ul>
    </li>

    <li class="main-bullet">
        <h3>Reporting Damages or Missing Items:</h3>
        <p>
            To report any damage or missing cases, please notify our team right away. All emails must be
            received within 48 hours of receiving your shipment. Claims made outside of this window will
            not be accepted.
        </p>
        <ul>
            <li>
                <p>
                    All emails must be sent to {{ delivery_email }} with subject header
                    &ldquo;Damages/Missing Cases - Delivery Order ID#&rdquo;.
                </p>
            </li>
            <li>
                <p>
                    Must include the Delivery Order ID# along with detailed photos and description of the
                    issue.
                </p>
            </li>
        </ul>

    </li>

    <li class="main-bullet">
        <h3>Transit Time and Business Days:</h3>
        <p>
            Transit days exclusively refer to business days. Ground and Freight services do not include
            the day of pickup, weekends, and holidays as transit days.
        </p>
    </li>

    <li class="main-bullet">
        <h3>Distribution Processing Center Closure:</h3>
        <p>
            Our Distribution Processing Center are closed on Sat-Sun and major holidays.
        </p>
    </li>

    <li class="main-bullet">
        <h3>Return and Restocking Fee:</h3>
        <p>
            A return and restocking fee of $5.00 per case will apply for any returns of refused or
            non-accepted merchandise.
        </p>
    </li>
</ul>

<p>
    Thank you,<br />
    Fulfillment Team
</p>

<p>
    THINK[PACKAGE]<br />
    20 West 22nd St. Suite #706 New York, NY 10010<br />
    telephone:  +1 646-690-5167 | fax: +1212-229-0703<br />
    www.thinkpackage.com
</p>
