{% load humanize %}

<style type="text/css">
    body {
        font-family: sans-serif;
    }
    em {
        font-weight: bold;
    }
    table {
        width: auto;
        margin-bottom: 20px;
        border-collapse: collapse;
    }
    tr {
        border-bottom: 1px solid #e0e0e0;
    }
    th, td {
        font-size: 12px;
        padding: 2px  5px;
        line-height: 14px;
        max-height: 14px;
    }
    th {
        text-align: left;
        background-color: #e0e0e0;
        white-space: nowrap;
    }

    ul {
        margin: 0px 0px 10px;
    }
    li {
        font-size: 12px;
    }
    li.main-bullet {
        margin-bottom: 10px;
    }
    h3 {
        margin: 0px;
        font-style: italic;
        font-size: 14px;
    }
    li p {
        font-style: italic;
        margin: 0px;
    }
</style>

<p>
    Dear Client,
</p>

<p>
    Your delivery order has been received and processed for fulfillment. Please see below for your
    order detail confirmation< and the following:
</p>

    <table>
        <tr>
            <th height="20">Order #</th>
            <th height="20">Client Name</th>
            <th height="20">Location</th>
            <th height="20"></th>
            <th height="20"></th>
            <th height="20">Total Cases</th>
        </tr>
        <tr>
            <td height="20">{{ shipment.id }}</td>
            <td height="20">{{ shipment.client.company_name }}</td>
            <td height="20">{{ shipment.location.name }}</td>
            <td height="20"></td>
            <td height="20"></td>
            <td height="20">{{ shipment.total_cases }}</td>
        </tr>
        <tr> 
            <th height="20">Item #</th>
            <th height="20" colspan="2">Description</th>
            <th height="20">Invoice</th>
            <th height="20">Packing</th>
            <th height="20">Cases</th>
        </tr>
        {% for product in shipment.requested_products %}
            {% if product.cases > 0 %}
                <tr>
                    <td height="20">{{ product.obj.item_number }}</td>
                    <td height="20" colspan="2">{{ product.obj.name }}</td>
                    <td height="20">{{ product.obj.get_accounting_prepay_type_display|default_if_none:"" }}</td>
                    <td height="20">{{ product.obj.packing|intcomma }}</td>
                    <td height="20">{{ product.cases }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

<h3>Order Modifications:</h3>
<ul>
    <li>
        <p>
            To ensure accurate and timely processing, no modifications can be made to orders once they have been 
            submitted. If additional items are required, please submit a new purchase order (PO) or delivery 
            request order (DL). Carefully review your order before submission to avoid any issues.
        </p>
    </li>
</ul>

<h3>Inspection upon Delivery:</h3>
<ul>
    <li>
        <p>
            It is the responsibility of the receiving party to thoroughly inspect all packages and goods 
            immediately upon delivery. Any discrepancies must be noted in the delivery documents (bill of 
            lading) at the time of receipt. In the event of any discrepancies, please capture photos of 
            the pallet and its wrapping as additional documentation.
        </p>
    </li>
</ul>

<h3>DAMAGES:</h3>
<ul>
    <li>
        <p>
            If any merchandise appears damaged, please clearly mark “DAMAGED” along with the item number and 
            total number of affected cases on the bill of lading before signing. Also, take photos of the pallet’s 
            condition upon delivery, along with close-up images of any damaged goods. Retain a copy of the bill of 
            lading with this information for your records. Please keep all damaged boxes until the claim is 
            resolved.
        </p>
    </li>
</ul>
    
<h3>SHORTAGES:</h3>
<ul>
    <li>
        <p>
            If any products are missing, please sign the bill of lading with the notation “SHORT,” specifying 
            the item number and quantity shorted. Please retain a copy of the bill of lading for your records. 
            In the event of any shortages, please also take detailed photos of the pallet and its wrapping.
        </p>
    </li>
</ul>

<h3>Reporting Damages or Missing Items:</h3>
<ul>
    <li>
        <p>
            All reports of damages or missing items must be submitted within 48 hours of delivery receipt to 
            be eligible for review. Claims outside this period will not be accepted.
        </p>
    </li>
    <li>
        <p>
            Email all reports to {{ claims_email }} with the subject line: “Damages/Missing Cases - 
            Delivery Order ID#”.
        </p>
    </li>
    <li>
        <p>
            Include the Delivery Order ID#, detailed photographs, and a description of the issue for prompt 
            processing of your claim.
        </p>
    </li>
</ul>

<h3>Transit Time and Business Days:</h3>
<ul>
    <li>
        <p>
            Please note that transit times apply to business days only. Ground and freight services exclude 
            the day of pickup, weekends, and holidays from transit calculations.
        </p>
    </li>
</ul>

<h3>Distribution Processing Center Closure:</h3>
<ul>
    <li>
        <p>
            Our Distribution Processing Center is closed on Saturdays, Sundays, and recognized holidays. 
            Orders placed on these days will be processed on the next business day.
        </p>
    </li>
</ul>

<h3>Return and Restocking Fee:</h3>
<ul>
    <li>
        <p>
            A return and restocking fee of $5.00 per case will apply for any returns or refused merchandise, 
            including items returned due to damage or shortages not previously reported.
        </p>
    </li>
</ul>

<h3>Additional Limitations of Liability:</h3>
<ul>
    <li>
        <p>
            Thinkpackage is not liable for any delays, misdeliveries, or damages that may occur during transit 
            once products leave our Distribution Processing Center. If you experience any shipping issues, 
            please contact us and we will address your delivery concerns to mitigate any potential impacts on 
            your order.
        </p>
    </li>
</ul>

<p>
    Thank you,<br />
    Fulfillment Team
</p>

<p>
    THINK[PACKAGE]<br />
    20 West 22nd St. Suite #706 New York, NY 10010<br />
    telephone:  +1 646-690-5167 | fax: +1212-229-0703<br />
    www.thinkpackage.com
</p>
